@import '../../../styles/styles.less';

:host {
  display: block;
}

header {
  margin-bottom: 30px;

  .status {
    @mat-card-padding: 16px;

    position: absolute;
    top: @mat-card-padding;
    right: 0;
    margin-right: @mat-card-padding;
  }
}

.weaversync-controls {
  margin-bottom: 40px;
}

.weavers {
  margin-bottom: 50px;

  .weaver {

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    span + button {
      margin-left: 10px;
    }

    .promote {
      .text-small-light;
      display: inline;
      padding-left: 10px;
      color: @blue;

      a {
        color: @blue;

        &:active,
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.sync-status div {

  h1,
  span {
    flex: 1;
    max-width: 170px;
    color: @dark-grey;
    text-align: center;

    &:not(:nth-child(4)) {
      margin-right: 60px;
    }

    &:first-child {
      max-width: 130px;
    }

    &:nth-child(3) {
      margin-right: 20px;
    }

    &:nth-child(4) {
      overflow: hidden;
      max-width: 300px;
      padding-right: 1px;
      color: @red;
      text-overflow: ellipsis;
      white-space: nowrap;

      mat-icon,
      em {
        vertical-align: middle;
      }

      em {
        margin-left: 5px;
        color: @red;
      }
    }
  }

  h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
  }

  h1,
  span:first-child,
  &.header span {
    color: @pure-black;
  }

  h1,
  span:first-child,
  span:nth-child(4),
  &.header span:first-child {
    text-align: left;
  }

  &.header span {
    &:extend(.letter-spacing-small-negative);
    &:extend(.text-size-alternative-2);

    &:first-child {
      &:extend(.font-weight-bold);
    }
  }
}
