<header>
  <span class="badge state status" [ngClass]="{
    grey: (statusState === WeaverSyncStatusState.DISABLED || !statusState),
    blue: (statusState !== WeaverSyncStatusState.DISABLED)}">
    <div>status: {{ statusState === WeaverSyncStatusState.DISABLED || !statusState ? 'disabled' : 'enabled' }}</div>
    <div *ngIf="statusState !== WeaverSyncStatusState.DISABLED">
      mode: {{ weaverMode === WeaverSyncConfigMode.ACTIVE ? 'active' : weaverMode === WeaverSyncConfigMode.STANDBY ?
      'standby' : 'disabled' }}
    </div>
  </span>
</header>

<ng-container *ngIf="(statusState === WeaverSyncStatusState.DISABLED || !statusState) && isSystemUser$ | async; else configForm">
  <p>Not configured</p>
</ng-container>
<ng-template #configForm>
  <form id="config-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Active Weaver ID</mat-label>
        <input matInput placeholder="Enter id" formControlName="activeWeaverID">
        <mat-error>Active weaver ID is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Active Weaver Address</mat-label>
        <input matInput placeholder="Enter url" formControlName="activeWeaver">
        <mat-error *ngIf="form.get('activeWeaver').hasError('pattern')">
          Please enter a valid url
        </mat-error>
        <mat-error *ngIf="form.get('activeWeaver').hasError('required')">
          Active weaver address is required
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Standby Weaver ID</mat-label>
        <input matInput placeholder="Enter id" formControlName="standbyWeaverID">
        <mat-error>Standby weaver ID is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Standby Weaver Address</mat-label>
        <input matInput placeholder="Enter url" formControlName="standbyWeaver">
        <mat-error *ngIf="form.get('standbyWeaver').hasError('pattern')">
          Please enter a valid url
        </mat-error>
        <mat-error *ngIf="form.get('standbyWeaver').hasError('required')">
          Standby weaver address is required
        </mat-error>
      </mat-form-field>
    </div>
    <button *ngIf="isSystemAdmin$ | async" form="config-form" mat-flat-button type="submit" color="primary" [disabled]="form.pristine">
      Enable
    </button>
  </form>
</ng-template>

<div *ngIf="statusState === WeaverSyncStatusState.ACTIVE || statusState === WeaverSyncStatusState.STANDBY">
  <div class="weaversync-controls" fxLayoutAlign="start center" fxLayoutGap="25px" *ngIf="isSystemAdmin$ | async">
    <button mat-flat-button color="primary" (click)="onDisable()">Disable</button>

    <mat-checkbox (change)="onForceDisableChange($event)">Force</mat-checkbox>
  </div>

  <div class="weavers">
    <div class="weaver" fxLayoutAlign="start center" fxLayoutGap="25px" *ngFor="let weaver of weavers">
      <div class="badge" fxFlex="80px" [ngClass]="{
        green: (weaver.mode === WeaverSyncConfigMode.ACTIVE),
        grey: (weaver.mode === WeaverSyncConfigMode.STANDBY)
      }">
        {{ weaver.mode === WeaverSyncConfigMode.ACTIVE
            ? 'active'
            : weaver.mode === WeaverSyncConfigMode.STANDBY ? 'standby' : 'disabled' }}
      </div>

      <div fxFlex="auto">
        <span>{{ weaver.endpoint }}</span>

        <ng-container *ngIf="weaver.mode === WeaverSyncConfigMode.STANDBY && isSystemAdmin$ | async">
          <button mat-button color="primary" *ngIf="weaverMode === WeaverSyncConfigMode.STANDBY; else promote"
            (click)="onPromoteWeaver(weaver)">Promote to active</button>

          <ng-template #promote>
            <p class="promote">
              To promote to active, click <a [href]="standbyWeaver.endpoint">here</a> and login to the standby weaver.
            </p>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="sync-status" *ngIf="statusState === WeaverSyncStatusState.ACTIVE" fxLayout="column" fxLayoutGap="15px">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
      <span>Sync Status</span>
      <span>Last succeded</span>
      <span>Last attempted</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <h1>WeaverSync Config</h1>

      <span>{{ (weaverConfigSyncStatus?.lastSucceededAt | date:'medium') || '–' }}</span>
      <span>{{ (weaverConfigSyncStatus?.lastAttemptedAt | date:'medium') || '–' }}</span>
      <span *ngIf="weaverConfigSyncStatus?.error">
        <mat-icon [matTooltip]="weaverConfigSyncStatus.error" matTooltipPosition="after">error_outline</mat-icon>
        <em>{{ weaverConfigSyncStatus.error }}</em>
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <h1>Services/NFs</h1>

      <span>{{ (servicesSyncStatus?.lastSucceededAt | date:'medium') || '–' }}</span>
      <span>{{ (servicesSyncStatus?.lastAttemptedAt | date:'medium') || '–' }}</span>
      <span *ngIf="servicesSyncStatus?.error">
        <mat-icon [matTooltip]="servicesSyncStatus.error" matTooltipPosition="after">error_outline</mat-icon>
        <em>client error: failed to load weaver</em>
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <h1>Accounts</h1>

      <span>{{ (accountsStatus?.lastSucceededAt | date:'medium') || '–' }}</span>
      <span>{{ (accountsStatus?.lastAttemptedAt | date:'medium') || '–' }}</span>
      <span *ngIf="accountsStatus?.error">
        <mat-icon [matTooltip]="accountsStatus.error" matTooltipPosition="after">error_outline</mat-icon>
        <em>{{ accountsStatus.error }}</em>
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <h1>Files</h1>
      <span>{{ (filesStatus?.lastSucceededAt | date:'medium') || '–' }}</span>
      <span>{{ (filesStatus?.lastAttemptedAt | date:'medium') || '–' }}</span>
      <span *ngIf="filesStatus?.error">
        <mat-icon [matTooltip]="filesStatus.error" matTooltipPosition="after">error_outline</mat-icon>
        <em>client error: failed to load weaver</em>
      </span>
    </div>
  </div>
</div>
