<mat-form-field appearance="fill">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <div fxLayout="row" fxLayoutAlign="center center">
    <span matPrefix (click)="onClose()">{{ '{&nbsp;&nbsp;&nbsp;}' }}</span>
    <input matInput [placeholder]="placeholder" [formControl]="control" [matAutocomplete]="auto" [attr.aria-label]="ariaLabel"
      (input)="onInput()" (keydown.enter)="onEnter()">
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </div>

  <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="autoActiveFirstOption"
    (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngFor="let option of options$ | async" [value]="option">{{ option }}</mat-option>
  </mat-autocomplete>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>

  <mat-error>Not a <strong>valid</strong> variable name</mat-error>
</mat-form-field>
