@import '../../../styles/styles.less';

mat-form-field {
  align-items: center;
}

span[matPrefix] {
  background-color: @light-sea-green;
  border-radius: 5px 0 0 5px;
  border-right: none;
  margin: 0 10px 0 -12px;
  padding: 6px;
  color: @pure-white;
  .text-size-alternative;
  font-weight: 500;
  cursor: pointer;
}

mat-icon[matSuffix] {
  cursor: pointer;
}

input {
  height: 20px;
}
