@import '../../../styles/styles.less';

@transition-speed: 0.25s;

fieldset.toggle input:checked+span {
  color: @font-black;
}

fieldset.toggle {
  .text-extra-small-size-alternative;
  .letter-spacing-medium;
  position: relative;
  display: inline-block;
  height: 25px;
  width: 170px;
  padding: 3px;
  border: none;
  border-radius: 16px;
  background-color: @soft-grey;
  line-height: 26px;
  cursor: pointer;
}

fieldset.toggle .slider {
  display: block;
  background-color: @pure-white;
  width: 48%;
  height: inherit;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 50%;
  border-radius: 3em;
  transition: all @transition-speed cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

fieldset.toggle input {
  display: none;
}

fieldset.toggle span {
  .font-weight-bold;
  z-index: 1;
  position: relative;
  display: block;
  width: 50%;
  color: @dark-grey;
  line-height: inherit;
  text-align: center;
  text-transform: uppercase;
  transition: color @transition-speed;
  pointer-events: none;
}

fieldset.toggle span.slider {
  z-index: 0;
}

fieldset.toggle span:nth-of-type(2) {
  position: absolute;
  right: 0px;
  top: 3px;
}

fieldset.toggle input:last-of-type:checked~.slider {
  left: 50%;
}
