<form>
  <fieldset class="toggle" (click)="onToggle()">
    <input class="left-value" type="radio" name="type" [value]="leftValue" checked #left>
    <span class="left-label">{{ leftLabel }}</span>
    <input class="right-value" type="radio" name="type" [value]="rightValue" #right>
    <span class="right-label">{{ rightLabel }}</span>
    <span class="slider"></span>
  </fieldset>
</form>
