<form id="edge-form" [formGroup]="form" (ngSubmit)="submitForm()" fxLayout="column" fxLayoutGap="10px">
  <h5>Traffic Direction</h5>

  <div fxLayout="row">
    <button mat-button type="button" class="direction" [class.active]="trafficDirection === EdgeDirection.Both"
      (click)="onChangeEdgeDirection(EdgeDirection.Both)">
      <img src="assets/icon-edge-direction-both.svg" width="60" height="11">
    </button>

    <button mat-button type="button" class="direction" [class.active]="trafficDirection === EdgeDirection.Downward"
      (click)="onChangeEdgeDirection(EdgeDirection.Downward)">
      <img src="assets/icon-edge-direction-downward.svg" width="60" height="11">
    </button>

    <button mat-button type="button" class="direction" [class.active]="trafficDirection === EdgeDirection.Upward"
      (click)="onChangeEdgeDirection(EdgeDirection.Upward)">
      <img src="assets/icon-edge-direction-upward.svg" width="60" height="11">
    </button>
  </div>
  <h5>Traffic Filters (BPF)</h5>

  <div class="traffic-filter" fxLayoutGap="10px" *ngIf="activeEdge?.filterAb">

    <img src="assets/icon-edge-direction-upward.svg" width="30" height="11" fxFlexAlign="center">
    <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
      <input placeholder="Enter A-B Traffic Filter" matInput formControlName="filterAtoB">
    </mat-form-field>
  </div>

  <div class="traffic-filter" fxLayoutGap="10px" *ngIf="activeEdge?.filterBa">
    <img src="assets/icon-edge-direction-downward.svg" width="30" height="11" fxFlexAlign="center">
    <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
      <input placeholder="Enter B-A Traffic Filter" matInput formControlName="filterBtoA">
    </mat-form-field>
  </div>

  <div class="actions" fxLayout="row" fxLayoutGap="15px">
    <button mat-button type="button" mat-stroked-button (click)="onDeleteEdge()">Delete Edge</button>
    <button mat-button color="primary" mat-flat-button type="button" (click)="submitForm()">Update</button>
  </div>
</form>
