@import '../../../styles/styles.less';

:host {
  display: block;
}

button.direction {
  height: 24px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    cursor: pointer;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &.direction {
    border-radius: 4px;
    background-color: @bg-grey;
    border: 1px solid @soft-grey;
    box-shadow: 0 2px 8px 0 fade(@black, 4%);

    &.active {
      background-color: @soft-green;
    }
  }

  img {
    vertical-align: super;
  }
}
