@import '../../styles/styles.less';

:host {
  display: block;
}

.container {
  background: @pure-white;

  .tab-icon {
    width: 100%;
  }

  .tab-chart-container {
    width: 100%;
    height: 50px;
  }

  .chart-container {
    padding: 50px 0px 30px 0px;
    height: 300px;
  }
}
