<div class="container">
  <mat-tab-group (selectedIndexChange)="selectedMenuIndex=$event">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-title">Throughput</div>
        <div class="tab-chart-container">
          <nef-chart-line [enableTooltips]=false [enableCrosshair]=false [displayGrid]=false [dataSets]="throughputDataSets"
            #throughputTabChart></nef-chart-line>
        </div>
      </ng-template>
      <nef-chart-throughput [startTime]="startTime" [selectedRate]="rate" [active]="active" [yAxesUnits]="UnitType.BitRate"
        [cluster]="clusterId" (zoomEvent)="onZoomEvent($event)"></nef-chart-throughput>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-title">Latency</div>
        <div class="tab-chart-container">
          <nef-chart-line [enableTooltips]=false [enableCrosshair]=false [displayGrid]=false [dataSets]="latencyDataSets" #latencyTabChart>
          </nef-chart-line>
        </div>
      </ng-template>
      <nef-chart-latency [selectedPipelines]="selectedPipelines" [startTime]="startTime" [selectedRate]="rate" [active]="active"
        [yAxesUnits]="UnitType.Time" [cluster]="clusterId" (zoomEvent)="onZoomEvent($event)">
      </nef-chart-latency>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab-title">Loss</div>
        <div class="tab-chart-container">
          <nef-chart-line [enableTooltips]=false [enableCrosshair]=false [displayGrid]=false [dataSets]="packetLossDataSets"
            #packetLossTabChart></nef-chart-line>
        </div>
      </ng-template>
      <nef-chart-packetloss [selectedPipelines]="selectedPipelines" [startTime]="startTime" [selectedRate]="rate" [active]="active"
        [yAxesUnits]="UnitType.PacketRate" [cluster]="clusterId" (zoomEvent)="onZoomEvent($event)">
      </nef-chart-packetloss>
    </mat-tab>
  </mat-tab-group>
</div>
