<p>
  Packets entering the site ‘{{site?.name}}’ matching these settings will be delivered to this service on this edge. Packets leaving the
  site through this edge will be encapsulated according to these settings.
</p>

<form id="tunnel-form" [formGroup]="tunnelForm" fxLayout="column" (ngSubmit)="onFormSubmit()">
  <mat-checkbox (change)="onUseTunnelChange($event.checked)">Use preset configuration</mat-checkbox>

  <section *ngIf="mode === ModeType.NEW; else existing" fxLayout="column" [fxLayoutGap]="isTemplate ? '0' : '25px'">
    <ng-container *ngIf="isTemplate; else inputForm">
      <mat-label>Name</mat-label>
      <nef-template-input placeholder="Enter tunnel name" [variables]="templateVars" (docChange)="setFormData('name', $event)">
      </nef-template-input>
    </ng-container>
    <ng-template #inputForm>
      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow" fxFlex="0 1 calc(50% - 12.5px)">
        <mat-label>Name</mat-label>
        <input placeholder="Enter tunnel name" matInput formControlName="name">
        <mat-error>Tunnel name is <strong>required</strong></mat-error>
      </mat-form-field>
    </ng-template>

    <mat-form-field appearance="standard" floatLabel="always" fxFlex="0 1 calc(50% - 12.5px)">
      <mat-label>Attachment</mat-label>
      <mat-select placeholder="Select attachment" formControlName="attachment">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let attachment of attachments" [value]="attachment.identifier">{{ attachment.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <nef-encap [formGroup]="encapForm" [encap]="tunnelEncap" [isTemplate]="isTemplate"></nef-encap>

    <div>
      <button type="submit" form="tunnel-form" mat-flat-button color="primary" [disabled]="tunnelForm.pristine">Update</button>
    </div>
  </section>

  <ng-template #existing>
    <div class="table-container">
      <nef-table class="compact" [columns]="columns" [data]="dataSource" (rowClick)="onSelectTunnel($any($event))" [clickable]="true">
      </nef-table>
    </div>
  </ng-template>
</form>
