@import '../../../styles/styles.less';

:host {
  display: block;
}

p {
  margin-bottom: 50px;
}

.table-container {
  height: 100vh;
  overflow: auto;
}

mat-checkbox{
  margin-bottom: 20px;
}

mat-label {
  .mat-label-text;
  margin-bottom: 0px;
}
