@import '../../../styles/styles.less';

.mat-card {
  padding: 16px;

  &:first-child {
    margin-bottom: 24px;
    padding-bottom: 6px;
  }
}

header {
  margin-bottom: 24px;

  h3 {
    .h6-bold;
    margin: 0;
    line-height: 24px;
  }

  span {
    .text-small;
    .letter-spacing-extra-small-alternative;
  }
}
