<mat-card>
  <header fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Socket {{ titleIndex }}</h3>
    <span>{{ coresRate | percent }} Available</span>
  </header>

  <nef-cell-grid [hoverMode]="true" [activeCells]="activeCores" [cells]="cores" (cellHover)="memory.updateCellsClasses($event)">
  </nef-cell-grid>
</mat-card>

<mat-card>
  <header fxLayout="row" fxLayoutAlign="space-between center">
    <h3>NF Memory</h3>
    <span>{{ memoryRate | percent }} Available</span>
  </header>

  <nef-memory-meter #memory [totalMemory]="totalMemory" [nFsMemory]="nFsMemory"></nef-memory-meter>
</mat-card>
