<h2>SNMP</h2>

<mat-card>
  <mat-card-content>
    <form id="snmp-form" [formGroup]="snmpForm" (ngSubmit)="submitSNMPForm()" fxLayout="column">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Community</mat-label>
        <input placeholder="Enter community" matInput formControlName="community">
        <mat-error>
          Community is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Target</mat-label>
        <input placeholder="Enter target" matInput formControlName="target">
        <mat-error>
          Target is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button *ngIf="isSystemAdmin$ | async" form="snmp-form" mat-flat-button color="primary">Save</button>
  </mat-card-actions>
</mat-card>
