@import '../../../styles/styles.less';

h2 {
  .h4-size;
  .font-weight-normal;
}

.notifications {
  max-height: 500px;
  overflow-y: auto;

  mat-card {
    width: 400px;
    margin: 15px 0;

    mat-card-title {
      &:extend(.text-size);
    }

    mat-card-content {
      &:extend(.text-size);
      &:extend(.font-weight-light);
      color: @dark-grey;
    }
  }
}

.empty {
  &:extend(.text-size);
  &:extend(.font-weight-light);
  color: @dark-grey;
}
