@import '../../../styles/styles.less';

.error-message {
  .font-weight-normal;
  .text-small-size;
  .letter-spacing-extra-small;
  color: @font-negative;

  &::first-letter{
    text-transform: capitalize;
  }
}

.forgot-password {
  .text-size;
  .font-weight-bold;
  .letter-spacing-extra-small-negative;
  color: @blue;
  text-decoration: none;
  text-transform: lowercase;

  &::first-letter{
    text-transform: capitalize;
  }
}
