<mat-card>
  <mat-card-header>
    <mat-card-title>Log In</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" fxLayout="column">
      <mat-form-field appearance="standard" floatLabel="always">
        <input placeholder="Enter your username" autofocus matInput formControlName="username">
        <mat-label>Username</mat-label>
        <mat-error [innerHTML]="usernameErrorMessage"></mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" floatLabel="always">
        <input type="password" placeholder="Enter your password" matInput formControlName="password">
        <mat-label>Password</mat-label>
        <mat-error [innerHTML]="passwordErrorMessage"></mat-error>
      </mat-form-field>
    </form>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

    <mat-spinner diameter="50" *ngIf="loading" fxFlexAlign="center"></mat-spinner>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="74px">
    <a routerLink="/auth/password-recovery" class="forgot-password" fxFlex="0 1 auto">Forgot password?</a>

    <button type="submit" form="login-form" mat-flat-button color="primary" fxFlex [disabled]="loginForm.pristine">Log
      In</button>
  </mat-card-actions>
</mat-card>
