@import '../../../styles/styles.less';

[mat-dialog-title] {
  .h4-bold;
}

button.profile-manager {
  .text-extra-small-size;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  cursor: pointer;

  img {
    margin-right: 8px;
    vertical-align: -4px;
  }
}

mat-dialog-content {
  @form-field-gap: 25px;

  margin-bottom: 20px;

  form >,
  mat-accordion fieldset {

    & mat-form-field {
      width: calc(50% - @form-field-gap / 2);
    }
  }

  mat-accordion {
    margin-top: unset;

    fieldset {
      margin: unset;
      padding: unset;
      border: unset;

      legend {
        display: none;
      }

      mat-form-field {

        &:nth-of-type(even):not([formArrayName]) {
          margin-left: @form-field-gap;
        }

        & + button[mat-icon-button] {
          margin-left: 2px;
        }
      }

      mat-radio-group {
        display: block;
        margin-bottom: 20px;
      }

      div[formArrayName] + button {
        &:extend(.text-size-alternative-2);
        &:extend(.font-weight-bold);
        padding: 0 2px;

        img,
        span {
          vertical-align: middle;
        }

        img {
          margin-right: 10px;
        }

        span {
          color: @blue;
          line-height: 36px;
        }
      }
    }
  }

  [formGroupName] {
    position: relative;

    & > mat-error {
      .text-small-size;
      position: absolute;
      bottom: 20px;
    }
  }
}

mat-dialog-actions button {
  width: 130px;
}
