<h1 mat-dialog-title>{{ site ? 'Edit' : 'Add New' }} Site</h1>

<mat-dialog-content>
  <form id="site-form" [formGroup]="siteForm" (ngSubmit)="submitSiteForm()" fxLayout="column">
    <div fxLayoutGap="25px">
      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
        <mat-label>Name</mat-label>
        <input placeholder="Enter site name" matInput formControlName="name">
        <mat-error>
          Site name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
        <mat-label>URL</mat-label>
        <input placeholder="Enter management URL" matInput formControlName="url">
        <mat-error *ngIf="siteForm.get('url').hasError('required')">
          URL is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="siteForm.get('url').hasError('pattern')">
          Not a <strong>valid</strong> URL (<em>http[s]://host[:port]</em>)
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayoutGap="25px">
      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
        <mat-label>VLAN Tag</mat-label>
        <input type="number" placeholder="Enter management VLAN tag" matInput formControlName="vlanTag">
        <mat-error>VLAN tag is <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Type</mat-label>
        <mat-select placeholder="Select site type" formControlName="type" (selectionChange)="onSiteTypeSelectionChange($event.value)">
          <mat-option *ngFor="let type of siteTypes | slice:1" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="start center">
      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
        <mat-label>Provisioning ID</mat-label>
        <input placeholder="Enter unique provisioning ID" matInput formControlName="provisioningId">
        <mat-error *ngIf="siteForm.get('provisioningId').hasError('required')">
          Provisioning ID is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div formGroupName="profiles" *ngIf="siteForm.get('type').value === SiteConfigSiteType.UCPE">
      <div fxLayoutAlign="start baseline" fxLayoutGap="25px">
        <mat-form-field appearance="standard" floatLabel="always" fxFlex="0 1 calc(50% - 12.5px)">
          <mat-label>Hardware Profile</mat-label>
          <mat-select placeholder="Select profile" formControlName="hardware"
            (selectionChange)="onHardwareProfileIDSelectionChange($event.value)">
            <mat-option *ngFor="let profile of hardwareProfiles" [value]="profile.identifier">{{ profile.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="siteForm.get('profiles.hardware').hasError('required')">
            Hardware profile is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button type="button" class="profile-manager" mat-button (click)="onHardwareProfilesEditClick($event)">
          <img src="assets/icon-edit.svg" width="16" height="16">
          <ng-container>Hardware Profile Manager</ng-container>
        </button>
      </div>

      <div fxLayoutAlign="start baseline" fxLayoutGap="25px">
        <mat-form-field appearance="standard" floatLabel="always" fxFlex="0 1 calc(50% - 12.5px)">
          <mat-label>Software Profile</mat-label>
          <mat-select placeholder="Select profile" formControlName="software">
            <mat-option *ngFor="let profile of softwareProfiles" [value]="profile.identifier">{{ profile.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button type="button" class="profile-manager" mat-button [disabled]="!softwareProfiles" (click)="onSoftwareProfilesManagerOpen()">
          <img src="assets/icon-edit.svg" width="16" height="16">
          <ng-container>Software Profile Manager</ng-container>
        </button>
      </div>
    </div>

    <mat-accordion [multi]="true">
      <mat-expansion-panel #dataPlanePanel>
        <mat-expansion-panel-header>
          <mat-panel-title>Data Plane Connectivity</mat-panel-title>
          <mat-panel-description>Enter Data Plane Connectivity</mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <fieldset formGroupName="dataPlaneConnectivity">
            <legend>Data Plane Connectivity</legend>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>VLAN ID</mat-label>
              <input type="number" placeholder="Enter VLAN ID" matInput formControlName="vlan">
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Public IP</mat-label>
              <input placeholder="Enter IP address" matInput formControlName="ip">
              <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.ip').hasError('required')">
                IP is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.ip').hasError('pattern')">
                Not a <strong>valid</strong> IP address (<em>1.1.1.1</em>)
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Gateway MAC</mat-label>
              <input placeholder="Enter MAC address" matInput formControlName="mac">
              <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.mac').hasError('required')">
                MAC is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.mac').hasError('pattern')">
                Not a <strong>valid</strong> MAC address
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>VXLAN Port</mat-label>
              <input type="number" [min]="UDPPortRange.Min" [max]="UDPPortRange.Max" placeholder="Enter VXLAN Port" matInput
                formControlName="vxlanPort" (keydown)="onNumberInputKeydown($event)">
              <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.vxlanPort').hasError('min')">
                UDP port minimum value is <strong>{{ UDPPortRange.Min }}</strong>
              </mat-error>
              <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.vxlanPort').hasError('max')">
                UDP port maximum value is <strong>{{ UDPPortRange.Max }}</strong>
              </mat-error>
            </mat-form-field>

            <fieldset formGroupName="vniRange">
              <legend>VNI Range</legend>

              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>VNI Range Start</mat-label>
                <input type="number" min="0" placeholder="Enter VNI range start" matInput formControlName="start">
                <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.vniRange.start').hasError('required')">
                  VNI range start is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.vniRange.start').hasError('min')">
                  VNI range start minimum value is <strong>0</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="standard" floatLabel="always">
                <mat-label>VNI Range End</mat-label>
                <input type="number" min="0" placeholder="Enter VNI range end" matInput formControlName="end">
                <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.vniRange.end').hasError('required')">
                  VNI range end is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.vniRange.end').hasError('min')">
                  VNI range end minimum value is <strong>0</strong>
                </mat-error>
              </mat-form-field>

              <mat-error *ngIf="siteForm.get('dataPlaneConnectivity.vniRange').hasError('vniRange')">
                VNI range end value must be higher than start value
              </mat-error>
            </fieldset>
          </fieldset>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel #wanIPPanel
        [disabled]="siteForm.get('type').value !== SiteConfigSiteType.UCPE || !siteForm.get('profiles.hardware').value">
        <mat-expansion-panel-header>
          <mat-panel-title>WAN IP</mat-panel-title>
          <mat-panel-description>Enter WAN IP Configuration</mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <fieldset formGroupName="wanIP">
            <legend>WAN IP</legend>

            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Interface</mat-label>
              <mat-select placeholder="Select interface" formControlName="bond">
                <mat-option *ngFor="let bond of wanBonds" [value]="bond.identifier">
                  <ng-container *ngFor="let device of bond.bond.devices; last as isLast">
                    {{ device }}
                    <ng-container *ngIf="!isLast">;</ng-container>
                  </ng-container>
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-radio-group aria-label="Select a WAN type" formControlName="type" (change)="onWanTypeChange($event)">
              <mat-radio-button [value]="WANIPType.Static">{{ WANIPType.Static }}</mat-radio-button>
              <mat-radio-button [value]="WANIPType.DHCP">{{ WANIPType.DHCP }}</mat-radio-button>
              <mat-error *ngIf="siteForm.get('wanIP.type').hasError('required')" class="text-small-size">
                Specify a WAN type
              </mat-error>
            </mat-radio-group>

            <ng-container [ngSwitch]="siteForm.get('wanIP.type').value">
              <fieldset formGroupName="static" *ngSwitchCase="WANIPType.Static">
                <legend>{{ WANIPType.Static }}</legend>

                <mat-form-field appearance="standard" floatLabel="always">
                  <mat-label>IP</mat-label>
                  <input placeholder="Enter IP" matInput formControlName="ip">
                  <mat-error *ngIf="siteForm.get('wanIP.static.ip').hasError('pattern')">
                    IP must be in CIDR notation
                  </mat-error>
                  <mat-error *ngIf="siteForm.get('wanIP.static.ip').hasError('required')">
                    IP is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" floatLabel="always">
                  <mat-label>Default Gateway</mat-label>
                  <input placeholder="Enter default gateway" matInput formControlName="defaultGateway">
                  <mat-error *ngIf="siteForm.get('wanIP.static.defaultGateway').hasError('required')">
                    Default Gateway is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <div formArrayName="dns" *ngFor="let dns of staticDNS.controls; index as i">
                  <mat-error *ngIf="siteForm.get('wanIP.static.dns').hasError('required')" class="text-small-size">
                    At least one DNS server is <strong>required</strong>
                  </mat-error>
                  <mat-form-field appearance="standard">
                    <input placeholder="Enter DNS address" matInput [formControlName]="i">
                  </mat-form-field>

                  <button aria-label="Remove DNS" title="Remove DNS" mat-icon-button (click)="onRemoveStaticDNS(i)">
                    <img src="assets/icon-trash.svg" width="16" height="16">
                  </button>
                </div>

                <button type="button" color="primary" (click)="onAddStaticDNS()">
                  <img src="assets/icon-add-square-blue.svg" width="16" height="16">
                  <span>Add DNS</span>
                </button>
              </fieldset>

              <fieldset formGroupName="dhcp" *ngSwitchCase="WANIPType.DHCP">
                <div formArrayName="dns" *ngFor="let dns of dhcpDNS.controls; index as i">
                  <mat-form-field appearance="standard">
                    <input placeholder="Enter DNS address" matInput [formControlName]="i">
                  </mat-form-field>

                  <button aria-label="Remove DNS" title="Remove DNS" mat-icon-button (click)="onRemoveDHCPDNS(i)">
                    <img src="assets/icon-trash.svg" width="16" height="16">
                  </button>
                </div>

                <button type="button" color="primary" (click)="onAddDHCPDNS()">
                  <img src="assets/icon-add-square-blue.svg" width="16" height="16">
                  <span>Add DNS</span>
                </button>
              </fieldset>
            </ng-container>
          </fieldset>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

  <button type="submit" form="site-form" mat-flat-button color="primary" [disabled]="siteForm.pristine">Complete</button>
</mat-dialog-actions>
