<header fxLayoutAlign="space-between center">
  <h2>Users</h2>

  <ng-container *ngIf="selectedUsers?.length">
    <!-- TODO(eric): remove ability to bulk change roles until ready
    <button mat-button (click)="onChangeUserRoles()">
      <img src="assets/icon-change.svg" width="16" height="16">
      <span>Change Roles</span>
    </button>

    <mat-divider [vertical]="true"></mat-divider>
    -->
    <button class="remove-button" mat-button (click)="onRemoveUsers()" *ngIf="isAdmin$ | async">
      <img src="assets/icon-trash-blue.svg" width="16" height="16">
      <span>Remove</span>
    </button>
  </ng-container>

  <button *ngIf="isAdmin$ | async" class="add" mat-flat-button color="primary" (click)="onAddUser()">
    <span>Add New User</span>
    <img src="assets/icon-add-square-white.svg" width="16" height="16">
  </button>
</header>

<nef-table class="compact" [clickable]="true" [columns]="(isSystem$ | async) ? columns : columns | slice:0:columns.length - 1"
  [dataSource]="dataSource" [canEditUser]="isAdmin$ | async" *ngIf="dataSource.length; else noUsers" (rowsSelect)="onSelectUsers($event)"
  (userEdit)="onEditUser($event)" [pagination]="true">
</nef-table>

<ng-template #noUsers>
  <p class="no-users">
    No users
  </p>
</ng-template>
