<nav>
  <nef-back-button [link]="backPath">
    <ng-container>Slack Accounts</ng-container>
  </nef-back-button>
</nav>

<h4>{{ uuid ? 'Edit' : 'Connect' }} slack</h4>

<form id="slack-form" [formGroup]="slackForm" (ngSubmit)="submitSlackForm()" fxLayout="column">
  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>Configuration Name</mat-label>
    <input placeholder="Configuration name" matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>API URL</mat-label>
    <input placeholder="https://" matInput formControlName="url">
  </mat-form-field>

  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>Slack Channel</mat-label>
    <input placeholder="#" matInput formControlName="channel">
  </mat-form-field>

  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>Username</mat-label>
    <input placeholder="Username" matInput formControlName="username">
    <mat-error>
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <h5>Alert Types</h5>

  <p class="description">Specific Alert Types to Send</p>

  <div formArrayName="alerts">
    <mat-checkbox [formControlName]="i" *ngFor="let alert of alerts.controls; index as i">
      {{ notifications[i].name | titlecase }}
    </mat-checkbox>
  </div>

  <h5>Alert Classes</h5>

  <p class="description">Specific Alert Classes to Send</p>

  <div formArrayName="classes" fxLayout="row wrap">
    <div *ngFor="let type of classes.controls; index as i" fxFlex="25">
      <mat-checkbox [formControlName]="i">{{ classStates[i].name | alertclass }}</mat-checkbox>
    </div>
  </div>
</form>

<div class="actions" fxLayoutGap="25px">
  <button type="submit" form="slack-form" mat-flat-button color="primary"
    [disabled]="slackForm.pristine">{{ uuid ? 'Edit' : 'Connect' }}</button>

  <a [routerLink]="backPath" mat-button>Cancel</a>
</div>
