@import '../../../styles/styles.less';

:host {
  width: 385px;
}

nav {
  margin-bottom: 20px;
}

h4 {
  .h4-size;
  font-weight: @font-weight-normal;
  margin-bottom: 30px;
}

.mat-form-field {
  margin-bottom: 0;
}

h5 {
  .text-size;
  font-weight: @font-weight-bold;
  margin-bottom: 0;
}

.description {
  .text-extra-small;
  display: inline-block;
  color: @dark-grey;
  margin-bottom: 25px;
}

mat-checkbox {
  margin-right: 25px;
}

.actions {
  margin-top: 30px;

  button {
    margin-right: 15px;
  }
}

[formArrayName=alerts] {
  margin-bottom: 20px;
}
