@import '../../../styles/styles.less';

:host {
  display: block;
}

.variable {
  margin: 1px;
  padding: 2px;
  background-color: @pale-orange;
  border: @strong-orange 1px solid;
  border-radius: 5px;
}

.variable-button {
  width: 33px;
  height: 30px;
  z-index: @zindex-top;
  position: absolute;
  top: 13px;
  right: 17px;
  padding: 5px;
  background-color: @light-sea-green;
  color: @pure-white;
  border: 1px solid @light-sea-green;
  border-radius: 5px;
  .text-size-alternative;
  font-weight: @font-weight-bold;
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

.variable-select {
  z-index: @zindex-top;
  position: absolute;
  top: 13px;
  right: 17px;
}
