<ng-container *ngIf="formControlName; else noFormTmpl">
  <mat-form-field [appearance]="appearance" [formGroup]="formGroup" fxFlex="grow">
    <nef-codemirror [class.show-variable-select]="showVariableSelect" [formControlName]="formControlName" [options]="options"
      [placeholder]="placeholder" [value]="value" (docChange)="onDocChange($event)" (focusChange)="onFocusChange($event)" #codemirror>
    </nef-codemirror>
    <ng-container *ngTemplateOutlet="variablesTmpl"></ng-container>
  </mat-form-field>
</ng-container>

<ng-template #noFormTmpl>
  <mat-form-field [appearance]="appearance" fxFlex="grow">
    <nef-codemirror [class.show-variable-select]="showVariableSelect" [options]="options" [placeholder]="placeholder" [value]="value"
      (docChange)="onDocChange($event)" (focusChange)="onFocusChange($event)" #codemirror>
    </nef-codemirror>
    <ng-container *ngTemplateOutlet="variablesTmpl"></ng-container>
  </mat-form-field>
</ng-template>

<ng-template #variablesTmpl>
  <button type="button" *ngIf="!showVariableSelect" class="variable-button"
    (click)="onVariableBtnClick($event)">{{ '{&nbsp;&nbsp;&nbsp;}' }}</button>
  <nef-template-select *ngIf="showVariableSelect" class="variable-select" [variables]="variables"
    (optionSelected)="onVariableSelectChange($event)"></nef-template-select>
</ng-template>
