<div [ngClass]="{'container': true, 'disabled': disabled}" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false"
  (click)="buttonClick()" fxLayoutAlign="center center">
  <label [ngClass]="{'button-active': isOpen}" #menuButton="cdkOverlayOrigin" cdkOverlayOrigin>{{label}}</label>
  <img *ngIf="icon || activeIcon" [src]="isHovered || isOpen ? activeIcon : icon" />
</div>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" [cdkConnectedOverlayOrigin]="menuButton"
  [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOpen]="isOpen" [cdkConnectedOverlayPositions]="connectedPositions"
  (backdropClick)="onBackdropClick()">
  <mat-card>
    <ng-content></ng-content>
  </mat-card>
</ng-template>
