@import '../../../styles/styles.less';

:host {
  display: flex;
  align-items: center;
}

.container {
  .h6;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  label {
    margin-right: 5px;
    cursor: pointer;
  }
}

.container:hover,
.button-active {
  border: none;
  outline: none;
  color: @soft-blue;
}

.container.disabled {
  pointer-events: none;
  filter: opacity(0.3);
}

mat-card {
  .arrow-top;
  padding: 16px;
}
