<button class="container" [class.button-active]="isOpen" fxLayoutAlign="center center" (mouseenter)="onButtonHover()"
  (mouseleave)="onButtonHover()" (click)="onButtonClick()">
  <span class="label">Date Range</span>
  <span cdkOverlayOrigin #datepickerOverlayOrigin="cdkOverlayOrigin">
    <span class="dates">
      <img [src]="isButtonHovered || isOpen
        ? 'assets/icon-calendar-active.svg'
        : 'assets/icon-calendar-inactive.svg'">
      <span *ngIf="period else dateRange" class="date">Last {{ period | duration }}</span>
      <ng-template #dateRange>
        <span class="date">{{ fromDateFormatted }}</span>
        <span class="dash">&ndash;</span>
        <span class="date">{{ toDateFormatted }}</span>
      </ng-template>
    </span>
  </span>
</button>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="isOpen" [cdkConnectedOverlayOrigin]="datepickerOverlayOrigin"
  [cdkConnectedOverlayPositions]="connectedPositions" (backdropClick)="onBackdropClick()">
  <mat-card>
    <button class="period" (click)="onPeriodSelect(Period.FifteenMinutes)">
      {{ Period.FifteenMinutes | duration }}
    </button>
    <button class="period" (click)="onPeriodSelect(Period.SixHours)">
      {{ Period.SixHours | duration }}
    </button>
    <button class="period" (click)="onPeriodSelect(Period.Day)">Today</button>
    <button class="period" (click)="onPeriodSelect(Period.Week)">
      Last {{ Period.Week | duration }}
    </button>
    <button class="period" (click)="onPeriodSelect(Period.Month)">
      Last {{ Period.Month | duration }}
    </button>
    <button class="period" (click)="onPeriodSelect(Period.Year)">
      Last {{ Period.Year | duration }}
    </button>
    <ngb-datepicker #datepicker [dayTemplate]="day" [startDate]="fromDate" [maxDate]="today"
      (dateSelect)="onDateSelect($event)"></ngb-datepicker>
  </mat-card>
</ng-template>

<ng-template #day let-date="date" let-focused="focused">
  <span class="custom-day" [ngClass]="{
      focused: focused,
      range: isDayFrom(date) || isDayTo(date) || isDayInside(date) || isDayHovered(date),
      faded: isDayHovered(date) || isDayInside(date)
    }" (mouseenter)="onDayHover(date)" (mouseleave)="onDayHover()">
    {{ date.day }}
  </span>
</ng-template>
