@import '../../../styles/styles.less';

:host {
  display: block;
}

.container {
  .h6;
  padding: 0;
  cursor: pointer;

  .label {
    margin-right: 8px;
  }

  [cdkOverlayOrigin] {
    min-height: 28px;
  }
}

.container:hover,
.button-active {
  color: @soft-blue;
}

.dates {
  &:extend(.text-extra-small-bold);
  display: block;
  padding: 6px 12px;
  border-radius: 15px;
  background-color: @pure-white;

  img {
    margin-right: 8px;
  }

  img,
  .date,
  .dash {
    vertical-align: middle;
  }

  .dash {
    color: @grey;
    margin-left: 8px;
    margin-right: 8px;
  }
}

mat-card {
  overflow: scroll;
  width: min-content;
  padding: 16px 10px;
}

.period {
  &:extend(.text-extra-small-bold);
  margin-bottom: 12px;
  margin-right: 8px;
  padding: 6px 10px;
  border: 1px solid @black;
  border-radius: 15px;
  color: @black;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 16px;
    margin-right: 0;
  }
}


ngb-datepicker {
  display: block;
  border: initial;
  border-radius: 0;
}

.custom-day {
  .text-small;
  color: @font-dark-grey;
  text-transform: unset;

  &.focused {
    background-color: @soft-grey;
  }

  &.range,
  &:hover {
    background-color: @blue;
    color: @pure-white;
  }

  &.faded {
    background-color: fade(@blue, 20%);
    color: @font-dark-grey;
  }
}

.period:focus ~ ngb-datepicker .custom-day {
  animation: 500ms rangeselection;
}

@keyframes rangeselection {

  25% {
    background-color: initial;
    color: @font-dark-grey;
  }
}
