@import '../../../styles/styles.less';

:host {
  display: block;
}

mat-dialog-content > button,
mat-card,
nef-hardware-profiles {
  margin-bottom: 20px;
}

mat-dialog-content > button img {
  margin-left: 8px;
  vertical-align: -3px;
}

.profile-details-popup {
  max-height: 400px;
  max-width: 500px;
  overflow-y: scroll;

  span {
    .font-weight-bold;
  }
}
