<h1 mat-dialog-title>Hardware Profile Manager</h1>

<mat-dialog-content>
  <button mat-button color="primary" (click)="toggleNewProfileForm()">
    <ng-container *ngIf="!showNewProfile; else hide">
      <ng-container>Add New Profile</ng-container>
      <img src="assets/icon-add-square-blue.svg" width="16" height="16">
    </ng-container>

    <ng-template #hide>Hide</ng-template>
  </button>

  <mat-card *ngIf="showNewProfile" fxLayout="column">
    <nef-hardware-profiles-form #profilesForm></nef-hardware-profiles-form>
  </mat-card>

  <nef-hardware-profiles #hardwareProfiles></nef-hardware-profiles>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button mat-stroked-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
