<form id="nf-form" [formGroup]="form" (ngSubmit)="submitNFForm()" fxLayout="column" fxLayoutGap="10px">
  <ng-container *ngIf="isEditMode">
    <ng-container *ngIf="isTemplate; else nameInput">
      <mat-label>NF Name</mat-label>
      <nef-template-input placeholder="NF Name" [value]="initialName" [variables]="templateVars"
        (docChange)="setTemplateData('name', $event)">
      </nef-template-input>
    </ng-container>

    <ng-template #nameInput>
      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
        <mat-label>NF Name</mat-label>
        <input placeholder="Enter NF name" matInput formControlName="name">
      </mat-form-field>
    </ng-template>
  </ng-container>

  <mat-label>NF Configuration</mat-label>

  <button type="button" mat-stroked-button *ngIf="isEditMode" (click)="templateFileInput.click()">
    Import from File
  </button>

  <input type="file" hidden (change)="onFileSelected($event, 'configTemplate')" #templateFileInput>

  <nef-template-textarea *ngIf="isTemplate; else nfConfig" placeholder="Enter NF Configuration" [variables]="templateVars"
    (docChange)="setTemplateData('configTemplate', $event)" [value]="fileData['configTemplate']"></nef-template-textarea>
  <ng-template #nfConfig>
    <mat-form-field appearance="outline" fxFlex="grow">
      <nef-codemirror placeholder="Enter NF Configuration" formControlName="configTemplate" [options]="codeMirrorOptions" #codemirror>
      </nef-codemirror>
    </mat-form-field>
  </ng-template>

  <mat-accordion [multi]="true" *ngIf="!isTemplate">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-label>NF Manifest</mat-label>

        <button type="button" mat-stroked-button *ngIf="isEditMode" (click)="manifestFileInput.click()">
          Import from File
        </button>

        <input type="file" hidden (change)="onFileSelected($event, 'manifest')" #manifestFileInput>

        <mat-form-field appearance="outline" fxFlex="grow">
          <nef-codemirror placeholder="Enter NF manifest" formControlName="manifest" [options]="codeMirrorOptions" #codemirror>
          </nef-codemirror>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button type="submit" form="nf-form" mat-flat-button color="primary" *ngIf="isEditMode">Update</button>
</form>
