<nef-table class="compact" [columns]="columns" [data]="dataSource" #hardwareProfilesTable (actionClick)="onActionClick($event)"></nef-table>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOpen]="showDetails" [cdkConnectedOverlayOrigin]="detailsOverlayOrigin"
  [cdkConnectedOverlayPositions]="detailsConnectedPositions" (backdropClick)="onBackdropClick()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ selectedRow.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="profile-details-popup">
      <div *ngFor="let bond of selectedRow.bonds">
        <h3>Interface {{ bond.identifier }}</h3>
        <dl>
          <dt><span>Socket:</span> {{ bond.bond.socket }}</dt>
          <dt><span>Bandwidth:</span> {{ getBandwidthLabel(bond.bond.bandwidth) }}</dt>
          <dt><span>Driver:</span> {{ bond.bond.driver }}</dt>
          <dt><span>Connectivity:</span> {{ bond.bond.connectivity }}</dt>
          <dt><span>Kernel:</span> {{ bond.bond.kernel }}</dt>
          <dt><span>Purpose:</span> {{ bond.bond.purpose }}</dt>
          <dt><span>Devices:</span> {{ bond.bond.devices?.join(',') }}</dt>
        </dl>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
