<div class="container" fxLayout="row wrap">
  <div *ngFor="let cell of cells" cdkOverlayOrigin #cellOverlayOrigin="cdkOverlayOrigin" [ngClass]="getCellCSS(cell)" [ngStyle]="{
    'height.px': cellSize,
    'width.px': cellSize,
    'border-radius.px': cellSize / 10,
    'margin-bottom.px': margin,
    'margin-right.px': margin
  }" (mouseover)="hoverCell(cell, cellOverlayOrigin)" (mouseout)="leaveCell()">
  </div>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOpen]="isOpen" [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayPositions]="connectedPositions">
  <mat-card class="popup" *ngIf="popupFields && popupFields.length">
    <div class="badge" [ngClass]="popupBadge.color" *ngIf="popupBadge?.text">
      {{ popupBadge.text }}
    </div>

    <ng-container *ngFor="let field of popupFields">
      <h4>
        {{ field.header }}
      </h4>

      <span>
        {{ field.description }}
      </span>
    </ng-container>
  </mat-card>
</ng-template>
