@import '../../../styles/styles.less';

.container {
  background-color: @pure-white;
}

.cell {
  background-color: @soft-grey;
  .nf-color(@nf-color-mode-background);
}

.cell-active {
  @darken: 10%;
  @active-shadow: 4px 4px 0px 0px;

  .nf-color(@nf-color-mode-shadow);
}

.cell-inactive {
  opacity: 0.2;
}

mat-card.popup {
  .arrow-right;
  padding: 16px;

  h4 {
    .text-small-bold;
    margin: 24px 0 8px;
    color: @arsenic;

    &:first-child {
      margin-top: 0;
    }
  }

  h4,
  span {

    &:last-child {
      margin-bottom: 0
    }
  }

  span {
    .h6-bold;
    display: block;
    margin-bottom: 8px;
    line-height: 24px;
  }

  .badge {
    width: fit-content;
  }
}
