<mat-card>
  <mat-card-header>
    <mat-card-title>Add User</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form id="user-form" [formGroup]="userForm" (ngSubmit)="submitUserForm()" fxLayout="column">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Username</mat-label>
        <input placeholder="Enter username" autofocus matInput formControlName="username">
        <mat-error [innerHTML]="ERROR_MESSAGES.USERNAME.REQUIRED"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>E-Mail</mat-label>
        <input placeholder="Enter e-mail" matInput formControlName="email">
        <mat-error [innerHTML]="emailErrorMessage"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Scope</mat-label>
        <mat-select placeholder="Select scope" formControlName="scope">
          <mat-option *ngFor="let scope of scopes" [value]="scope">{{ scope }}</mat-option>
        </mat-select>
        <mat-error>
          Scope is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Scope ID</mat-label>
        <input placeholder="Enter scope identifier" matInput formControlName="scopeId">
        <mat-error>
          Scope identifier is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Roles</mat-label>
        <input placeholder="Enter roles" matInput formControlName="roles">
        <mat-error [innerHTML]="ERROR_MESSAGES.ROLES.REQUIRED"></mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions fxLayout="row">
    <button type="submit" form="user-form" mat-flat-button color="primary" fxFlex [disabled]="userForm.pristine">Create
      Account</button>
  </mat-card-actions>
</mat-card>
