<section class="version">
  <span>VERSION: {{server?.version}}</span>
</section>

<header fxLayoutAlign="space-between">
  <h1>Network Function</h1>

  <nef-toggle leftLabel="socket view" rightLabel="list view" leftValue="socket" rightValue="list" (handleChange)="onChangeView($event)"
    [activeValue]="activeViewType"></nef-toggle>
</header>

<section class="network-functions" *ngIf="sockets">
  <ng-container [ngSwitch]="activeViewType">
    <ng-container *ngSwitchCase="ViewType.Socket">
      <nef-legend class="core-legend" [items]="nFLegendItems"></nef-legend>
      <nef-socket *ngFor="let socket of sockets" [socket]="socket"></nef-socket>
    </ng-container>

    <ng-container *ngSwitchCase="ViewType.List">
      <nef-table [columns]="columns" [data]="dataSource"></nef-table>
    </ng-container>
  </ng-container>
</section>

<section class="performance">
  <header fxLayoutAlign="start center">
    <h2>Performance</h2>

    <nef-date-range [range]="chartRange" (dateSelect)="onDateSelect($event)"></nef-date-range>
  </header>

  <mat-card class="graph">
    <nef-chart-throughput label="Throughput" [cluster]="clusterId" [server]="serverId" [startTime]="chartStartTime"
      [selectedRate]="chartDuration" [yAxesUnits]="UnitType.BitRate" [active]="true" (zoomEvent)="onZoomEvent($event)">
    </nef-chart-throughput>
  </mat-card>

  <mat-card class="graph">
    <nef-chart-latency label="Latency" [cluster]="clusterId" [server]="serverId" [startTime]="chartStartTime" [selectedRate]="chartDuration"
      [yAxesUnits]="UnitType.Time" [active]="true">
    </nef-chart-latency>
  </mat-card>

  <mat-card class="graph">
    <nef-chart-packetloss label="Loss" [cluster]="clusterId" [server]="serverId" [startTime]="chartStartTime" [selectedRate]="chartDuration"
      [yAxesUnits]="UnitType.PacketRate" [active]="true">
    </nef-chart-packetloss>
  </mat-card>
</section>

<button *ngIf="isSystemAdmin$ | async" class="remove-button" mat-flat-button color="warn" (click)="onDeleteServer()">Remove Server</button>
