@import '../../../styles/styles.less';

:host {
  display: block;
}

header {
  margin-bottom: 16px;

  h1 {
    .h4-bold;
    margin: 0;
  }
}

section.network-functions {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin-bottom: 50px;
  padding-top: 24px;

  nef-legend {
    flex-basis: 100%;
    margin-bottom: 24px;
  }

  nef-socket {
    @column-gap: 24px;

    flex: 0 1 calc(50% - @column-gap / 2);
    box-sizing: border-box;
    min-width: calc(50% - @column-gap / 2);

    &:nth-of-type(even) {
      margin-left: @column-gap;
    }
  }
}

nef-table {
  min-width: 700px;
}

section.performance {

  header {
    margin-bottom: 30px;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: auto;
    }

    nef-date-range {
      margin-left: 35px;
    }
  }

  mat-card.graph {
    margin-bottom: 24px;
  }
}

.remove-button {
  float: right;
  margin-bottom: 30px;
}

section.version {
  text-align: right;
  margin-bottom: 10px;

  span {
    color: @blue;
    .text-extra-small-bold;
  }
}
