<h1 mat-dialog-title>{{ tunnel ? 'Edit' : 'Add New' }} Tunnel</h1>

<mat-button-toggle-group name="tunnelType" aria-label="Tunnel Type" (change)="selectedType = $event.value">
  <mat-button-toggle [value]="TunnelType.REMOTE" [checked]="selectedType === TunnelType.REMOTE">Remote
  </mat-button-toggle>
  <mat-button-toggle [value]="TunnelType.LOCAL" [checked]="selectedType === TunnelType.LOCAL">Local</mat-button-toggle>
</mat-button-toggle-group>

<ng-container [ngSwitch]="selectedType">
  <ng-container *ngSwitchCase="TunnelType.REMOTE">
    <mat-dialog-content>
      <form id="tunnel-form" [formGroup]="tunnelForm" fxLayout="column" (ngSubmit)="submitTunnelForm()">
        <div fxLayoutGap="25px">
          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>Name</mat-label>
            <input placeholder="Enter tunnel name" matInput formControlName="name" cdkFocusInitial>
            <mat-error>
              Tunnel name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>Tenant</mat-label>
            <mat-select placeholder="Select tenant" formControlName="tenant">
              <mat-option *ngFor="let tenant of tenants" [value]="tenant.identifier">{{ tenant.name }}</mat-option>
            </mat-select>
            <mat-error>
              Tenant is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
          <mat-label>Description</mat-label>
          <input placeholder="Enter tunnel description" matInput formControlName="description">
        </mat-form-field>

        <div fxLayoutGap="25px">
          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>Site</mat-label>
            <mat-select placeholder="Select site" formControlName="site">
              <mat-option *ngFor="let site of sites" [value]="site.config.identifier">{{ site.config.name }}</mat-option>
            </mat-select>
            <mat-error>
              Site is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>Physical Port</mat-label>
            <input placeholder="Enter physical port" matInput formControlName="physicalPort">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="standard" floatLabel="always" fxFlex="0 1 calc(50% - 12.5px)">
            <mat-label>Attachment</mat-label>
            <mat-select placeholder="Select attachment" formControlName="attachment">
              <mat-option>-- None --</mat-option>
              <mat-option *ngFor="let attachment of attachments" [value]="attachment.identifier">
                {{ attachment.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <nef-encap #encap [formGroup]="encapForm" [encap]="tunnelEncap" [vlanMode]="vlanMode">
        </nef-encap>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="space-between">
      <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

      <button type="submit" form="tunnel-form" mat-flat-button color="primary" [disabled]="tunnelForm.pristine">Complete</button>
    </mat-dialog-actions>
  </ng-container>

  <ng-container *ngSwitchCase="TunnelType.LOCAL">
    <mat-dialog-content>
      <form id="tunnel-form" [formGroup]="tunnelForm" fxLayout="column" (ngSubmit)="submitTunnelForm()">
        <div fxLayoutGap="25px">
          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>Name</mat-label>
            <input placeholder="Enter tunnel name" matInput formControlName="name">
            <mat-error>
              Tunnel name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>Tenant</mat-label>
            <mat-select placeholder="Select tenant" formControlName="tenant">
              <mat-option *ngFor="let tenant of tenants" [value]="tenant.identifier">{{ tenant.name }}</mat-option>
            </mat-select>
            <mat-error>
              Tenant is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
          <mat-label>Description</mat-label>
          <input placeholder="Enter tunnel description" matInput formControlName="description">
        </mat-form-field>

        <div fxLayoutGap="25px">
          <mat-form-field appearance="standard" floatLabel="always" fxFlex="0 1 calc(50% - 12.5px)">
            <mat-label>Site</mat-label>
            <mat-select placeholder="Select site" formControlName="site">
              <mat-option *ngFor="let site of sites" [value]="site.config.identifier">{{ site.config.name }}</mat-option>
            </mat-select>
            <mat-error>
              Site is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-card>
          <h2>Peer Tunnel</h2>

          <div>
            <mat-checkbox formControlName="associatePeerTunnel" (change)="onAssociatePeerTunnelChange($event)">Associate
              Peer Tunnel</mat-checkbox>

            <mat-icon matTooltip="Outbound traffic from local tunnel will be directed to its peer local tunnel.

            - New: create a new local tunnel as its peer
            - Existing: select an existing local tunnel as its peer" matTooltipPosition="after">help_outline
            </mat-icon>
          </div>

          <ng-container *ngIf="tunnelForm.get('associatePeerTunnel').value">
            <mat-radio-group aria-label="Select an option" formControlName="peerOption" (change)="onPeerTunnelTypeChange()">
              <mat-radio-button [value]="PeerOption.NEW">New</mat-radio-button>
              <mat-radio-button [value]="PeerOption.EXISTING">Existing</mat-radio-button>
            </mat-radio-group>

            <ng-container [ngSwitch]="this.tunnelForm?.get('peerOption').value">
              <div fxLayoutGap="25px">
                <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
                  <mat-label>Tenant</mat-label>
                  <mat-select placeholder="Select tenant" formControlName="peerTenant"
                    (selectionChange)="onSelectedTenantChange($event.value)">
                    <mat-option *ngFor="let tenant of tenants" [value]="tenant.identifier">{{ tenant.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    Tenant is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <mat-form-field *ngSwitchDefault appearance="standard" floatLabel="always" fxFlex="grow">
                  <mat-label>Tunnel</mat-label>
                  <input placeholder="Enter tunnel name" matInput formControlName="peerTunnel">
                  <mat-error *ngIf="tunnelForm.hasError('required', 'peerTunnel')">
                    Tunnel name is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="tunnelForm.hasError('uniqueTunnelName', 'peerTunnel')">
                    Name should be <strong>unique</strong> from its peer
                  </mat-error>
                </mat-form-field>

                <mat-form-field *ngSwitchCase="PeerOption.EXISTING" appearance="standard" floatLabel="always" fxFlex="grow">
                  <mat-label>Tunnel</mat-label>
                  <mat-select placeholder="Select tunnel" formControlName="peerTunnel">
                    <mat-option *ngFor="let tunnel of selectedTenantTunnels" [value]="tunnel.config.identifier">
                      {{ tunnel.config.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    Tunnel is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div *ngSwitchDefault>
                <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
                  <mat-label>Description</mat-label>
                  <input placeholder="Enter tunnel description" matInput formControlName="peerDescription">
                </mat-form-field>
              </div>
            </ng-container>
          </ng-container>
        </mat-card>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="space-between">
      <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

      <button type="submit" form="tunnel-form" mat-flat-button color="primary" [disabled]="tunnelForm.pristine">Complete</button>
    </mat-dialog-actions>
  </ng-container>
</ng-container>
