@import '../../../styles/styles.less';

h2 {
  &:extend(.h5-bold);
}

mat-button-toggle-group {
  margin-bottom: 20px;
}

nef-encap,
mat-card {
  margin-bottom: 20px;
}

mat-card {

  h2,
  div:first-of-type,
  mat-radio-group {
    margin-bottom: 20px;
  }

  mat-icon {
    @icon-font-size: 19px;

    color: @arsenic;
    margin-left: 8px;
    width: @icon-font-size;
    height: @icon-font-size;
    font-size: @icon-font-size;
    vertical-align: middle;
    cursor: pointer;
  }

  mat-radio-group {
    display: block;
  }
}
