<mat-card>
  <mat-card-header>
    <mat-card-title>Recovery Password</mat-card-title>
    <mat-card-subtitle>We'll send you a recovery link to your email</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form id="password-recovery-form" [formGroup]="passwordRecoveryForm" (ngSubmit)="submitPasswordRecoveryForm()" fxLayout="column">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Username</mat-label>
        <input placeholder="Enter your username" autofocus matInput formControlName="username">
        <mat-error [innerHTML]="usernameErrorMessage"></mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutGap="32px">
    <a routerLink="/auth/login" mat-stroked-button color="primary" fxFlex="1 1 auto">Cancel</a>

    <button type="submit" form="password-recovery-form" mat-flat-button color="primary" fxFlex="1 1 auto"
      [disabled]="passwordRecoveryForm.pristine">Send E-Mail</button>
  </mat-card-actions>
</mat-card>
