<header fxLayoutAlign="space-between center">
  <h2>Logging</h2>
</header>

<div class="content" fxLayout="column">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Elasticsearch Configuration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form id="logging-form" [formGroup]="loggingForm" (ngSubmit)="submitLoggingForm()" fxLayout="column">

        <div fxLayout="column">
          <mat-checkbox formControlName="logging">Enable</mat-checkbox>
          <mat-hint>Export logs to Elasticsearch</mat-hint>
        </div>

        <mat-form-field *ngIf="isEnabled" appearance="standard" floatLabel="always">
          <mat-label>Host</mat-label>
          <input placeholder="Enter Host" matInput formControlName="host">
          <mat-error>
            Host is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isEnabled" appearance="standard" floatLabel="always">
          <mat-label>Username</mat-label>
          <input placeholder="Enter Username" matInput formControlName="user">
          <mat-error>
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isEnabled" appearance="standard" floatLabel="always">
          <mat-label>Password</mat-label>
          <input placeholder="Enter Password" matInput formControlName="password" type="password">
          <mat-error>
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="space-between" fxLayoutGap="24px">
      <button *ngIf="isSystemAdmin$ | async" type="submit" form="logging-form" mat-flat-button color="primary"
        [disabled]="loggingForm.pristine">Save</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="isSystemAdmin$ | async">
    <mat-card-header>
      <mat-card-title>Download Logs</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Download a tarball of system-wide logs, configuration, and other information.</p>

      <form id="download-logs-form" fxLayout="row" fxLayoutGap="100px" [formGroup]="downloadLogsForm" (ngSubmit)="submitDownloadLogsForm()">
        <div>
          <div>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Site</mat-label>
              <mat-select placeholder="All Sites" formControlName="site" (selectionChange)="onSiteSelectionChange($event)">
                <mat-option>All Sites</mat-option>
                <mat-option [value]="site.config.identifier" *ngFor="let site of sites">{{ site.config.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Server</mat-label>
              <mat-select placeholder="All Servers" formControlName="server">
                <mat-option>All Servers</mat-option>
                <mat-option [value]="server.identifier" *ngFor="let server of servers">{{ server.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div formGroupName="filters" fxLayout="row wrap">
          <div fxFlex="50">
            <mat-checkbox formControlName="configurationFiles">Include configuration files</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="2">
            <mat-checkbox formControlName="runtimeConfigurationFiles">Include runtime configuration files</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="4">
            <mat-checkbox formControlName="dataFiles">Include data files</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="6">
            <mat-checkbox formControlName="logFiles">Include log files</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="8">
            <mat-checkbox formControlName="tempFiles">Include temp files</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="1">
            <mat-checkbox formControlName="etcFiles">Include etc files</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="3">
            <mat-checkbox formControlName="libraryFiles">Include library files</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="5">
            <mat-checkbox formControlName="bessGraph">Include BESS graph</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="7">
            <mat-checkbox formControlName="journalctlFiles">Include journalctl files</mat-checkbox>
          </div>

          <div fxFlex="50" fxFlexOrder="9">
            <mat-checkbox formControlName="linuxLogs">Include linux logs</mat-checkbox>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button form="download-logs-form" mat-flat-button color="primary">Download Logs</button>
    </mat-card-actions>
  </mat-card>

</div>
