@import '../../styles/styles.less';

:host {
  display: block;
}

mat-card {
  margin-bottom: 24px;

  mat-card-content p {
    margin-bottom: 20px;
  }
}

mat-checkbox[formcontrolname='logging'] {
  margin-bottom: unset;
}

mat-hint {
  &:extend(.text-small-size);
  padding-top: 10px;
  padding-bottom: 25px;
}

div[formgroupname=filters] {
  flex-basis: 600px;
}
