nef-cluster #site-filters-form mat-form-field {

  .mat-form-field-wrapper {
    padding-bottom: unset;

    .mat-form-field-flex {
      padding-top: unset;
    }

    .mat-form-field-infix {
      width: unset;
      min-width: 100px;
    }

    .mat-form-field-underline {
      bottom: unset;
    }
  }
}
