nef-template-select {

  .mat-form-field-appearance-fill {

    .mat-form-field-flex {
      background-color: @soft-grey;
      border-radius: 4px;
      padding-top: unset;
    }

    .mat-form-field-infix {
      padding: unset;
    }
  }

  .mat-form-field-underline {
    display: none;
  }
}
