<nav>
  <nef-back-button>
    Webhooks
  </nef-back-button>
</nav>

<header>
  <h4>{{ uuid ? 'Edit' : 'Connect' }} webhook</h4>
</header>

<div class="content">
  <form id="add-webhook-form" [formGroup]="webhookForm" (ngSubmit)="submitWebhookForm()" fxLayout="column">
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Configuration Name</mat-label>
      <input placeholder="Configuration name" matInput formControlName="configName">
    </mat-form-field>
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>URL</mat-label>
      <input placeholder="http://" matInput formControlName="url">
      <mat-error>
        URL is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <h4>HTTP-CONFIG</h4>
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Username</mat-label>
      <input placeholder="Username" matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Bearer Token</mat-label>
      <input placeholder="Bearer Token" matInput formControlName="bearerToken">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Proxy Url</mat-label>
      <input placeholder="http://" matInput formControlName="proxyUrl">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Password</mat-label>
      <input placeholder="Password" matInput formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Confirm Password</mat-label>
      <input placeholder="Confirm Password" matInput formControlName="confirmPassword">
      <mat-error>
        Not a
        <strong>valid</strong> confirm password
      </mat-error>
    </mat-form-field>

    <h4>TLS-CONFIG</h4>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>CA file path</mat-label>
      <input placeholder="CA File Path" matInput formControlName="caFilepath">
      <input class="file-input" type="file" #caInput (change)="setFilePath($event, 'caFilepath')">
      <button class="file-button" mat-button type="button" (click)="caInput.click()">
        <img src="assets/icon-edit.svg" width="16" height="16"> Select File
      </button>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Cert file path</mat-label>
      <input placeholder="Cert File Path" matInput formControlName="certFilepath">
      <input class="file-input" type="file" #certInput (change)="setFilePath($event, 'certFilepath')">
      <button class="file-button" mat-button type="button" (click)="certInput.click()">
        <img src="assets/icon-edit.svg" width="16" height="16"> Select File
      </button>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Cert file path</mat-label>
      <input placeholder="Cert File Path" matInput formControlName="keyFilepath">
      <input class="file-input" type="file" #keyInput (change)="setFilePath($event, 'keyFilepath')">
      <button class="file-button" mat-button type="button" (click)="keyInput.click()">
        <img src="assets/icon-edit.svg" width="16" height="16"> Select File
      </button>
    </mat-form-field>
    <h4>Alert Types</h4>
    <p class="description">Specific Alert Types To Send</p>

    <div formArrayName="alertTypes">
      <mat-checkbox [formControlName]="i" *ngFor="let type of alertFormTypes.controls; index as i">
        {{ notificationTypes[i].name | titlecase }}
      </mat-checkbox>
    </div>
    <h4>Alert Classes</h4>
    <p class="description">Specific Alert Classes To Send</p>

    <div formArrayName="alertClasses" fxLayout="row wrap" fxLayoutAlign="flex-start">
      <div *ngFor="let type of alertClasses.controls; index as i" fxFlex="25">
        <mat-checkbox [formControlName]="i">{{ alertClassStates[i].name | alertclass }}</mat-checkbox>
      </div>
    </div>
  </form>

  <div class="actions">
    <button type="submit" form="add-webhook-form" mat-flat-button color="primary"
      [disabled]="webhookForm.pristine">{{ uuid ? 'Edit' : 'Connect' }}</button>
    <a [routerLink]="backPath" mat-button>Cancel</a>
  </div>
</div>
