<header fxLayoutAlign="space-between center">
  <h2>Tunnels</h2>

  <button class="remove-button" mat-button (click)="onRemoveTunnels()" *ngIf="selectedTunnels?.length && (isSystemAdmin$ | async)">
    <img src="assets/icon-trash-blue.svg" width="16" height="16">
    <span>Remove</span>
  </button>

  <button *ngIf="isSystemAdmin$ | async" class="add" mat-flat-button color="primary" [disabled]="!(tenants && sites)"
    (click)="onAddTunnel()">
    <span>Add New Tunnel</span>
    <img src="assets/icon-add-square-white.svg" width="16" height="16">
  </button>
</header>

<nef-table class="compact" [columns]="(isSystemAdmin$ | async) ? columns : columns | slice:0:columns.length - 1" [data]="dataSource"
  (actionClick)="onActionClick($event)" (rowsSelect)="onSelectTunnel($event)" #table></nef-table>
