@import '../../../styles/styles.less';

:host {
  display: block;
}

mat-form-field {
  overflow-x: auto;
  display: inline-flex;
  max-width: 85%;
  margin-bottom: unset;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @pure-white;
  border-radius: 16px;

  mat-icon[matPrefix] {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: @dark-grey;
    font-size: 16px;
  }

  mat-chip {
    min-height: 24px;
    white-space: nowrap;
  }

  input {
    flex: unset;
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

mat-spinner {
  margin-left: 5px;
  display: inline-block;
}
