<mat-form-field appearance="standard">
  <mat-icon matPrefix>search</mat-icon>

  <mat-chip-list aria-label="Search" #chipList>
    <mat-chip removable *ngFor="let chip of chips" (removed)="onRemove(chip)">
      {{ chip }}
      <mat-icon matChipRemove>close</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <input aria-label="Query" matChipInputAddOnBlur [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
    (matChipInputTokenEnd)="onAdd($event)">
</mat-form-field>

<mat-spinner *ngIf="showProgress" diameter="20"></mat-spinner>
