@import '../../../styles/styles.less';

:host {
  display: block;
  max-width: 350px;
}

mat-card-title {
  &:extend(.letter-spacing-extra-small-negative);
}

mat-card-content {
  margin-left: -16px;
  margin-right: -16px;

  .mat-card > &:last-child {
    margin-bottom: -16px;
  }
}
