@import '../../styles/styles.less';

.mat-form-field {
  margin-bottom: 0;
}

.content {

  .mat-card {

    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    form {
      width: 600px;
    }

    mat-hint {
      &:extend(.text-small-size);
      padding-top: 5px;
      padding-bottom: 15px;
    }

    section .mat-form-field {
      width: 50%;
    }

    .tacacs-server {

      &.no-controls {
        padding: 5px 0;
      }

      &+form {
        margin-top: 25px;
      }
    }
  }

  #sysconfig-form {
    margin-top: 25px;
  }
}
