<header fxLayoutAlign="space-between center">
  <h2>System Configuration</h2>
</header>

<div class="content" fxLayout="column">
  <mat-card>
    <mat-card-header>
      <mat-card-title>TACACS+</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section>
        <h3>Settings</h3>
        <form id="tacacs" [formGroup]="TACACSForm" (ngSubmit)="submitTACACSForm()" fxLayout="column">
          <mat-checkbox formControlName="enabled" (change)="onTACACSEnabledChanged($event.checked)">Enable
          </mat-checkbox>
          <mat-hint>Restrict SSH access to all Weaver, ExP, and ExP edge machines to only those users approved by the
            TACACS+ server.</mat-hint>
          <div fxLayout="row" *ngIf="isTACACSEnabled" fxLayoutGap="25px">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Secret</mat-label>
              <input placeholder="Enter secret" matInput formControlName="secret" type="password">
              <mat-error *ngIf="TACACSForm.get('secret').hasError('required')">
                Secret is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="TACACSForm.get('secret').hasError('minlength')">
                Secret must be <strong>at least</strong> 8 characters
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Secret</mat-label>
              <input placeholder="Confirm secret" matInput formControlName="confirmSecret" type="password">
              <mat-error>
                Password doesn't <strong>match</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" *ngIf="isTACACSEnabled" fxLayoutGap="25px">
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Fallback Password</mat-label>
              <input placeholder="Enter password" matInput formControlName="fallback" type="password">
              <mat-error *ngIf="TACACSForm.get('fallback').hasError('required')">
                Fallback password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="TACACSForm.get('fallback').hasError('minlength')">
                Password must be <strong>at least</strong> 8 characters
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" floatLabel="always">
              <mat-label>Fallback Password</mat-label>
              <input placeholder="Confirm pasword" matInput formControlName="confirmFallback" type="password">
              <mat-error>
                Password doesn't <strong>match</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <mat-hint *ngIf="isTACACSEnabled">Local SSH login, using the fallback password, will be permitted if no
            TACACS+ servers are reachable
          </mat-hint>
        </form>
        <button type="submit" *ngIf="isSystemAdmin$ | async" form="tacacs" mat-flat-button color="primary">Update
          settings</button>
      </section>
      <section>
        <h3>Servers</h3>

        <!-- LIST OF SERVERS -->
        <ng-container *ngIf="TACACSServers.length; else noServers">
          <div [class.no-controls]="!(isSystemAdmin$ | async)" *ngFor="let server of TACACSServers; let i = index" class="tacacs-server">
            <button *ngIf="isSystemAdmin$ | async" mat-icon-button title="Remove Server" (click)="deleteTACACSServer(i)">
              <img src="assets/icon-trash.svg" width="16" height="16">
            </button>
            <span>{{ server.address }}</span>
          </div>
        </ng-container>

        <ng-template #noServers>
          <p *ngIf="!(isSystemAdmin$ | async)">No servers configured</p>
        </ng-template>

        <!-- ADD SERVER FORM -->
        <form id="tacserver" *ngIf="isSystemAdmin$ | async" [formGroup]="TACACSServerForm" (ngSubmit)="submitTACACSServerForm()"
          fxLayoutGap="25px">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Add server</mat-label>
            <input matInput placeholder="Enter address" formControlName="url">
            <mat-error>
              Not a <strong>valid</strong> address
            </mat-error>
          </mat-form-field>
          <button type="submit" mat-flat-button color="primary" *ngIf="isSystemAdmin$ | async" form="tacserver">Save</button>
        </form>

      </section>
    </mat-card-content>
  </mat-card>

  <mat-card #weaversync>
    <mat-card-header>
      <mat-card-title>WeaverSync</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <nef-weaversync></nef-weaversync>
    </mat-card-content>
  </mat-card>

  <nef-smtp-configuration></nef-smtp-configuration>
</div>
