<h1 mat-dialog-title>Edit Roles</h1>

<mat-dialog-content>
  <form id="roles-form" [formGroup]="rolesForm" (ngSubmit)="submitRolesForm()" fxLayoutGap="25px">
    <mat-form-field fxFlex="grow">
      <mat-select placeholder="Tenant" formControlName="tenant">
        <mat-option *ngFor="let tenant of tenants" [value]="tenant.name">
          {{ tenant.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="grow">
      <mat-select placeholder="Roles" formControlName="roles" multiple>
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="user">User</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

  <button type="submit" form="roles-form" mat-flat-button color="primary" [disabled]="rolesForm.pristine">Complete</button>
</mat-dialog-actions>
