<h1 mat-dialog-title>Add New Hardware Profile</h1>

<mat-dialog-content>
  <nef-hardware-profiles-form [hideSave]="true" #profilesForm></nef-hardware-profiles-form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button type="button" mat-flat-button color="primary" (click)="onSave()">Save</button>
  <button type="button" mat-stroked-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
