<div *ngIf="formGroup" [formGroup]="formGroup">
  <section class="toggle" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <mat-label>Type</mat-label>
    <mat-button-toggle-group name="tunnelType" (change)="selectedType = $event.value">
      <mat-button-toggle [value]="EncapType.VLAN" [checked]="selectedType === EncapType.VLAN">VLAN</mat-button-toggle>
      <mat-button-toggle [value]="EncapType.VXLAN" [checked]="selectedType === EncapType.VXLAN">VXLAN</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <section *ngIf="selectedType === EncapType.VLAN">
    <fieldset formGroupName="vlan">
      <legend>VLAN</legend>

      <mat-radio-group aria-label="Select a VLAN type" formControlName="type" *ngIf="!hiddenVLANType" (change)="onVLANTypeChange($event)">
        <mat-radio-button [value]="VLANType.None" [disabled]="disabledVLANNone">None</mat-radio-button>
        <mat-radio-button [value]="VLANType['802.1Q']">
          {{ VLANType['802.1Q'] }}
        </mat-radio-button>
        <mat-radio-button [value]="VLANType['802.1AD']" [disabled]="disabledVLANAD">{{ VLANType['802.1AD'] }}
        </mat-radio-button>
      </mat-radio-group>

      <ng-container [ngSwitch]="formGroup.get('vlan.type').value">
        <div *ngSwitchCase="VLANType['802.1Q']" formGroupName="vid">
          <ng-container *ngIf="isTemplate; else vid">
            <mat-label>VID</mat-label>
            <nef-template-input [variables]="templateVars" placeholder="Enter VID" (docChange)="setFormData('vlan.vid.inner', $event)">
            </nef-template-input>
          </ng-container>
          <ng-template #vid>
            <mat-form-field appearance="standard" floatLabel="always" fxFlex="0 1 calc(50% - 12.5px)">
              <mat-label>VID</mat-label>
              <input type="number" placeholder="Enter VID" [min]="VLANRange.Min" [max]="VLANRange.Max" #innerVlanID matInput
                formControlName="inner" (keydown)="onNumberInputKeydown($event)">
              <mat-error *ngIf="formGroup.get('vlan.vid.inner').hasError('min')">
                VID minimum value is <strong>{{ VLANRange.Min }}</strong>
              </mat-error>
              <mat-error *ngIf="formGroup.get('vlan.vid.inner').hasError('max')">
                VID maximum value is <strong>{{ VLANRange.Max }}</strong>
              </mat-error>
              <mat-error *ngIf="formGroup.get('vlan.vid.inner').hasError('required')">
                Valid VID is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </ng-template>
        </div>

        <fieldset *ngSwitchCase="VLANType['802.1AD']" formGroupName="vid">
          <div fxLayoutGap="{{isTemplate ? '0' : '25px'}}">
            <ng-container *ngIf="isTemplate; else ividovid">
              <mat-label>Outer VID</mat-label>
              <nef-template-input [variables]="templateVars" placeholder="Enter outer" (docChange)="setFormData('vlan.vid.outer', $event)">
              </nef-template-input>

              <mat-label>Inner VID</mat-label>
              <nef-template-input [variables]="templateVars" placeholder="Enter inner" (docChange)="setFormData('vlan.vid.inner', $event)">
              </nef-template-input>
            </ng-container>
            <ng-template #ividovid>
              <mat-form-field appearance="standard" floatLabel="always" fxFlex="{{ hiddenVLANIVID ? '0 1 calc(50% - 12.5px)' : 'grow'}} ">
                <mat-label>Outer VID</mat-label>
                <input type="number" placeholder="Enter outer" [min]="VLANRange.Min" [max]="VLANRange.Max" #outerVlanID matInput
                  formControlName="outer" (keydown)="onNumberInputKeydown($event)">
                <mat-error *ngIf="formGroup.get('vlan.vid.outer').hasError('min')">
                  Outer VID minimum value is <strong>{{ VLANRange.Min }}</strong>
                </mat-error>
                <mat-error *ngIf="formGroup.get('vlan.vid.outer').hasError('max')">
                  Outer VID maximum value is <strong>{{ VLANRange.Max }}</strong>
                </mat-error>
                <mat-error *ngIf="formGroup.get('vlan.vid.outer').hasError('required')">
                  Valid Outer VID is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="!hiddenVLANIVID" appearance="standard" floatLabel="always" fxFlex="grow">
                <mat-label>Inner VID</mat-label>
                <input type="number" placeholder="Enter inner" [min]="VLANRange.Min" [max]="VLANRange.Max" matInput formControlName="inner"
                  (keydown)="onNumberInputKeydown($event)">
                <mat-error *ngIf="formGroup.get('vlan.vid.inner').hasError('min')">
                  Inner VID minimum value is <strong>{{ VLANRange.Min }}</strong>
                </mat-error>
                <mat-error *ngIf="formGroup.get('vlan.vid.inner').hasError('max')">
                  Inner VID maximum value is <strong>{{ VLANRange.Max }}</strong>
                </mat-error>
                <mat-error *ngIf="formGroup.get('vlan.vid.inner').hasError('required')">
                  Valid Inner VID is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ng-template>
          </div>
        </fieldset>
      </ng-container>
    </fieldset>
  </section>

  <section *ngIf="selectedType === EncapType.VXLAN">
    <fieldset formGroupName="vxlan">
      <legend>VXLAN</legend>

      <ng-container *ngIf="isTemplate; else vxlan">
        <div>
          <mat-label>VNI</mat-label>
          <nef-template-input [variables]="templateVars" placeholder="Enter VNI" (docChange)="setFormData('vxlan.vni', $event)">
          </nef-template-input>

          <mat-label>MAC</mat-label>
          <nef-template-input [variables]="templateVars" placeholder="Enter MAC" (docChange)="setFormData('vxlan.mac', $event)">
          </nef-template-input>
        </div>
        <div>
          <mat-label>IP</mat-label>
          <nef-template-input [variables]="templateVars" placeholder="Enter IP" (docChange)="setFormData('vxlan.ip', $event)">
          </nef-template-input>

          <mat-label>UDP Port</mat-label>
          <nef-template-input [variables]="templateVars" placeholder="Enter UDP port" (docChange)="setFormData('vxlan.udpPort', $event)">
          </nef-template-input>
        </div>
      </ng-container>
      <ng-template #vxlan>
        <div fxLayoutGap="25px">
          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>VNI</mat-label>
            <input type="number" [min]="VNIRange.Min" [max]="VNIRange.Max" placeholder="Enter VNI" matInput formControlName="vni"
              (keydown)="onNumberInputKeydown($event)">
            <mat-error *ngIf="formGroup.get('vxlan.vni').hasError('min')">
              VNI minimum value is <strong>{{ VNIRange.Min }}</strong>
            </mat-error>
            <mat-error *ngIf="formGroup.get('vxlan.vni').hasError('max')">
              VNI maximum value is <strong>{{ VNIRange.Max }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>MAC</mat-label>
            <input placeholder="Enter MAC" matInput formControlName="mac">
            <mat-error *ngIf="formGroup.get('vxlan.mac').hasError('pattern')">
              Not a <strong>valid</strong> MAC address
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayoutGap="25px">
          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>IP</mat-label>
            <input placeholder="Enter IP" matInput formControlName="ip">
            <mat-error *ngIf="formGroup.get('vxlan.ip').hasError('pattern')">
              Not a <strong>valid</strong> IP address (<em>192.168.0.1</em>)
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
            <mat-label>UDP Port</mat-label>
            <input type="number" [min]="UDPPortRange.Min" [max]="UDPPortRange.Max" placeholder="Enter UDP port" matInput
              formControlName="udpPort" (keydown)="onNumberInputKeydown($event)">
            <mat-error *ngIf="formGroup.get('vxlan.udpPort').hasError('min')">
              UDP port minimum value is <strong>{{ UDPPortRange.Min }}</strong>
            </mat-error>
            <mat-error *ngIf="formGroup.get('vxlan.udpPort').hasError('max')">
              UDP port maximum value is <strong>{{ UDPPortRange.Max }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-template>
    </fieldset>
  </section>
</div>
