@import '../../styles/styles.less';

fieldset {
  margin: 0;
  padding: 0;
  border: none;

  legend {
    display: none;
  }

  mat-radio-group {
    display: block;
    margin-bottom: 20px;
  }
}

.toggle {
  margin-bottom: 20px;
}

mat-label {
  .mat-label-text;
  margin-bottom: 0px;
}
