@import '../../../styles/styles.less';

.service-ports {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @light-grey;
  border: 1px solid @soft-grey;

  .mat-card-header {
    margin-bottom: 20px;
  }

  .mat-card-title {
    .text-small-size;
    .font-weight-bold;
    .letter-spacing;
    margin: 0;
    padding: 0;
    color: @font-dark-grey;
    text-transform: uppercase;
  }

  .port {
    .font-weight-normal;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: @pure-white;
    .text-size;

    .port-icon {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 25px;
      vertical-align: -2px;
      background-color: @blue;
    }

    .port-label {
      display: inline-block;
      margin-left: 5px;
    }
  }

}
