<mat-card class="service-ports">
  <mat-card-header>
    <mat-card-title>Service Ports</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="port" draggable="true" (dragstart)="onDragStart($event)">
      <span class="port-icon"></span>
      <span class="port-label">Traffic Port</span>
    </div>
  </mat-card-content>
</mat-card>
