@import '../../../styles/styles.less';

@marker-margin: 8px;

:host(.site-legend),
:host(.core-legend),
:host(.perf-trace-legend) {

  span {
    .letter-spacing-extra-small-alternative;
  }
}

:host(.site-legend),
:host(.core-legend) {

  span {
    @marker-size: 16px;

    padding-left: @marker-size + @marker-margin;

    &::before {
      width: @marker-size;
      height: @marker-size;
    }
  }
}

:host(.site-legend) {

  span {

    &::before {
      border-radius: 50%;
    }

    &.success::before {
      background-color: @lime-green;
    }

    &.info::before {
      background-color: @green;
    }

    &.warn::before {
      background-color: @sunny-yellow;
    }

    &.error::before {
      background-color: @orange;
    }

    &.critical::before {
      background-color: @red;
    }

    &.muted {
      opacity: unset;
    }

    &::before,
    &.muted::before {
      background-color: @grey;
    }
  }
}

:host(.core-legend) span::before {
  border-radius: 2px;
}

:host(.perf-trace-legend) {

  span {
    @marker-size: 10px;

    padding-left: @marker-size + @marker-margin;

    &::before {
      width: @marker-size;
      height: @marker-size;
      border-radius: 5px;
    }
  }
}

:host,
:host(.chart-legend),
:host(.server-legend) {

  span {
    @marker-size: 10px;

    padding-left: @marker-size + @marker-margin + 2;

    &::before {
      width: @marker-size;
      height: 4px;
      border-radius: 1px;
    }
  }
}

:host {
  display: block;
  font-size: 0;

  span {
    .text-small-bold;
    position: relative;
    display: inline-block;
    line-height: 16px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: block;
    }

    &:not(:first-child) {
      margin-left: 32px;
    }

    &:nth-child(8n + 1)::before {
      background-color: @bright-blue;
    }

    &:nth-child(8n + 2)::before {
      background-color: @orange;
    }

    &:nth-child(8n + 3)::before {
      background-color: @light-blue;
    }

    &:nth-child(8n + 4)::before {
      background-color: @light-pink;
    }

    &:nth-child(8n + 5)::before {
      background-color: @acid-green;
    }

    &:nth-child(8n + 6)::before {
      background-color: @purple;
    }

    &:nth-child(8n + 7)::before {
      background-color: @soft-blue;
    }

    &:nth-child(8n + 8)::before {
      background-color: @gold;
    }

    &.muted {
      opacity: 0.47;
    }

    .nf-color(@nf-color-mode-pseudo-background);
  }
}
