@import '../../../styles/styles.less';

:host {
  display: block;
}

.variable {
  margin: 0 1px;
  padding: 0 2px;
  background-color: @pale-orange;
  border: @strong-orange 1px solid;
  border-radius: 5px;
}

.variable-button {
  z-index: @zindex-top;
  position: absolute;
  top: 0px;
  right: -6px;
  padding: 5px;
  background-color: @light-sea-green;
  color: @pure-white;
  border: 1px solid @light-sea-green;
  border-radius: 5px;
  .text-size-alternative;
  font-weight: @font-weight-bold;
  cursor: pointer;
  opacity: 0.3;
  height: 30px;

  &:hover {
    opacity: 1;
  }
}

.variable-select {
  z-index: @zindex-top;
  position: absolute;
  top: 2px;
  right: -10px;
}

mat-form-field.mat-form-field-appearance-standard,
mat-form-field.mat-form-field-appearance-legacy {

  .variable-button {
    right: 0;
  }

  .variable-select {
    top: -1px;
    right: 0;
  }
}

mat-form-field.mat-form-field-appearance-fill {

  .variable-button {
    top: -4px;
    right: -9px;
  }

  .variable-select {
    top: -12px;
    right: -10px;
  }
}
