@import '../../../styles/colors.less';

:host {
  display: block;
}

.mat-table {
  width: 100%;
  margin-bottom: 15px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid @grey;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: @light-grey;
}

.mat-header-row {
  height: 35px;
  border-top: 1px solid @grey;
}

.selected-row {
  background-color: @light-grey;
}

.mat-column-name {
  width: 150px;
  border-right: 1px solid @grey;
}

.mat-column-description {
  padding-left: 16px;
}
