<form id="nfc-form" [formGroup]="form" (ngSubmit)="submitNFConfigurationForm()">
  <mat-tab-group>
    <mat-tab label="Manifest">
      <button type="button" mat-stroked-button class="import-button" (click)="manifestFileInput.click()">Import from
        File</button>
      <input type="file" hidden (change)="onFileSelected($event, 'manifest')" #manifestFileInput>
      <mat-form-field>
        <textarea matInput formControlName="manifest"></textarea>
        <mat-placeholder>Enter network function manifest</mat-placeholder>
      </mat-form-field>
    </mat-tab>

    <mat-tab label="NF Configuration">
      <button type="button" mat-stroked-button class="import-button" (click)="templateFileInput.click()">Import from
        File</button>
      <input type="file" hidden (change)="onFileSelected($event, 'configTemplate')" #templateFileInput>
      <mat-form-field>
        <textarea matInput formControlName="configTemplate"></textarea>
        <mat-placeholder>Enter network function configuration template</mat-placeholder>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>
</form>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  <button form="nfc-form" mat-flat-button color="primary" [disabled]="form.pristine">Save</button>
</mat-dialog-actions>
