@import '../../../styles/styles.less';

mat-form-field {
  width: 75vw;

  textarea {
    height: 60vh;
    &:extend(.text-small-light);
  }

  mat-placeholder {
    text-transform: none;
  }
}

.import-button {
  margin-top: 30px;
  margin-bottom: 30px;
}