<h2>Connect email</h2>

<a class="add" mat-flat-button color="primary" routerLink="add" *ngIf="isSystemAdmin$ | async">
  <span>New Email Address</span>

  <img src="assets/icon-add-square-white.svg" width="16" height="16">
</a>

<p>Currently receiving notifications:</p>

<div class="notifications" *ngIf="connectedEmails?.length; else empty">
  <mat-card *ngFor="let item of connectedEmails">
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
        <span>{{ item.name }}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Receiving:
        <ng-container *ngFor="let type of item.levels?.value; last as isLast">
          {{ type | titlecase }}
          <ng-container *ngIf="!isLast">,</ng-container>
        </ng-container>
      </p>
      <p>Classes:
        <ng-container *ngFor="let cs of item.classes?.value; last as isLast">
          {{ cs | alertclass }}
          <ng-container *ngIf="!isLast">,</ng-container>
        </ng-container>
      </p>
      <p>{{ item.address }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['edit', item.identifier]" *ngIf="isSystemAdmin$ | async">
        <button mat-button class="icon-button">
          <img src="assets/icon-edit.svg" width="16" height="16">
          <span>Edit info</span>
        </button>
      </a>
      <button mat-button class="icon-button" (click)="remove(item)" *ngIf="isSystemAdmin$ | async">
        <img src="assets/icon-trash-blue.svg" width="16" height="16">
        <ng-container>Remove</ng-container>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #empty>
  <span class="empty">No connected emails yet</span>
</ng-template>
