@import '../../../styles/styles.less';


h1 {
  .h4;
  margin-bottom: 0;
}

.description {
  .text-extra-small-bold;
  color: @dark-grey;
}

#form {
  margin-top: 20px;
}

mat-dialog-actions button {
  width: 205px;
}

.mat-progress-spinner {
  margin-left: 10px;
}

.result,
.error {
  .text-small;
  margin-top: 30px;
}

.result {
  color: @lime-green;
}

p.error {
  color: @font-negative
}
