<header>
  <h1 mat-dialog-title>Packet Capture</h1>
  <p class="description">Capture will end when any of the limits are reached</p>
</header>

<mat-dialog-content>
  <form id="packet-capture-form" [formGroup]="packetCaptureForm" (ngSubmit)="submitPacketCaptureForm()" fxLayout="column">
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Format</mat-label>
      <mat-select formControlName="format">
        <mat-option [value]="Format.PCAP">TCPDUMP—Raw Packet Capture</mat-option>
        <mat-option [value]="Format.TCPDUMP">TCPDUMP—Interpreted by tcpdump</mat-option>
        <mat-option [value]="Format.TSHARK">TSHARK—Interpreted by tshark</mat-option>
      </mat-select>
      <mat-error>
        Format is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="direction">
      <mat-radio-button [value]="PacketCaptureRequestDirection.IN">Traffic In</mat-radio-button>
      <mat-radio-button [value]="PacketCaptureRequestDirection.OUT">Traffic Out</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Capture Size (kilobytes)</mat-label>
      <input type="number" placeholder="Enter capture size in kb" matInput formControlName="captureSize">
      <mat-error>
        Capture size is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Packet Count</mat-label>
      <input type="number" placeholder="Enter packet count" matInput formControlName="packetCount">
      <mat-error>
        Packet count is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Duration (seconds)</mat-label>
      <input type="number" placeholder="Enter duration in seconds" matInput formControlName="duration" [min]="DurationRange.Min"
        [max]="DurationRange.Max">
      <mat-error *ngIf="packetCaptureForm.get('duration').hasError('required')">
        Duration is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="packetCaptureForm.get('duration').hasError('min')">
        Duration minimum value is <strong>{{ DurationRange.Min }}</strong>
      </mat-error>
      <mat-error *ngIf="packetCaptureForm.get('duration').hasError('max')">
        Duration maximum value is <strong>{{ DurationRange.Max }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Append Command</mat-label>
      <input placeholder="Enter append command" matInput formControlName="appendCommand">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <ng-template #start>
    <button form="packet-capture-form" mat-flat-button color="primary">Start Packet Capture</button>
  </ng-template>
  <button *ngIf="inProgress; else start" mat-flat-button color="warn" (click)="cancelPacketCapture()">
    Stop Packet Capture
    <mat-progress-spinner mode="indeterminate" diameter="18" strokeWidth="2"></mat-progress-spinner>
  </button>
  <p class="result" *ngIf="result">
    Packet Capture Received
  </p>
  <p class="error" *ngIf="error">
    {{error}}
  </p>
</mat-dialog-actions>
