<div class="h4-bold">{{ title }}</div>
<mat-form-field appearance="outline">
  <input matInput [value]="value" [placeholder]="placeholder" (keyup.enter)="submit(field.value)" #field>
  <img matSuffix src="assets/icon-arrow-right-white.svg" (click)="submit(field.value)">
</mat-form-field>
