@import '../../../styles/styles.less';

mat-form-field {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 0px;
}

img {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  background-color: @blue;
}

input {
  width: 336px;
}
