@import '../../../styles/styles.less';

a {
  .text-size;
  .font-weight-bold;
  .letter-spacing-extra-small-negative;
  padding: 0;
  color: @dark-grey;
  text-decoration: none;

  img {
    margin-right: 8px;
    vertical-align: -6px;
  }
}