<h1 mat-dialog-title>{{ isEditMode ? 'Edit' : 'Add' }} Software Profile</h1>

<mat-dialog-content>
  <nef-software-profile-form #form [softwareProfile]="profile" (addProfile)="onAddProfile($event)">
  </nef-software-profile-form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

  <button type="submit" form="software-profile-form" mat-flat-button color="primary" [disabled]="form.form.pristine">Save</button>
</mat-dialog-actions>
