@import '../../../styles/styles.less';

:host {
  display: block;
}

.name-description {
  padding-top: 15px;
}

.interface-bonds {

  .bond {
    border: 1px solid @soft-grey;
    border-radius: 5px;
    padding: 25px 10px 2px;
    margin-bottom: 10px;

    .column {
      width: 100%;
    }
  }
}

.add-bond-button {

  width: 175px;

  span {
    margin-left: 10px;
  }
}

.remove-bond-button {
  top: -20px;
  right: 20px;
}