<form id="hardware-profile-form" [formGroup]="hardwareProfileForm" (ngSubmit)="submitForm()" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="15px" class="name-description">
    <mat-form-field fxFlex="25%">
      <input placeholder="Name" title="Enter profile name" matInput formControlName="name">
      <mat-error>
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="75%">
      <input placeholder="Description" title="Enter description" matInput formControlName="description">
    </mat-form-field>
  </div>
  <div class="interface-bonds">
    <h4 *ngIf="interfaceBondsArray.length">Interface Bonds</h4>
    <div class="bond" formArrayName="bonds" *ngFor="let bond of bondControls; let i = index">
      <ng-container [formGroupName]="i">
        <div fxLayout="column" fxFlex="1 1" class="column">
          <div fxLayout="row" fxLayoutGap="15px">

            <mat-form-field fxFlex="11%">
              <input type="number" placeholder="Socket" title="Enter socket" matInput formControlName="socket">
              <mat-error>
                Socket is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="26%">
              <mat-select placeholder="Bandwidth" title="Select bandwidth" formControlName="bandwidth">
                <mat-option [value]="nicBandwidth.MB100">{{ getBandwidthLabel(nicBandwidth.MB100) }}</mat-option>
                <mat-option [value]="nicBandwidth.GB1">{{ getBandwidthLabel(nicBandwidth.GB1) }}</mat-option>
                <mat-option [value]="nicBandwidth.GB10">{{ getBandwidthLabel(nicBandwidth.GB10) }}</mat-option>
                <mat-option [value]="nicBandwidth.GB25">{{ getBandwidthLabel(nicBandwidth.GB25) }}</mat-option>
                <mat-option [value]="nicBandwidth.GB40">{{ getBandwidthLabel(nicBandwidth.GB40) }}</mat-option>
                <mat-option [value]="nicBandwidth.GB50">{{ getBandwidthLabel(nicBandwidth.GB50) }}</mat-option>
                <mat-option [value]="nicBandwidth.GB100">{{ getBandwidthLabel(nicBandwidth.GB100) }}</mat-option>
                <mat-option [value]="nicBandwidth.GB200">{{ getBandwidthLabel(nicBandwidth.GB200) }}</mat-option>
                <mat-option [value]="nicBandwidth.GB400">{{ getBandwidthLabel(nicBandwidth.GB400) }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="26%">
              <mat-select placeholder="Driver" title="Select driver" formControlName="driver">
                <mat-option [value]="nicDriver.VFIOPCI">{{ nicDriver.VFIOPCI }}</mat-option>
                <mat-option [value]="nicDriver.UIOPCIGENERIC">{{ nicDriver.UIOPCIGENERIC }}</mat-option>
                <mat-option [value]="nicDriver.IGBUIO">{{ nicDriver.IGBUIO }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="26%">
              <mat-select placeholder="Connectivity" title="Connectivity" formControlName="connectivity">
                <mat-option [value]="connectivity.RAW">{{ connectivity.RAW }}</mat-option>
                <mat-option [value]="connectivity.VLAN">{{ connectivity.VLAN }}</mat-option>
                <mat-option [value]="connectivity.VLANQINQ">{{ connectivity.VLANQINQ }}</mat-option>
                <mat-option [value]="connectivity.VXLAN">{{ connectivity.VXLAN }}</mat-option>
                <mat-option [value]="connectivity.GREINUDP">{{ connectivity.GREINUDP }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div fxLayout="row" fxLayoutGap="15px">

            <mat-form-field fxFlex>
              <mat-select placeholder="Kernel" title="Select kernel" formControlName="kernel">
                <mat-option [value]="kernelMode.BYPASS">{{ kernelMode.BYPASS }}</mat-option>
                <mat-option [value]="kernelMode.SHARED">{{ kernelMode.SHARED }}</mat-option>
                <mat-option [value]="kernelMode.SINGLEIP">{{ kernelMode.SINGLEIP }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex>
              <mat-select placeholder="Purpose" title="Select purpose" formControlName="subnet">
                <mat-option [value]="subnetType.WAN">{{ subnetType.WAN }}</mat-option>
                <mat-option [value]="subnetType.LAN">{{ subnetType.LAN }}</mat-option>
                <mat-option [value]="subnetType.HA">{{ subnetType.HA }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex>
              <input placeholder="Enter device(s)" title="Enter device" matInput formControlName="device">
              <mat-error *ngIf="bond.get('device').hasError('required')">
                Device is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="bond.get('device').hasError('pattern')">
                Not a <strong>valid</strong> PCI or virtual device
              </mat-error>
            </mat-form-field>

          </div>
        </div>
        <button *ngIf="i > 1" mat-icon-button (click)="onRemoveInterfaceBond(i)" title="Remove bond" type="button" fxFlex="1 1 0"
          class="remove-bond-button">
          <img src="assets/icon-trash.svg" width="16" height="16">
        </button>
      </ng-container>
    </div>
  </div>
  <mat-error *ngIf="hardwareProfileForm.hasError('subnet')">
    At least one <strong>WAN</strong> and one <strong>LAN</strong> bond interfaces required.
  </mat-error>
  <div fxLaout="row" fxLayoutAlign="space-between center">
    <button type="button" class="add-bond-button" mat-button color="primary" (click)="onAddInterfaceBond()" fxFlex="25%">
      <img src="assets/icon-add-square-blue.svg" width="16" height="16">
      <span>Add Interface Bond</span>
    </button>
    <button *ngIf="!hideSave" type="submit" form="hardware-profile-form" mat-flat-button color="primary">
      <mat-spinner *ngIf="isProcessing; else save" color="primary" diameter="20" strokeWidth="1"></mat-spinner>
      <ng-template #save>Save</ng-template>
    </button>
  </div>
</form>
