<nef-toolbar></nef-toolbar>
<div fxFlex="grow" fxLayout="row">
  <div class="world" fxFlex="50%" fxLayout="column" fxLayoutAlign="center stretch">
    <img src="assets/connected-world.svg">
  </div>
  <div class="login" fxFlex="50%" fxLayout="column" fxLayoutAlign="center stretch">
    <mat-card fxFlex="grow" fxLayout="column" fxLayoutAlign="center stretch">
      <mat-card-header>
        <mat-card-title>Nefeli for Enterprise</mat-card-title>
        <mat-card-subtitle class="text-size-alternative-2">Welcome back!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" fxLayout="column">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Username</mat-label>
            <input placeholder="Enter username" autofocus matInput formControlName="username">
            <mat-error [innerHTML]="usernameErrorMessage"></mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Password</mat-label>
            <input type="password" placeholder="Enter password" matInput formControlName="password">
            <mat-error [innerHTML]="passwordErrorMessage"></mat-error>
          </mat-form-field>
        </form>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
        <mat-spinner diameter="50" *ngIf="loading" fxFlexAlign="center"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="start center">
        <button type="submit" form="login-form" mat-flat-button color="primary" fxFlex [disabled]="loginForm.pristine">LOGIN</button>
      </mat-card-actions>
    </mat-card>
    <footer class="text-extra-small-size">&copy; 2021 Nefeli Networks</footer>
  </div>
</div>
