@import '../../styles/styles.less';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.error-message {
  .font-weight-normal;
  .text-small-size;
  .letter-spacing-extra-small;
  color: @font-negative;

  &::first-letter{
    text-transform: capitalize;
  }
}

.login {
  background: @pure-white;
}

.world {
  z-index: @zindex-mid;

  img {
    width: 120%;
    margin: 24px;
  }
}

mat-card {
  padding-right: ~'min(15vw, 25%)';
  padding-left: ~'min(15vw, 25%)';
  margin: 0 auto;
  width: 100%;
  max-width: 960px;

  button {
    text-transform: uppercase;
  }

  mat-card-title {
    .h4;
    .font-weight-bold;
    margin-bottom: 5px;
    color: fade(@pure-black, 85%);
    line-height: 1.23;
  }

  mat-card-subtitle {
    margin: 0 0 24px;
    line-height: 1.5715;
  }
}

footer {
  margin-top: 10px;
  padding: 24px 50px;
  text-align: center;
}
