@import '../../../styles/styles.less';

@description-max-width: 300px;

:host {
  display: block;
}

.mat-list {
  position: relative;

  .item {
    padding-top: 15px;
  }

  h3 {
    .text-small;
    color: @dark-grey;
  }

  mat-list-item {
    padding-bottom: 8px;

    mat-chip-list {
      margin-top: 10px;
    }

    mat-chip {
      .text-extra-small-light;
      min-height: 0;
      margin-top: unset;
      margin-left: unset;
      padding: 7px 7px;
      background-color: transparent;
      color: @font-dark-grey;
      border: 1px solid @font-dark-grey;

      &:not(:last-child) {
        margin-right: 8px;
      }

      .chip-description {
        max-width: @description-max-width;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      span {
        .font-weight-normal;
      }
    }
  }

  .description {
    .text-size-alternative;
    max-width: @description-max-width;
    margin-bottom: 6px;
    word-wrap: break-word;
  }

  .severity-container {
    padding-top: 4px;
    height: 100%;
  }

  .severity {
    @bullet-size: 12px;

    flex: none;
    width: @bullet-size;
    height: @bullet-size;
    margin-right: 10px;
    border-radius: 50%;

    &.info {
      background-color: @blue;
    }

    &.warning {
      background-color: @yellow;
    }

    &.critical,
    &.error {
      background-color: @red;
    }
  }

  .mat-divider {
    position: relative;
    margin-top: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.scroll-viewport {
  width: 100%;
  height: 100%;

  .group-item {
    height: 50px;
  }
}

.loading {
  .text-size-alternative-2;
  .font-weight-light;
  color: @font-grey;
}
