<mat-list>
  <cdk-virtual-scroll-viewport class="scroll-viewport" itemSize="40">
    <div class="item" *cdkVirtualFor="let alarm of dataSource; let last = last;">
      <ng-container *ngIf="!dataSource.isLoading; else loading">
        <h3 mat-subheader>
          {{ alarm?.timestamp * 1000 | date:'MMM d, y, h:mm:ss a' }}
        </h3>
        <mat-list-item>
          <div class="severity-container" fxLayout="column">
            <div class="severity" [ngClass]="alarm?.severity" [matTooltip]="alarm?.severity" matTooltipPosition="left">
            </div>
            <div fxFlexFill></div>
          </div>
          <div>
            <div class="description">{{ getAlarmDescription(alarm) }}</div>
            <mat-chip-list>
              <ng-container *ngFor="let identity of alarm?.identity | keyvalue">
                <mat-chip *ngIf="identity.value" disableRipple="true">
                  <div class="chip-description" matTooltip="{{ identity.key }}: {{ identity.value }}" [matTooltipShowDelay]="tooltipDelay">
                    <span>{{ identity.key }}:</span>&nbsp;{{ identity.value }}
                  </div>
                </mat-chip>
              </ng-container>

              <ng-container *ngFor="let metadata of alarm?.metadata | keyvalue">
                <!-- TODO(andrew): remove check for a whitespace when NEF-2992 is resolved.
                     API returns error when `metadata.summary` is empty -->
                <mat-chip *ngIf="metadata.value && metadata.value !== ' '" disableRipple="true">
                  <div class="chip-description">
                    <span>{{ metadata.key }}:</span>&nbsp;{{ metadata.value }}
                  </div>
                </mat-chip>
              </ng-container>
            </mat-chip-list>
          </div>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
      <ng-template #loading>
        <p class="loading" fxLayoutAlign="center center">Loading...</p>
      </ng-template>
    </div>
  </cdk-virtual-scroll-viewport>
</mat-list>
