<h1 mat-dialog-title>Edit Info</h1>

<mat-dialog-content>
  <form id="user-form" [formGroup]="userForm" (ngSubmit)="submitUserForm()" fxLayout="column">
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Username</mat-label>
      <input placeholder="Enter username" matInput formControlName="username" readonly>
      <mat-error>
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div fxLayoutGap="25px">
      <mat-form-field fxFlex="grow" appearance="standard" floatLabel="always">
        <mat-label>First Name</mat-label>
        <input placeholder="Enter user first name" matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field fxFlex="grow" appearance="standard" floatLabel="always">
        <mat-label>Last Name</mat-label>
        <input placeholder="Enter user last name" matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>E-Mail</mat-label>
      <input placeholder="Enter user e-mail" matInput formControlName="email">
      <mat-error *ngIf="userForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userForm.get('email').hasError('email')">
        Not a <strong>valid</strong> email
      </mat-error>
    </mat-form-field>

    <h2>Edit Role</h2>

    <div fxLayoutGap="25px">
      <mat-form-field fxFlex="grow" *ngIf="userScope === Scope.Tenant">
        <mat-select placeholder="Tenant" value="default" disabled="true">
          <mat-option value="default">{{ usersTenant?.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Roles" formControlName="roles" multiple>
          <mat-option value="admin">Admin</mat-option>
          <mat-option value="user">User</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

  <button type="submit" form="user-form" mat-flat-button color="primary" [disabled]="userForm.pristine">Complete</button>
</mat-dialog-actions>
