@import '../../styles/styles.less';

:host {
  display: flex;
  align-items: center;
  min-height: 52px;
  height: 52px;
  background: @black;
  color: @font-grey;

  &::before,
  &::after {
    content: '';
    flex-basis: 110px;
  }

  .logo {
    margin-right: 25px;

    img {
      height: 30px;
    }
  }

  .menu,
  .secondary-menu {

    &,
    div {
      height: 100%;
    }

    .active,
    a:active {
      color: @font-black;
    }
  }

  .menu {
    margin-left: 10px;
    margin-right: 10px;

    a:not(:last-child),
    div:not(:last-child) button {
      margin-right: 25px;
    }

    a,
    button {
      &:extend(.text-size);
      color: @light-grey;
      padding: 2px 8px;
      border: 1px solid transparent;
      border-radius: 15px;
      text-decoration: none;

      &:hover {
        border-color: @light-grey;
      }
    }

    .active,
    a:active {
      background-color: @light-grey;
      border-color: @light-grey;
    }
  }

  .secondary-menu {
    @icon-spacing: 2px;

    .alarms,
    .settings {

      button {
        padding: unset;

        &:not(.active) {
          margin: @icon-spacing;
        }

        img {
          vertical-align: middle;
        }
      }
    }

    .alarms button .mat-badge-content {
      .text-extra-small-size-alternative;
      top: -4px;
      right: -9px;
      background-color: @red;
    }

    .settings,
    .user {
      margin-left: 15px - @icon-spacing;
    }

    .settings button {
      border-radius: 50%;

      &.active {
        background-color: @pure-white;

        img {
          padding: @icon-spacing;
        }
      }
    }

    .user {

      nef-avatar {
        cursor: pointer;
      }

      .login {
        min-width: auto;
        padding-left: 12px;
        padding-right: 12px;
        line-height: 32px;
      }
    }
  }
}

.alarm-dropdown {
  .arrow-top;
  width: 365px;
  max-height: 600px;
  padding: 16px;
  padding-bottom: 10px;

  header {
    margin-bottom: 16px;

    h4 {
      .h6-bold;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    &:extend(.h6-light);

    &:link,
    &:visited {
      color: @blue;
    }

    &:hover,
    &:active {
      color: @font-blue;
    }
  }

  .no-alarms {
    &:extend(.text-size-alternative-2);
    .font-weight-light;
    .text-style-italic;
    margin: 25px 0;
    color: @font-grey;
  }

  nef-alarm-list {
    margin-left: -16px;
    margin-right: -16px;

    .mat-list {
      overflow-y: auto;
      max-height: 300px;
    }
  }

  & > .mat-divider {
    margin-bottom: 10px;
  }

  mat-card-actions {
    padding-top: 10px;

    button {
      &:extend(.h6-light);
      color: @blue;
    }
  }
}

.user-dropdown {
  min-width: 250px;

  nef-avatar {
    margin-right: 15px;
  }

  mat-card-subtitle {
    margin-bottom: 0;
  }
  
  mat-card-actions {
    text-align: center;
    padding-top: 30px;

    button {
      &:extend(.h6-light);
      color: @font-blue;   
    }
  }
}
