<!-- Logo -->
<div class="logo" fxFlex fxShow.lt-sm="false" fxLayoutAlign="start center">
  <img src="assets/nefeli-logo.svg">
</div>

<!-- Menu -->
<nav class="menu" fxLayoutAlign="center center">
  <ng-container *ngIf="(isLoggedIn$ | async) && !(isTenant$ | async)">
    <a routerLink="/overview" routerLinkActive="active" *ngIf="!isSaas">System Overview</a>
    <a routerLink="/sites" routerLinkActive="active">Sites</a>
  </ng-container>

  <div cdkOverlayOrigin #nfsDropdownOverlayOrigin="cdkOverlayOrigin" fxLayoutAlign="center center">
    <button [class.active]="isNFsPage" *ngIf="(isLoggedIn$ | async) && !(isTenant$ | async) && !isSaas"
      (mouseenter)="closeDropdowns(); isNFsDropdownOpen=true" (mouseleave)="onNFsMouseLeave()"
      (click)="router.navigate(['/nfs'])">NFs</button>
  </div>

  <div cdkOverlayOrigin #connectivityDropdownOverlayOrigin="cdkOverlayOrigin" fxLayoutAlign="center center">
    <button [class.active]="isConnectivityPage" *ngIf="(isLoggedIn$ | async) && !(isTenant$ | async) && !isSaas"
      (mouseenter)="closeDropdowns(); isConnectivityDropdownOpen=true" (mouseleave)="onConnectivityMouseLeave()"
      (click)="router.navigate(['/tunnels'])">Connectivity</button>
  </div>

  <div cdkOverlayOrigin #servicesDropdownOverlayOrigin="cdkOverlayOrigin" fxLayoutAlign="center center">
    <button [class.active]="isServicesPage" *ngIf="(isLoggedIn$ | async) && !(isTenant$ | async)"
      (mouseenter)="closeDropdowns(); isServicesDropdownOpen=true" (mouseleave)="onServiceMouseLeave()"
      (click)="router.navigate(['/tenants'])">Services</button>
  </div>
</nav>

<!-- Secondary Menu -->
<div class="secondary-menu" fxFlex fxLayoutAlign="end">
  <!-- Alarms -->
  <div class="alarms" cdkOverlayOrigin #alarmDropdownOverlayOrigin="cdkOverlayOrigin" fxLayoutAlign="center center">
    <button *ngIf="(isLoggedIn$ | async) && !isSaas" [matBadge]="badgeAlarmsCount" matBadgeSize="small"
      [matBadgeHidden]="!unreadAlarmsCount" (click)="toggleAlarmDropdown()" [matTooltip]="unreadAlarmsCount + ' new alarms'">
      <img src="assets/icon-bell.svg" width="24" height="24">
    </button>
  </div>

  <!-- Settings -->
  <div class="settings" cdkOverlayOrigin #settingsDropdownOverlayOrigin="cdkOverlayOrigin" fxLayoutAlign="center center">
    <button [class.active]="isSettingsPage" *ngIf="!(isTenantUser$ | async) && (isLoggedIn$ | async) && !isSaas"
      (click)="toggleSettingsDropdown()">
      <img [src]="isSettingsPage ? 'assets/icon-settings-active.svg' : 'assets/icon-settings.svg'" width="24" height="24">
    </button>
  </div>

  <!-- User -->
  <div class="user" cdkOverlayOrigin #userDropdownOverlayOrigin="cdkOverlayOrigin" fxLayoutAlign="center center">
    <ng-container *ngIf="isLoggedIn$ | async; else login">
      <nef-avatar [mode]="AVATAR_MODE.USER" [url]="gravatarUrl" [userName]="username$ | async" [firstName]="(user$ | async).firstName"
        [lastName]="(user$ | async).lastName" (click)="toggleUserDropdown()">
      </nef-avatar>
    </ng-container>

    <ng-template #login>
      <a class="login" routerLink="/auth/login" *ngIf="!isLoginPage" mat-flat-button color="primary">Log In</a>
    </ng-template>
  </div>
</div>

<!-- NFs Dropdown -->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayHasBackdrop]="false" cdkConnectedOverlayPanelClass="nfs-dropdown"
  [cdkConnectedOverlayOpen]="isNFsDropdownOpen" [cdkConnectedOverlayOrigin]="nfsDropdownOverlayOrigin"
  [cdkConnectedOverlayPositions]="menuDropdownConnectedPositions">
  <nef-detailed-menu title="Network Functions" (mouseenter)="nfsDropdownHover=true" (mouseleave)="isNFsDropdownOpen=false">
    <nef-detailed-menu-item title="NF Catalog" description="Manage network functions, add new NF and delete old Network functions"
      icon="assets/icon-panel-nfs.svg" [iconWidth]="32" [iconHeight]="51" [link]="['/nfs']" (click)="closeNFsDropdown()">
    </nef-detailed-menu-item>

    <nef-detailed-menu-item title="Licensing" description="Manage licenses and license pools" icon="assets/icon-panel-licenses.svg"
      [iconWidth]="32" [iconHeight]="35" [link]="['/licenses']" (click)="closeNFsDropdown()"></nef-detailed-menu-item>
  </nef-detailed-menu>
</ng-template>

<!-- Connectivity Dropdown-->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayHasBackdrop]="false" cdkConnectedOverlayPanelClass="connectivity-dropdown"
  [cdkConnectedOverlayOpen]="isConnectivityDropdownOpen" [cdkConnectedOverlayOrigin]="connectivityDropdownOverlayOrigin"
  [cdkConnectedOverlayPositions]="menuDropdownConnectedPositions">
  <nef-detailed-menu title="Connectivity" (mouseenter)="connectivityDropdownHover=true" (mouseleave)="isConnectivityDropdownOpen=false">
    <nef-detailed-menu-item title="Tunnels" description="Manage tunnels, add new tunnels, delete tunnels"
      icon="assets/icon-panel-tunnels.svg" [iconWidth]="32" [iconHeight]="51" [link]="['/tunnels']" (click)="closeConnectivityDropdown()">
    </nef-detailed-menu-item>

    <nef-detailed-menu-item title="Attachments" description="Manage attachments, add new attachments, delete attachments"
      icon="assets/icon-panel-attachments.svg" [iconWidth]="32" [iconHeight]="51" [link]="['/attachments']"
      (click)="closeConnectivityDropdown()">
    </nef-detailed-menu-item>
  </nef-detailed-menu>
</ng-template>

<!-- Alarm Dropdown -->
<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOpen]="isAlarmDropdownOpen" [cdkConnectedOverlayOrigin]="alarmDropdownOverlayOrigin"
  [cdkConnectedOverlayPositions]="alarmDropdownConnectedPositions" (backdropClick)="closeAlarmDropdown()">
  <mat-card class="alarm-dropdown">
    <header fxLayout="row" fxLayoutAlign="space-between">
      <h4>Notifications</h4>
      <a routerLink="/alerts" *ngIf="isSystemAdmin$ | async">Settings</a>
    </header>

    <ng-template #empty>
      <p class="no-alarms" fxLayoutAlign="center center">No new notifications</p>
    </ng-template>

    <nef-alarm-list *ngIf="unreadAlarmsCount; else empty" [dataSource]="alarmsDataSource"></nef-alarm-list>

    <mat-divider></mat-divider>

    <mat-card-actions fxLayoutAlign="center">
      <button mat-button (click)="showAllNotifications()">See All Notifications</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<!-- Settings Dropdown-->
<ng-template cdkConnectedOverlay cdkConnectedOverlayHasBackdrop cdkConnectedOverlayBackdropClass="noop-backdrop"
  cdkConnectedOverlayPanelClass="settings-dropdown" [cdkConnectedOverlayOpen]="isSettingsDropdownOpen"
  [cdkConnectedOverlayOrigin]="settingsDropdownOverlayOrigin" [cdkConnectedOverlayPositions]="secondaryMenuDropdownConnectedPositions"
  (backdropClick)="closeSettingsDropdown()">
  <nef-detailed-menu title="Settings">
    <nef-detailed-menu-item title="Users" description="Add or remove Tapestry user accounts" icon="assets/icon-panel-users.svg"
      [iconWidth]="32" [iconHeight]="35" [link]="['/users']" (click)="closeSettingsDropdown()"></nef-detailed-menu-item>

    <nef-detailed-menu-item title="Tenants" description="Add or remove Tapestry tenants" icon="assets/icon-panel-tenants.svg"
      [iconWidth]="32" [iconHeight]="35" [link]="['/tenants-list']" *ngIf="!(isTenant$ | async)" (click)="closeSettingsDropdown()">
    </nef-detailed-menu-item>

    <nef-detailed-menu-item title="Files" description="Manage files available to ExP and ExP Edge sites" icon="assets/icon-panel-files.svg"
      [iconWidth]="32" [iconHeight]="51" [link]="['/file-manager']" *ngIf="!(isTenant$ | async)" (click)="closeSettingsDropdown()">
    </nef-detailed-menu-item>

    <nef-detailed-menu-item title="Alerts" description="Manage alert delivery channels" icon="assets/icon-panel-notifications.svg"
      [iconWidth]="32" [iconHeight]="35" [link]="['/alerts']" *ngIf="!(isTenant$ | async)" (click)="closeSettingsDropdown()">
    </nef-detailed-menu-item>

    <nef-detailed-menu-item title="Logging" description="Configure centralized logging and download system logs"
      icon="assets/icon-panel-logging.svg" [iconWidth]="32" [iconHeight]="51" [link]="['/logging']" *ngIf="!(isTenant$ | async)"
      (click)="closeSettingsDropdown()"></nef-detailed-menu-item>

    <nef-detailed-menu-item title="Provisioning" description="Manage ExP and ExP Edge device provisioning options"
      icon="assets/icon-panel-provisioning.svg" [iconWidth]="32" [iconHeight]="51" [link]="['/provisioning']" *ngIf="!(isTenant$ | async)"
      (click)="closeSettingsDropdown()">
    </nef-detailed-menu-item>

    <nef-detailed-menu-item title="System" description="Manage security, HA and more" icon="assets/icon-panel-settings.svg" [iconWidth]="32"
      [iconHeight]="35" [link]="['/system-configuration']" *ngIf="!(isTenant$ | async)" (click)="closeSettingsDropdown()">
    </nef-detailed-menu-item>
  </nef-detailed-menu>
</ng-template>

<!-- User Dropdown-->
<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOpen]="isUserDropdownOpen" [cdkConnectedOverlayOrigin]="userDropdownOverlayOrigin"
  [cdkConnectedOverlayPositions]="secondaryMenuDropdownConnectedPositions" (backdropClick)="closeUserDropdown()">
  <mat-card class="user-dropdown">
    <mat-card-header fxLayout="row" fxLayoutAlign="start center">
      <nef-avatar [width]="50" [height]="50" [mode]="AVATAR_MODE.USER" [url]="gravatarUrl" [userName]="username$ | async"
        [firstName]="(user$ | async).firstName" [lastName]="(user$ | async).lastName">
      </nef-avatar>
      <div>
        <mat-card-title>{{ (user$ | async).firstName + ' ' + (user$ | async).lastName }}</mat-card-title>
        <mat-card-subtitle>{{ (user$ | async).email }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="logout()">Logout</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<!-- Services Dropdown -->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayHasBackdrop]="false" cdkConnectedOverlayBackdropClass="noop-backdrop"
  cdkConnectedOverlayPanelClass="services-dropdown" [cdkConnectedOverlayOpen]="isServicesDropdownOpen"
  [cdkConnectedOverlayOrigin]="servicesDropdownOverlayOrigin" [cdkConnectedOverlayPositions]="menuDropdownConnectedPositions">
  <nef-detailed-menu title="Services" (mouseenter)="servicesDropdownHover=true" (mouseleave)="isServicesDropdownOpen=false">
    <!-- TODO (anton): replace icon -->
    <nef-detailed-menu-item title="Active Services & Drafts" description="Manage, add or delete active services or drafts"
      icon="assets/icon-panel-nfs.svg" [iconWidth]="32" [iconHeight]="51" [link]="['/tenants']" (click)="closeServicesDropdown()">
    </nef-detailed-menu-item>
    <!-- TODO (anton): replace icon -->
    <nef-detailed-menu-item title="Templates" description="Manage templates, add new template, delete templates"
      icon="assets/icon-panel-licenses.svg" [iconWidth]="32" [iconHeight]="35" [link]="['/templates']" (click)="closeServicesDropdown()">
    </nef-detailed-menu-item>
  </nef-detailed-menu>
</ng-template>
