@import '../../styles/styles.less';

.container {

  .value {
    .h2-size-alternative;
    .font-weight-bold;

    span {
      .text-size;
    }
  }

  .description {
    .text-extra-small-size;
    .letter-spacing-medium;
    margin-bottom: 10px;
    color: @arsenic;
    text-transform: uppercase;
  }

  .icon {
    text-align: right;

    img {
      width: 100%;
      vertical-align: middle;
    }

    :host-context(nef-overview) .icon {

      img {
        width: 100%;
        height: 150px;
        vertical-align: middle;

        &[src*='icon-exp'] {
          width: unset;
          height: 100px; // 150px substract vertical margin
          margin-top: 35px; // 150px substract height and bottom margin
          margin-bottom: 15px; // 150px substract height and top margin
          margin-right: 50px;
        }
      }
    }
  }

  mat-card {
    padding-bottom: 0px;
    padding-right: 0px;
  }
}
