<div class="container" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="10px">
  <nef-summary-item description="SERVICES" icon="assets/icon-services.svg" [value]="services" fxFlex>
  </nef-summary-item>

  <nef-summary-item description="CORES USED" icon="assets/icon-cores.svg" [value]="coresActive" [total]="coresTotal" fxFlex>
  </nef-summary-item>

  <nef-summary-item description="NF MEMORY USED" icon="assets/icon-memory.svg" [value]="memoryActive | converter"
    [total]="memoryTotal | converter:true" fxFlex></nef-summary-item>

  <nef-summary-item description="THROUGHPUT" icon="assets/icon-packets.svg" [value]="throughput[0]" [unit]="throughput[1]" fxFlex>
  </nef-summary-item>

  <!-- TODO(andrew): re-enable when cluster capacity has been well defined -->
  <!-- <nef-summary-item description="CLUSTER CAPACITY" icon="assets/icon-capacity.svg"
    [value]="clusterStats?.capacity | percent" fxFlex></nef-summary-item> -->
</div>
