<div class="container">
  <mat-card>
    <div class="value">{{value}}<span *ngIf="total">/{{total}}</span><span *ngIf="unit">&nbsp;{{unit}}</span></div>
    <div class="description">{{description}}</div>
    <div class="icon"><img [src]="icon" /></div>
  </mat-card>
</div>
