<mat-table matSort [dataSource]="pagination ? serverDataSource : dataSource" (matSortChange)="sortData($event)" #table>
  <ng-container matColumnDef="{{ column.name }}" *ngFor="let column of columns">
    <ng-container *ngIf="column.type !== ColumnType.SELECT; else selectAll">
      <ng-container *ngIf="sortable && (column.sortable === undefined || column.sortable === true); else noSorting">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ (column.label === null || column.label === undefined) ? column.name : column.label }}
        </mat-header-cell>
      </ng-container>
      <ng-template #noSorting>
        <mat-header-cell *matHeaderCellDef>{{ (column.label === null || column.label === undefined) ? column.name : column.label }}
        </mat-header-cell>
      </ng-template>
    </ng-container>

    <ng-template #selectAll>
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
          (change)="$event ? masterToggle() : null">
        </mat-checkbox>
      </mat-header-cell>
    </ng-template>

    <ng-template #select>
      <mat-cell *matCellDef="let row" [ngSwitch]="column.type">
        <mat-checkbox [checked]="isSelected(row)" (click)="$event.stopPropagation()" (change)="$event ? toggleSelection(row) : null">
        </mat-checkbox>
      </mat-cell>
    </ng-template>

    <ng-container *ngIf="column.type !== ColumnType.SELECT; else select">
      <mat-cell *matCellDef="let element" [ngSwitch]="column.type">
        <span class="badge" *ngSwitchCase="ColumnType.BADGE" [ngClass]="getBadgeClassName(column, element)">
          {{ element[column.name] }}
        </span>

        <ng-container *ngSwitchCase="ColumnType.ICON">
          <div>
            <nef-avatar [name]="element[column.name]"></nef-avatar>
            <span>{{ element[column.name] }}</span>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="ColumnType.USER">
          <div fxLayout="row">
            <!-- <nef-avatar url="assets/temp.admin-avatar.jpg" [name]="element[column.name].name" [width]="48" [height]="48"></nef-avatar> -->

            <ul>
              <li>
                <strong>{{ element[column.name].name }}</strong>
              </li>
              <li>{{ element[column.name].email }}</li>
            </ul>
          </div>

          <button *ngIf="canEditUser" mat-button (click)="onEditUser($event, element[column.name].username)">Edit</button>
        </ng-container>

        <ul *ngSwitchCase="ColumnType.ROLE">
          <li *ngFor="let role of element[column.name]">{{ role }}</li>
        </ul>

        <ng-container *ngSwitchCase="ColumnType.TENANT">
          <ul *ngFor="let role of element[column.name]">
            <li *ngFor="let tenant of role">{{ tenant }}</li>
          </ul>
        </ng-container>

        <ng-container *ngSwitchCase="ColumnType.ACTIONS">
          <button mat-button #actionButton class="action" *ngFor="let button of element[column.name]" [ngClass]="button.action" (click)="onActionClick({
              type: button.action,
              data: element,
              event: $event,
              elem: actionButton
            })">
            <img *ngIf="button.icon" [src]="'assets/icon-' + button.icon + '.svg'" width="16" height="16">
            <ng-container>{{ button.text }}</ng-container>
          </button>
        </ng-container>

        <ng-container *ngSwitchCase="ColumnType.LINK">
          <a class="link" [matTooltip]="element[column.name]?.tooltip" matTooltipPosition="above" [routerLink]="element[column.name]?.route"
            *ngIf="element[column.name]?.route; else noRoute">
            <mat-icon class="link-icon" *ngIf="element[column.name]?.icon" [svgIcon]="element[column.name]?.icon"
              [ngClass]="getLinkClassName(column, element)"></mat-icon>{{ element[column.name]?.label }}
          </a>
          <ng-template #noRoute>
            <mat-icon class="link-icon" *ngIf="element[column.name]?.icon" [svgIcon]="element[column.name]?.icon"
              [ngClass]="getLinkClassName(column, element)"></mat-icon>{{ element[column.name]?.label }}
          </ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="ColumnType.LIST">
          <mat-list role="list" fxLayoutAlign="start center">
            <mat-list-item *ngFor="let item of element[column.name]">{{ item }}</mat-list-item>
          </mat-list>
        </ng-container>

        <ng-container *ngSwitchCase="ColumnType.TOOLTIP">
          <span class="ellipsis" matTooltipPosition="above" [matTooltip]="cellValue(element[column.name])">{{
            cellValue(element[column.name]) }}</span>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <span class="ellipsis">{{ cellValue(element[column.name]) }}</span>
        </ng-container>
      </mat-cell>
    </ng-container>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row [ngClass]="getRowClassNames(row)" *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)">
  </mat-row>
</mat-table>

<mat-divider *ngIf="pagination"></mat-divider>

<mat-paginator [pageSizeOptions]="[50, 10, 5]" [length]="serverDataSource?.total" showFirstLastButtons *ngIf="pagination">
</mat-paginator>
