@import '../../../styles/styles.less';

:host {
  display: block;

  mat-divider {
    display: none;
  }
}

mat-table {
  background: transparent;

  @min-col-width: 130px;

  .mat-header-row {
    min-height: 45px;

    .mat-header-cell {
      .text-small;
      overflow: unset;
      justify-content: center;
      min-width: @min-col-width;
      color: @font-grey;
      line-height: 14px;
      padding-left: 3px;
      padding-right: 3px;

      &:first-child {
        justify-content: flex-start;
      }
    }
  }

  .mat-row {
    margin: 8px 0;
    min-height: 64px;
    background-color: @pure-white;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 @bg-grey;

    &.clickable {
      cursor: pointer;
    }

    &.selected-row {
      background-color: @light-grey;
    }

    .mat-cell {
      &:extend(.text-size);
      .font-weight-normal;
      .letter-spacing-extra-small-negative;
      display: flex;
      justify-content: center;
      min-width: @min-col-width;
      white-space: nowrap;

      > span.ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &:first-child {
        justify-content: flex-start;
      }

      &.mat-column-select {
        padding-top: 4px;
      }
    }
  }

  .mat-header-row,
  .mat-row {
    border-style: none;
  }

  .mat-header-row .mat-header-cell,
  .mat-row .mat-cell {

    &.mat-column-select {
      overflow: unset;
      flex: 0 1 auto;
      padding-right: 16px;
    }

    mat-list {
      padding-top: 0;

      mat-list-item {
        height: 24px;
      }
    }
  }

  nef-avatar {
    margin-right: 15px;

    .cap-avatar {

      &.red {
        background-color: @soft-pink;

        .cap-letter {
          color: @red;
        }
      }

      &.green {
        background-color: @soft-green;

        .cap-letter {
          color: @font-acid-green;
        }
      }

      &.blue {
        background-color: @mild-blue;

        .cap-letter {
          color: @deep-blue;
        }
      }

      span.cap-letter {
        &:extend(.font-weight-normal);
        display: inline-block;
        padding-top: 4px;
      }
    }
  }


  button.action {
    .text-extra-small-size;
    margin-right: 16px;
    padding: 0 5px;
    text-transform: uppercase;
    cursor: pointer;

    img {
      vertical-align: -4px;
      margin-right: 8px;
    }
  }
}

:host(.compact) {

  mat-table {
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 @bg-grey;
  }

  mat-table,
  .mat-header-row {
    background-color: @pure-white;
  }

  .mat-header-row {
    padding-top: 24px;
    padding-bottom: 24px;

    .mat-header-cell {
      color: @dark-grey;
      font-size: 12px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }

  .mat-header-row,
  .mat-row {
    min-height: unset;
    margin: 0 24px;
    border-bottom: 1px solid @light-grey;

    mat-header-cell,
    mat-cell {
      justify-content: unset;
      min-width: unset;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }

      .link {
        display: flex;
        text-decoration: none;

        &:link,
        &:visited {
          color: @black;
        }

        &:hover,
        &:active {
          color: @font-blue;
        }
      }

      .link-icon {

        width: 16px;
        height: 16px;
        padding-right: 7px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  .mat-row {
    align-items: baseline;
    padding-top: 24px;
    padding-bottom: 16px;
    border-radius: unset;
    box-shadow: unset;

    &:last-of-type {
      padding-bottom: 24px;
      border-bottom: none;
    }

    .mat-cell {
      align-items: flex-start;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  mat-divider {
    display: block;
  }
}

.mat-paginator {
  background-color: initial;
}
