<mat-dialog-content>
  <p [innerHTML]="description"></p>

  <p>Are you sure you want to continue?</p>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" [mat-dialog-close]="false">Cancel</button>

  <button mat-flat-button color="warn" [mat-dialog-close]="true">{{ action }}</button>
</mat-dialog-actions>
