<header fxLayout="row" fxLayoutAlign="end">
  <a class="cancel-button" (click)="onCancel()">
    <span class="button-label">Cancel</span>
    <span class="button-icon"></span>
  </a>
</header>

<div class="control-bar" fxLayout="row" fxLayoutAlign="space-evenly start">
  <section fxFlex="50" fxLayout="column" fxLayoutGap="10px">
    <div class="service-name">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" required [value]="name || ''" (input)="onServiceNameInput($event)">
      </mat-form-field>
      <div fxFlex fxLayoutAlign="space-between end">
        <div class="license">
          <button cdkOverlayOrigin #licensePoolDropdownOrigin="cdkOverlayOrigin" [class.selected]="selectedLicensePool"
            (click)="onOpenLicensePoolDropdown()">

            <ng-container *ngIf="(isAdmin$ | async); else noPoolSelect">
              <ng-container *ngIf="selectedLicensePool; else select">{{ selectedLicensePool?.name }}</ng-container>
              <ng-template #select>Select License Pool</ng-template>
              <img src="assets/icon-chevron-bottom-blue.svg" widht="16" height="16">
            </ng-container>

            <ng-template #noPoolSelect><span>License pool: {{ serviceCurrentLicensePoolId || 'None' }}</span>
            </ng-template>

          </button>
        </div>
      </div>
    </div>
    <div class="service-name" *ngIf="mode !== Mode.TEMPLATE_INSTANTIATE">
      <mat-form-field>
        <input matInput type="text" placeholder="Description" [value]="description || ''" (input)="onServiceDescriptionInput($event)">
      </mat-form-field>
    </div>
  </section>

  <section fxFlex="50" fxLayout="row" fxLayoutAlign="end" class="service-controls" fxLayoutGap="8px">
    <button *ngIf="!isTemplateMode" mat-button color="warn" [disabled]="!editMode" (click)="onDeleteService()">Delete</button>

    <mat-button-toggle-group class="primary-split-button">
      <mat-button-toggle [disabled]="publishType === PublishType.GRACEFUL && !hasServiceChanges && !hasDraft" class="publish-btn"
        (click)="onPublishService()">
        <mat-spinner *ngIf="isPublishing; else publish" color="primary" diameter="20" strokeWidth="1"></mat-spinner>
        <ng-template #publish>{{ publishDescription }}</ng-template>
      </mat-button-toggle>
      <mat-button-toggle [matMenuTriggerFor]="dropdownPublishMenu">
        <mat-icon>arrow_drop_down</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-menu #dropdownPublishMenu="matMenu">
      <button mat-menu-item *ngFor="let type of PublishTypes" (click)="publishType = type">{{type}}</button>
    </mat-menu>
  </section>
</div>
<div class="content" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="stretch" [ngStyle]="{'height': canvasHeight + 'px'}">
  <div class="sidebar" fxFlex="276px" fxLayout="column" [@addSite]="addSite ? 'slideDownMenu' : undefined" [@.disabled]="editMode">
    <div *ngIf="mode === Mode.TEMPLATE_INSTANTIATE; else networkFunctionsMenu" class="template-variables">
      <div class="title">TEMPLATE VARIABLES</div>
      <ng-container *ngFor="let variable of templateVarsMap | keyvalue">
        <mat-form-field *ngIf="variable.key !== TEMPLATE_VAR_SERVICE_NAME">
          <mat-label>{{ variable.key }}</mat-label>
          <input matInput (input)="onSetTemplateVariable($event)" [name]="variable.key">
          <mat-hint *ngIf="variable.value?.size > 0">
            {{ variable.value.values().next().value + ((variable.value.size > 1) ? ' [more]' : '') }}
          </mat-hint>
        </mat-form-field>
      </ng-container>
    </div>
    <ng-template #networkFunctionsMenu>
      <div class="network-functions">
        <nef-network-function-menu [catalog]="nfCatalog" [draggable]="true" (handleDragStart)="onDragStart($any($event))">
        </nef-network-function-menu>
      </div>
    </ng-template>
  </div>

  <div class="canvas">
    <mat-card *ngIf="mode !== Mode.TEMPLATE_INSTANTIATE" class="site-card add" [@addSite]="addSite ? 'shrinkButton' : undefined"
      [@.disabled]="editMode">
      <mat-card-content fxFlex fxLayoutAlign="center center" fxLayout="column">
        <button mat-button (click)="onAddSiteClick()">
          <mat-icon aria-label="Add Site" aria-hidden="false" [@addSite]="addSite ? 'shrinkIcon' : undefined" [@.disabled]="editMode">
            add_circle_outline</mat-icon>
          <span>Add Site</span>
        </button>
      </mat-card-content>
    </mat-card>
    <nef-pipeline *ngIf="editMode || newSiteChosen || mode === Mode.TEMPLATE_INSTANTIATE" #pipeline [tenant]="tenant"
      [pipeline]="[activePipeline]" [ports]="ports" [nfs]="nfs" [active]="true" [edit]="true" [serviceMode]="mode"
      (handleDrop)="onDrop($event)" (onDeleteSite)="onDeleteSite()" [class.shift]="newSiteChosen" [template]="templateGraph"></nef-pipeline>
  </div>
</div>

<ng-template *ngIf="(isAdmin$ | async)" cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOpen]="isLicensePoolDropdownOpen" [cdkConnectedOverlayOrigin]="licensePoolDropdownOrigin"
  [cdkConnectedOverlayPositions]="licensePoolDropdownPositions" (backdropClick)="closeLicensePoolDropdown()">
  <mat-card class="license-pool-dropdown" [class.no-license-pools]="!licensePools?.length">
    <mat-card-content *ngIf="licensePools?.length">
      <mat-action-list role="listbox" dense>
        <button role="option" mat-list-item (click)="onClearSelectedLicensePool()">-- None --</button>
        <button role="option" mat-list-item [class.selected]="selectedLicensePool === licensePool" *ngFor="let licensePool of licensePools"
          (click)="onSelectLicensePool(licensePool)">{{ licensePool.name
          }}</button>
      </mat-action-list>
    </mat-card-content>

    <mat-divider *ngIf="licensePools?.length"></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" (click)="onCreateLicensePool()">Create New</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
