@import '../../../styles/styles.less';

:host {
  display: block;
  padding-top: 60px;
}

header {
  margin-bottom: 40px;
}

.cancel-button {
  .icon-button('../../../assets/icon-cancel.svg', @black, @dark-grey);
}

.icon-button (@url, @hoverColor, @color) {
  &:extend(.font-weight-normal);
  &:extend(.text-size);
  text-decoration: none;
  cursor: pointer;

  &:link,
  &:visited {

    .button-icon,
    .button-label {
      color: @color;
    }
  }

  &:hover,
  &:active {

    .button-icon,
    .button-label {
      color: @hoverColor;
    }
  }

  .button-icon {
    display: inline-block;
    width: 21px;
    height: 23px;
    vertical-align: middle;
    background: url(@url) no-repeat;
  }

  .button-label {
    margin-right: 10px;
    transition: color 0.15s linear;
  }
}

.control-bar {
  margin-bottom: 45px;

  .service-name {

    input,
    textarea {
      margin-right: 10px;
    }

    input[placeholder='Name'] {
      .h4-bold;
    }

    input[placeholder='Description'] {
      .h6;
    }

    textarea {
      &:extend(.text-size);
    }

    .mat-form-field {
      margin-bottom: 0;
    }

    nef-template-input {
      height: 47px;
    }

    .mat-form-field,
    nef-template-input {
      width: 276px;
      margin-right: 24px;
    }
  }

  .license {
    line-height: 36px;

    button {
      .text-size-alternative-2;
      &:extend(.letter-spacing-extra-small-negative);
      padding: 0;
      color: @blue;
      text-transform: lowercase;

      &:hover {
        cursor: pointer;
      }

      &::first-letter {
        text-transform: capitalize;
      }

      &.selected::first-letter {
        text-transform: unset;
      }

      img {
        margin-left: 4px;
        vertical-align: -4px;
      }
    }
  }

  .icon-button (@url, @hoverColor, @color) {
    &:extend(.font-weight-normal);
    &:extend(.text-size);
    text-decoration: none;

    &:link,
    &:visited {

      .button-icon,
      .button-label {
        color: @color;
      }
    }

    &:hover,
    &:active {

      .button-icon,
      .button-label {
        color: @hoverColor;
      }
    }

    .button-icon {
      display: inline-block;
      width: 21px;
      height: 23px;
      vertical-align: middle;
      background: url(@url) no-repeat;
    }
  }

  .button-label {
    margin-right: 10px;
    transition: color 0.15s linear;
  }
}

.content {

  .network-functions {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .mat-card-content {
    height: 65px;
  }

  .service-ports {
    padding: 13px;
    box-sizing: border-box;
    background-color: @light-grey;
    border: 1px solid @soft-grey;
    height: 103px;

    .port {
      &:extend(.text-size);
      &:extend(.font-weight-normal);
      padding: 10px;
      background-color: @pure-white;
      display: inline-block;
      border-radius: 5px;

      .port-icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 25px;
        vertical-align: -2px;
        background-color: @blue;
      }

      .port-label {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  nef-pipeline {
    margin-top: -18px;
    height: 100%;
  }

  nef-pipeline.shift {
    margin-top: -68px;
  }

  .canvas {
    width: 100%;

    .site-card {
      height: 60%;
      width: 50%;
      margin: 0 5px;
      border: 1px dashed @dark-grey;

      &.add {

        mat-card-content {
          height: 100%;
          color: @dark-grey;

          mat-icon {
            @size: 100px;
            font-size: @size;
            width: @size;
            height: @size;
          }

          span {
            margin: 5px 0 0 0;
            &:extend(.font-weight-bold);
          }
        }
      }
    }
  }

  .sidebar {

    .template-variables {
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid @soft-grey;
      border-radius: 4px;
      background-color: @light-grey;

      mat-form-field {
        width: 100%;
        margin-bottom: 30px;
      }

      .title {
        .text-size-alternative;
        height: 60px;
        width: 100%;
        color: @font-dark-grey;
        line-height: 20px;
        text-transform: unset;
      }
    }
  }
}

.publish-btn {
  margin: auto;
  min-width: 125px;
}

mat-card.license-pool-dropdown {
  padding: 8px;

  &.no-license-pools mat-card-actions {
    padding-top: unset;
  }

  mat-card-content {
    margin-bottom: 4px;

    mat-action-list button[mat-list-item] {
      &:extend(.text-size);
      &:extend(.letter-spacing-extra-small-negative);
      .font-weight-light;
      height: 30px;
      margin-bottom: 8px;
      color: @black;

      &:hover,
      &.selected {
        background-color: fade(@black, 5%);
      }
    }
  }
}
