<div class="container">
  <div class="title">{{title || 'NETWORK FUNCTIONS'}}</div>
  <mat-accordion displayMode="flat">
    <mat-expansion-panel class="expansion-panel" *ngFor="let vendor of vendors">
      <mat-expansion-panel-header>
        <mat-panel-title>{{vendor}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="nf" *ngFor="let nf of getNfs(vendor)">
        <nef-network-function [nf]="nf" [vendor]="vendor" [draggable]="draggable" [displayTenant]="displayTenant" [showEdit]="canEdit"
          [showActivate]="canActivate" (handleDragStart)="onDragStart($event)" (editClick)="onEdit($event)" (activate)="onActivate($event)"
          (remove)="onRemoveNF($event)">
        </nef-network-function>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
