@import '../../styles/styles.less';

.container {

  border-radius: 4px;
  background-color: @pure-white;
  box-shadow: 0 2px 8px 0 @grey;

  .top-border {
    height: 4px;
    border-radius: 4px 4px 0 0;
    .nf-color(@nf-color-mode-background);
  }

  .body {

    .info {
      padding-left: 16px;
      padding-top: 13px;
      width: 80%;

      .vendor {
        .text-small-bold;
        color: @font-dark-grey;
        line-height: 13px;
      }

      .description {
        .h6;
        margin-top: 2px;
        margin-bottom: 10px;
        line-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .tenant {
        margin-bottom: 10px;
        color: @blue;
        .text-small;
      }
    }

    .activate {
      text-transform: uppercase;
      color: @blue;
      .text-extra-small-size;
      width: 125px;

      img {
        vertical-align: -4px;
        margin-left: 8px;
      }
    }
  }
}
