@import '../../styles/styles.less';

:host {
  display: block;
}

.nf {
  margin-bottom: 8px;
}

mat-panel-title {
  .h6-bold;
  text-transform: uppercase;
}

.container {
  box-sizing: border-box;
  border: 1px solid @soft-grey;
  border-radius: 4px;
  background-color: @light-grey;
}

.title {
  .text-size-alternative;
  height: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: @font-dark-grey;
  line-height: 20px;
  text-transform: unset;
}

.mat-expansion-panel {
  background-color: @light-grey;

  &:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
}
