<div class="container" [draggable]="draggable" (dragstart)="onDragStart($event)">
  <div class="top-border" [ngClass]="color"></div>
  <div class="body" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="info">
      <div class="vendor">{{vendor}}</div>
      <div class="description" [matTooltip]="nf.name" matTooltipPosition="above" matTooltipClass="nf-tooltip">
        {{nf.name}}
      </div>
      <div *ngIf="displayTenant" class="tenant">{{tenant?.name || 'System Wide'}}</div>
    </div>
    <button *ngIf="showEdit" mat-icon-button class="edit" (click)="onEdit()">
      <img src="assets/icon-edit.svg" />
    </button>
    <button *ngIf="showEdit" class="remove" mat-icon-button (click)="onRemove()">
      <img src="assets/icon-trash-blue.svg" />
    </button>
    <button *ngIf="showActivate" mat-button class="activate" (click)="onActivateClick()">
      <span>Add To Tenant</span>
      <img src="assets/icon-add-square-blue.svg">
    </button>
  </div>
</div>
