<div fxFlexFill fxLayout="column">
  <header *ngIf="showHeader" [class.draft]="!editMode && isDraft">
    <div *ngIf="!editMode" fxLayoutAlign="start center">
      <nef-legend [items]="serverLegendItems"></nef-legend>

      <div *ngIf="isLogicalView">
        <mat-slide-toggle [checked]="perfTrace?.enabled" (change)="enablePerformanceTrace($event.checked)">Enable
          performance trace</mat-slide-toggle>

        <div class="bpf">
          <span class="filter">
            {{ (!perfTrace?.filter || perfTrace?.filter === ' ') ? 'All' : perfTrace?.filter }}
          </span>

          <button class="edit" (click)="modifyPerfTraceFilter()">Edit</button>
        </div>
      </div>

      <nef-toggle leftLabel="logical" rightLabel="instance" leftValue="logical" rightValue="instance" (handleChange)="toggleView($event)"
        [activeValue]="isLogicalView ? 'logical' : 'instance'"></nef-toggle>
    </div>

    <p *ngIf="isInactiveDraft && !editMode">service chain not active · draft only</p>
  </header>

  <div id="drawing" (drop)="onDrop($event)" (dragover)="allowDrop($event)" fxFlex></div>

  <nef-legend *ngIf="perfTrace?.enabled" class="perf-trace-legend" [items]="perfTraceLegend"></nef-legend>
</div>

<!-- Edge Popup -->
<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="popups.edge.isOpen" [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayPositions]="edgeConnectPositions" (backdropClick)="onBackdropClick()">
  <mat-card class="popup">
    <h4>Traffic Direction</h4>

    <button class="direction" (click)="onChangeEdgeDirection(EdgeDirection.Both)">
      <img src="assets/icon-edge-direction-both.svg" width="60" height="11">
    </button>

    <button class="direction" (click)="onChangeEdgeDirection(EdgeDirection.Downward)">
      <img src="assets/icon-edge-direction-downward.svg" width="60" height="11">
    </button>

    <button class="direction" (click)="onChangeEdgeDirection(EdgeDirection.Upward)">
      <img src="assets/icon-edge-direction-upward.svg" width="60" height="11">
    </button>

    <button (click)="onRemoveEdgeGroup()">
      <img src="assets/icon-trash.svg" width="14" height="15">
    </button>

    <h4>Traffic Filters (BPF)</h4>

    <div class="traffic-filter" fxLayoutGap="10px" *ngIf="activeEdge.filterAb">
      <img src="assets/icon-edge-direction-upward.svg" width="30" height="11" fxFlexAlign="center">

      <input placeholder="BPF" [value]="getEdgeFilter(activeEdge, true, true)" fxFlex
        (blur)="updateEdgeFilter(activeEdge, $any($event.target).value, true)"
        (keydown.enter)="updateEdgeFilter(activeEdge, $any($event.target).value, true)">
    </div>

    <div class="traffic-filter" fxLayoutGap="10px" *ngIf="activeEdge.filterBa">
      <img src="assets/icon-edge-direction-downward.svg" width="30" height="11" fxFlexAlign="center">

      <input placeholder="BPF" [value]="getEdgeFilter(activeEdge, false, true)" fxFlex
        (blur)="updateEdgeFilter(activeEdge, $any($event.target).value, false)"
        (keydown.enter)="updateEdgeFilter(activeEdge, $any($event.target).value, false)">
    </div>
  </mat-card>
</ng-template>

<!-- NF instance status popup -->
<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="popups.instanceStatus.isOpen" [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayPositions]="instanceStatusConnectPositions" (backdropClick)="onBackdropClick()">
  <mat-vertical-stepper linear="false" class="instance-status" #stepper>
    <mat-step editable="false"
      [completed]="isInstanceStepCompleted(InstanceStatusState.NULLINSTANCESTATE, popups.instanceStatus.selected, 0)">
      <ng-template matStepLabel>Placing</ng-template>
      <div class="substep-label" [ngClass]="{'active': !popups.instanceStatus.selected?.placementStatus?.blockedOnMachineResources}">Machine
        resources</div>
      <div class="substep-label" [ngClass]="{'active': !popups.instanceStatus.selected?.placementStatus?.blockedOnLicense}">Licenses
        allocated
      </div>
    </mat-step>
    <mat-step editable="false" [completed]="isInstanceStepCompleted(InstanceStatusState.LAUNCHING, popups.instanceStatus.selected, 1)">
      <ng-template matStepLabel>Launching</ng-template>

      <div class="substep-label" [ngClass]="{'active': !popups.instanceStatus.selected?.launchStatus?.blockedOnFiles}">
        <ng-container *ngIf="popups.instanceStatus.selected?.launchStatus?.blockingFiles?.length; else done">Waiting on
          file(s)...</ng-container>
        <ng-template #done>Files downloaded</ng-template>
      </div>
      <div class="substep-label file" *ngFor="let file of popups.instanceStatus.selected?.launchStatus?.blockingFiles">
        &bull; {{ file }}</div>
      <div class="substep-label" [ngClass]="{'active': !popups.instanceStatus.selected?.launchStatus?.blockedOnMemory}">
        Memory allocated</div>
      <div class="substep-label" [ngClass]="{'active': !popups.instanceStatus.selected?.launchStatus?.blockedOnHypervisor}">
        <ng-container *ngIf="popups.instanceStatus.selected?.launchStatus?.hypervisorStatus; else complete">Launch
          failure</ng-container>
        <ng-template #complete>Instance started</ng-template>
      </div>
      <div class="substep-label error">{{ popups.instanceStatus.selected?.launchStatus?.hypervisorStatus }}</div>
    </mat-step>
    <mat-step editable="false" [completed]="isInstanceStepCompleted(InstanceStatusState.LAUNCHED, popups.instanceStatus.selected, 2)">
      <ng-template matStepLabel>Configuring</ng-template>
    </mat-step>
    <mat-step editable="false" [completed]="isInstanceStepCompleted(InstanceStatusState.CONFIGURED, popups.instanceStatus.selected, 3)">
      <ng-template matStepLabel>Active</ng-template>
    </mat-step>
    <!-- Technical step needed to mark the previous one ("Active") as "Completed" -->
    <mat-step editable="false" [completed]="true">
      <ng-template matStepLabel>Complete</ng-template>
    </mat-step>
  </mat-vertical-stepper>
</ng-template>
