@import '../../styles/styles.less';

:host {
  display: block;
}

header {
  margin-bottom: 20px;

  div {
    height: 36px;

    nef-legend {
      margin-right: auto;
    }

    mat-slide-toggle,
    .bpf,
    nef-toggle {
      margin-left: 35px;
    }

    .bpf {
      .text-extra-small-bold;
      color: @dark-grey;
      margin-left: 80px;

      span.filter {
        max-width: 200px;
        text-overflow: ellipsis;
      }

      span.filter,
      button.edit {
        &:extend(.text-extra-small-size);
        overflow: hidden;
        display: inline-block;
        text-transform: uppercase;
        vertical-align: middle;
        white-space: nowrap;
      }

      button.edit {
        padding: 0;
        padding-left: 10px;
        color: @blue;
        cursor: pointer;
      }
    }
  }

  &.draft {
    margin-bottom: 9px;

    > p {
      &:extend(.text-extra-small-bold);
      margin-top: unset;
      margin-bottom: unset;
      color: @red;
    }
  }
}

#drawing {
  user-select: none;
}

mat-card.popup {
  padding: 16px;

  &.node {
    width: 500px;

    mat-card-content {
      margin-bottom: unset;
    }

    mat-card-footer {
      margin: unset;
    }
  }

  &::before {
    content: '';
    position: absolute;
    transform: rotate(135deg);
    transform-origin: 50% 50%;
    box-sizing: border-box;
    width: 0;
    height: 0;
    margin-top: -6px;
    margin-left: -6px;
    top: 0%;
    left: 50%;
    border: 6px solid @pure-white;
    box-shadow: -1px 2px 2px -1px fade(@pure-black, 8%);
  }

  h4 {
    .text-small-bold;
    margin-top: 0;
    margin-bottom: 10px;
    color: @dark-grey;
  }

  .traffic-filter {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: unset;
    }

    input {
      border: 1px solid transparent;
      border-bottom-color: @soft-grey;

      &:focus {
        border-color: @soft-grey;
      }
    }
  }

  & > button {
    height: 24px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.direction {
      border-radius: 4px;
      background-color: @bg-grey;
      border: 1px solid @soft-grey;
      box-shadow: 0 2px 8px 0 fade(@black, 4%);
    }

    img {
      vertical-align: middle;
    }
  }
}
