<div class="label" *ngIf="label !== undefined">{{label}}</div>
<nef-chart-header *ngIf="showHeader" [legendItems]="legendItems"></nef-chart-header>
<div class="chart-container">
  <nef-chart-line [dataSets]="dataSets" [legendItems]="legendItems" (beforeZoom)="beforeZoomHandler()"
    (afterZoom)="afterZoomHandler($event)" #chart></nef-chart-line>
</div>
