.primary-btn {
  .text-size-alternative;
  .font-weight-normal;
  .letter-spacing-medium;
  background-color: @blue;
}

.badge {
  &:extend(.text-extra-small-bold);
  padding: 6px 10px;
  background-color: @grey;
  color: @pure-white;
  border-radius: 15px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  &.green {
    background-color: @lime-green;
  }

  &.yellow {
    background-color: @sunny-yellow;
  }

  &.red {
    background-color: @red;
  }

  &.blue {
    background-color: @blue;
  }

  &.grey {
    background-color: @grey;
  }
}


.three-dots-button {
  &:extend(.h4-size);
  &:extend(.font-weight-bold);
  position: relative;
  top: 2px;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  background-color: @soft-grey;

  &::after {
    content: '';
    position: absolute;
    left: 11px;
    top: 6px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: @arsenic;
    box-shadow: 0px 5px 0px @arsenic, 0px 10px 0px @arsenic;
  }
}

.icon-button {
  &:extend(.text-extra-small-bold);
  color: @font-black;

  img {
    margin-right: 8px;
    vertical-align: -4px;
  }

  &.add img {
    margin-left: 8px;
  }
}

.remove-button {

  &[mat-button] {
    .text-extra-small-bold;

    img {
      margin-right: 8px;
      vertical-align: -4px;
    }
  }
}
