/* stylelint-disable color-no-hex */

// Application Color Palette
@blue: #0198CF;
@pink: #E258A3;
@green: #87C56F;
@yellow: #F4B728;
@red: #FF4757;
@soft-pink: #FFEFED;
@light-pink: #F58AB4;
@lime-green: #2ED573;
@light-sea-green: #20b2aa;
@bright-blue: #5959FF;
@mild-blue: #E5F0FF;
@soft-blue: #4093FF;
@deep-blue: #006FFF;
@light-blue: #67D7FF;
@purple: #A366FF;
@orange: #FFA750;
@pale-orange: #FFE6CC;
@strong-orange: #D79B00;
@sunny-yellow: #FFC400;
@gold: #ECCC68;
@acid-green: #63E0AE;
@soft-green: #EAFAF2;
@black: #2B2E33;
@pure-black: #000000;
@dark-grey: #78828F;
@arsenic: #9AA7B8;
@grey: #CED6E0;
@soft-grey: #E1E5EB;
@light-grey: #F0F2F5;
@bg-grey: #F6F7F8;
@pure-white: #FFFFFF;
@font-black: @black;
@font-dark-grey: #4E5866;
@font-grey: #9AA7B8;
@font-blue: #4093FF;
@font-positive: #2ED573;
@font-negative: #FF4757;
@font-bright-blue: #4093FF;
@font-orange: #2ED573;
@font-acid-green: #63E0AE;

// colors associated to network functions
@nf-color-mode-background: 1;
@nf-color-mode-pseudo-background: 2;
@nf-color-mode-fill: 3;
@nf-color-mode-shadow: 4;

.nf-color(@mode) {

  &.blue when (@mode =@nf-color-mode-background) {
    background-color: @blue;
  }

  &.blue::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @blue;
  }

  &.blue when (@mode =@nf-color-mode-fill) {
    fill: @blue;
  }

  &.blue when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@blue, @darken);
  }

  &.orange when (@mode =@nf-color-mode-background) {
    background-color: @orange;
  }

  &.orange::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @orange;
  }

  &.orange when (@mode =@nf-color-mode-fill) {
    fill: @orange;
  }

  &.orange when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@orange, @darken);
  }

  &.light-blue when (@mode =@nf-color-mode-background) {
    background-color: @light-blue;
  }

  &.light-blue::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @light-blue;
  }

  &.light-blue when (@mode =@nf-color-mode-fill) {
    fill: @light-blue;
  }

  &.light-blue when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@light-blue, @darken);
  }

  &.deep-blue when (@mode =@nf-color-mode-background) {
    background-color: @deep-blue;
  }

  &.deep-blue::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @deep-blue;
  }

  &.deep-blue when (@mode =@nf-color-mode-fill) {
    fill: @deep-blue;
  }

  &.deep-blue when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@deep-blue, @darken);
  }

  &.pink when (@mode =@nf-color-mode-background) {
    background-color: @light-pink;
  }

  &.pink::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @light-pink;
  }

  &.pink when (@mode =@nf-color-mode-fill) {
    fill: @light-pink;
  }

  &.pink when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@light-pink, @darken);
  }

  &.green when (@mode =@nf-color-mode-background) {
    background-color: @lime-green;
  }

  &.green::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @lime-green;
  }

  &.green when (@mode =@nf-color-mode-fill) {
    fill: @lime-green;
  }

  &.green when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@lime-green, @darken);
  }

  &.purple when (@mode =@nf-color-mode-background) {
    background-color: @purple;
  }

  &.purple::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @purple;
  }

  &.purple when (@mode =@nf-color-mode-fill) {
    fill: @purple;
  }

  &.purple when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@purple, @darken);
  }

  &.soft-blue when (@mode =@nf-color-mode-background) {
    background-color: @soft-blue;
  }

  &.soft-blue::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @soft-blue;
  }

  &.soft-blue when (@mode =@nf-color-mode-fill) {
    fill: @soft-blue;
  }

  &.soft-blue when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@soft-blue, @darken);
  }

  &.yellow when (@mode =@nf-color-mode-background) {
    background-color: @sunny-yellow;
  }

  &.yellow::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @sunny-yellow;
  }

  &.yellow when (@mode =@nf-color-mode-fill) {
    fill: @sunny-yellow;
  }

  &.yellow when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@sunny-yellow, @darken);
  }

  &.grey::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @soft-grey;
  }

  &.bright-blue::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @bright-blue;
  }

  &.acid-green when (@mode =@nf-color-mode-background) {
    background-color: @acid-green;
  }

  &.acid-green::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @acid-green;
  }

  &.acid-green when (@mode =@nf-color-mode-fill) {
    fill: @acid-green;
  }

  &.acid-green when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@acid-green, @darken);
  }

  &.dark-grey when (@mode =@nf-color-mode-background) {
    background-color: @dark-grey;
  }

  &.dark-grey::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @dark-grey;
  }

  &.dark-grey when (@mode =@nf-color-mode-fill) {
    fill: @dark-grey;
  }

  &.dark-grey when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@dark-grey, @darken);
  }

  &.gold when (@mode =@nf-color-mode-background) {
    background-color: @gold;
  }

  &.gold::before when (@mode =@nf-color-mode-pseudo-background) {
    background-color: @gold;
  }

  &.gold when (@mode =@nf-color-mode-fill) {
    fill: @gold;
  }

  &.gold when (@mode =@nf-color-mode-shadow) {
    box-shadow: @active-shadow darken(@gold, @darken);
  }
}

.cell-invalid {
  opacity: 0.3;
  background: repeating-linear-gradient(-45deg,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2) 5px,
  rgba(0, 0, 0, 0.4) 5px,
  rgba(0, 0, 0, 0.4) 10px)
}
