@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-bold: 500;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: @font-weight-light;
  font-display: auto;
  src: url('../assets/font/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: @font-weight-normal;
  font-display: auto;
  src: url('../assets/font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: @font-weight-bold;
  font-display: auto;
  src: url('../assets/font/Roboto/Roboto-Medium.ttf') format('truetype');
}
