@import 'colors.less';
@import 'fonts.less';
@import 'text.less';
@import 'buttons.less';

@zindex-bottom: -1;
@zindex-default: 0;
@zindex-mid: 1;
@zindex-top: 2;

@banner-height: 48px;

.arrow {
  content: '';
  position: absolute;
  transform-origin: 50% 50%;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border: 6px solid @pure-white;
}

// triangle arrows for dropdown and popup cards

.arrow-top {

  &::before {
    &:extend(.arrow);
    transform: rotate(135deg);
    margin-top: -6px;
    margin-left: -6px;
    top: 0;
    left: 50%;
    box-shadow: -1px 2px 2px -1px fade(@pure-black, 8%);
  }
}

.arrow-right {

  &::after {
    &:extend(.arrow);
    transform: rotate(45deg);
    margin-top: -6px;
    margin-right: -6px;
    top: 50%;
    right: 0;
    box-shadow: 2px -1px 2px -1px fade(@pure-black, 16%);
  }
}

.flat-shadow {
  box-shadow: 0 2px 8px 0 @light-grey;
}

.mat-label-text {
  &:extend(.text-small-size);
  &:extend(.font-weight-bold);
  &:extend(.letter-spacing-small);
  color: @dark-grey;
  text-transform: uppercase;
  margin-bottom: 10px;
}
