.h1 {
  font-size: 38px;
}

.h2,
.h6 {
  color: @font-black;
}

.font-weight-light {
  font-weight: @font-weight-light;
}

.font-weight-normal {
  font-weight: @font-weight-normal;
}

.font-weight-bold {
  font-weight: @font-weight-bold;
}

.text-small-light,
.h6-light {
  &:extend(.font-weight-light);
}

.h6,
.text-small,
.text-extra-small {
  &:extend(.font-weight-normal);
}

.h2,
.h5-bold,
.h4-bold,
.h6-bold,
.text-small-bold,
.text-extra-small-bold {
  &:extend(.font-weight-bold);
}

.h2 {
  &:extend(.letter-spacing-medium);
  font-size: 32px;
}

.h2-size-alternative {
  font-size: 30px;
}

.h3 {
  &:extend(.letter-spacing-medium);
  font-size: 28px;
}

.h4-size {
  font-size: 24px;
}

.h4,
.h4-bold {
  &:extend(.h4-size);
  &:extend(.letter-spacing-small-negative);
}

.h5-bold {
  font-size: 18px;
  &:extend(.letter-spacing-small-negative);
}

.h6,
.h6-light,
.h6-bold {
  &:extend(.text-size);
  &:extend(.letter-spacing-extra-small-negative);
}

.text-size {
  font-size: 16px;
}

.text-size-alternative {
  font-size: 15px;
}

.text-size-alternative-2 {
  font-size: 14px;
}

.text-small-light {
  .text-small-size;
}

.text-small,
.text-small-bold {
  .text-small-size;
  .letter-spacing-small;
  text-transform: uppercase;
}

.text-small-size {
  font-size: 12px;
}

.text-small-size-alternative {
  font-size: 11px;
}

.text-extra-small-size {
  font-size: 10px;
}

.text-extra-small,
.text-extra-small-bold {
  &:extend(.text-extra-small-size);
  &:extend(.letter-spacing-extra-small);
  text-transform: uppercase;
}

.text-extra-small-light {
  &:extend(.text-extra-small-size);
  &:extend(.font-weight-light);
}

.text-extra-small-size-alternative {
  font-size: 9px
}

.text-style-italic {
  font-style: italic;
}

.letter-spacing {
  letter-spacing: 1.2px;
}

.letter-spacing-medium {
  letter-spacing: 1px;
}

.letter-spacing-small {
  letter-spacing: 0.8px;
}

.letter-spacing-extra-small {
  letter-spacing: 0.6px;
}

.letter-spacing-extra-small-alternative {
  letter-spacing: 0.5px;
}

.letter-spacing-extra-small-negative {
  letter-spacing: -0.2px;
}

.letter-spacing-small-negative {
  letter-spacing: -0.4px;
}

.letter-spacing-medium-negative {
  letter-spacing: -1px;
}
