<header fxLayoutAlign="space-between center">
  <h2>Tenants</h2>

  <button *ngIf="isSystemAdmin$ | async" class="add" mat-flat-button color="primary" (click)="onAddTenant()">
    <span>Add New Tenant</span>
    <img src="assets/icon-add-square-white.svg" width="16" height="16">
  </button>
</header>

<nef-table class="compact" [columns]="(isSystemAdmin$ | async) ? columns : columns | slice:0:columns.length - 1" [dataSource]="dataSource"
  (actionClick)="onActionClick($event)" [pagination]="true"></nef-table>
