<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ mode === PasswordSetupMode.Reset ? 'Reset password' : mode === PasswordSetupMode.Edit ? 'Edit your password' : 'Setup password' }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form id="password-form" [formGroup]="passwordForm" (ngSubmit)="submitPasswordForm()" fxLayout="column">
      <mat-form-field *ngIf="!(mode === PasswordSetupMode.Edit)" appearance="standard" floatLabel="always">
        <mat-label>Username</mat-label>
        <input placeholder="Enter your username" autofocus matInput formControlName="username">
        <mat-error [innerHTML]="usernameErrorMessage"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>{{ mode === PasswordSetupMode.Edit ? 'Current Password' : 'Password' }}</mat-label>
        <input type="password" [placeholder]="mode === PasswordSetupMode.Edit ? 'Enter current password' : 'Enter your password'" matInput
          formControlName="password">
        <mat-error [innerHTML]="passwordErrorMessage"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>{{ mode === PasswordSetupMode.Edit ? 'New Password' : 'Confirm Password' }} </mat-label>
        <input type="password" [placeholder]="mode === PasswordSetupMode.Edit ? 'Enter new password' : 'Confirm your password'" matInput
          formControlName="confirmPassword">
        <mat-error *ngIf="passwordForm.get('confirmPassword').hasError('required')">
          Confirm password is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="passwordForm.get('confirmPassword').hasError('confirmPassword') && !passwordForm.get('confirmPassword').hasError('required')">
          Not a <strong>valid</strong> confirm password
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions fxLayout="row">
    <button type="submit" form="password-form" mat-flat-button color="primary" fxFlex [disabled]="passwordForm.pristine">
      {{ mode === PasswordSetupMode.Reset ? 'Reset password' : mode === PasswordSetupMode.Edit ? 'Change password' : 'Setup password' }}
    </button>
  </mat-card-actions>
</mat-card>
