<h1 mat-dialog-title *ngIf="package">Site Package Created</h1>

<mat-dialog-content>
  <ng-container *ngIf="package; else generating">
    <h2>Passphrase</h2>

    <p>
      {{ package.passphrase }}
      <button mat-button color="primary" (click)="onCopyPassphrase()">Copy</button>
    </p>

    <ng-container *ngIf="package.checksum">
      <h2>{{ package.checksumAlg }} Checksum</h2>

      <p>
        {{ package.checksum }}
        <button mat-button color="primary" (click)="onCopyChecksum()">Copy</button>
      </p>
    </ng-container>
  </ng-container>

  <ng-template #generating>
    <p *ngIf="!hasPackageError; else generatingError">
      <mat-spinner color="primary" diameter="20" strokeWidth="1"></mat-spinner>
      Generating package…
    </p>
  </ng-template>
  <ng-template #generatingError>
    <p>
      <mat-error>Failed to create site package, please try again.</mat-error>
    </p>
  </ng-template>
</mat-dialog-content>

<ng-container [ngSwitch]="package">
  <mat-dialog-actions fxLayoutAlign="center" *ngSwitchCase="undefined">
    <button mat-stroked-button mat-dialog-close color="primary">Cancel</button>
  </mat-dialog-actions>

  <mat-dialog-actions fxLayoutAlign="space-between" fxLayoutGap="24px" *ngSwitchDefault>
    <button mat-stroked-button mat-dialog-close color="primary">Close</button>

    <button mat-flat-button color="primary" *ngIf="package" (click)="onDownloadPackage()">Download Package</button>
  </mat-dialog-actions>
</ng-container>
