@import '../../../styles/styles.less';

:host {
  display: block;
}

mat-dialog-content {

  h2 {
    &:extend(.text-small);
    margin-top: unset;
    margin-bottom: unset;
  }

  button {
    margin-left: 16px;
  }

  p {
    margin-top: unset;
    line-height: 36px;

    &:not:last-of-type {
      margin-bottom: unset;
    }
  }

  mat-spinner {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
}
