<h1 mat-dialog-title>{{ tenant ? 'Edit' : 'Add New' }} Tenant</h1>

<mat-dialog-content>
  <form id="tenant-form" [formGroup]="tenantForm" (ngSubmit)="submitTenantForm()" fxLayout="column">
    <mat-form-field appearance="standard" floatLabel="always">
      <input placeholder="Enter tenant name" matInput formControlName="name">
      <mat-label>Tenant Name</mat-label>
      <mat-error>
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

  <button form="tenant-form" mat-flat-button color="primary" [disabled]="tenantForm.pristine">Complete</button>
</mat-dialog-actions>
