<nav>
  <nef-back-button [link]="backPath">
    <ng-container>Email</ng-container>
  </nef-back-button>
</nav>

<header>
  <h4>{{ uuid ? 'Edit' : 'Connect new' }} email address</h4>
  <p class="description">Enter Email Where You Would Like To Receive Notifications</p>
</header>

<div class="content">
  <form id="add-email-form" [formGroup]="emailForm" (ngSubmit)="submitEmailForm()" fxLayout="column">
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Configuration Name</mat-label>
      <input placeholder="Configuration name" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Your Email</mat-label>
      <input placeholder="your@email.com" matInput formControlName="email">
      <mat-error *ngIf="emailForm.get('email').hasError('required')">
        Email is
        <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="emailForm.get('email').hasError('email')">
        Not a
        <strong>valid</strong> email
      </mat-error>
    </mat-form-field>
    <h4>Alert Types</h4>
    <p class="description">Specific Alert Types To Send</p>

    <div formArrayName="alertTypes">
      <mat-checkbox [formControlName]="i" *ngFor="let type of alertFormTypes.controls; index as i">
        {{ notificationTypes[i].name | titlecase }}
      </mat-checkbox>
    </div>
    <h4>Alert Classes</h4>
    <p class="description">Specific Alert Class To Send</p>

    <div formArrayName="alertClasses" fxLayout="row wrap">
      <div *ngFor="let type of alertClassesFormArray.controls; index as i" fxFlex="25">
        <mat-checkbox [formControlName]="i">{{ alertClassStates[i].name | alertclass }}</mat-checkbox>
      </div>
    </div>
  </form>

  <div class="actions">
    <button type="submit" form="add-email-form" mat-flat-button color="primary"
      [disabled]="emailForm.pristine">{{ uuid ? 'Edit' : 'Connect' }}</button>
    <a mat-button [routerLink]="backPath">Cancel</a>
  </div>
</div>
