@import '../../../styles/styles.less';

:host {
  width: 385px;
}

nav {
  margin-bottom: 20px;
}

a.back {
  .text-size;
  .font-weight-bold;
  .letter-spacing-extra-small-negative;
  padding: 0;
  color: @dark-grey;
  text-decoration: none;

  img {
    margin-right: 8px;
    vertical-align: -6px;
  }
}

header {

  h4 {
    .h4-size;
    margin: 0;
  }
}

h4 {
  margin-bottom: 10px;
  &:extend(.font-weight-normal);
}

.description {
  &:extend(.text-extra-small);
  display: inline-block;
  color: @dark-grey;
  margin-bottom: 30px;
}

.mat-form-field {
  margin-bottom: 0;
}

mat-checkbox {
  margin-right: 25px;
}

.actions {
  margin-top: 30px;

  button {
    margin-right: 15px;
  }
}

[formArrayName=alertTypes] {
  margin-bottom: 20px;
}
