mat-card {
  margin-bottom: 20px;

  &.profiles mat-card-header {
    margin-bottom: 30px;

    mat-card-title {
      margin-bottom: unset;
    }

    button.add img {
      margin-left: 8px;
    }
  }
}
