<header fxLayoutAlign="space-between center">
  <h2>Provisioning</h2>
</header>

<div fxLayout="column">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Servers</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <nef-provisioning-servers></nef-provisioning-servers>
    </mat-card-content>
  </mat-card>

  <mat-card class="profiles">
    <mat-card-header fxLayoutAlign="space-between center">
      <mat-card-title>Hardware Profiles</mat-card-title>

      <button class="add" mat-flat-button color="primary" (click)="onAddHardwareProfile()">
        <ng-container>Add New Hardware Profile</ng-container>
        <img src="assets/icon-add-square-white.svg" width="16" height="16">
      </button>
    </mat-card-header>

    <mat-card-content>
      <nef-hardware-profiles #hardwareProfiles></nef-hardware-profiles>
    </mat-card-content>
  </mat-card>

  <mat-card class="profiles">
    <mat-card-header fxLayoutAlign="space-between center">
      <mat-card-title>Software Profiles</mat-card-title>

      <button class="add" mat-flat-button color="primary" (click)="onAddSoftwareProfile()">
        <ng-container>Add New Software Profile</ng-container>
        <img src="assets/icon-add-square-white.svg" width="16" height="16">
      </button>
    </mat-card-header>

    <mat-card-content>
      <nef-software-profiles #softwareProfiles></nef-software-profiles>
    </mat-card-content>
  </mat-card>
</div>
