@import '../../styles/styles.less';

:host {
  display: block;
  padding-top: 40px;
  padding-bottom: 95px;
}

.summary {
  margin-bottom: 75px;
}

.system-health {
  margin-bottom: 64px;

  & > h1 {
    .h2;
    .letter-spacing-medium-negative;
    margin-top: unset;
    margin-bottom: 24px;
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  mat-card {
    padding: 32px;

    header {
      margin-bottom: 32px;

      h1 {
        .h6-bold;
        margin-top: unset;
        margin-bottom: unset;
      }
    }

    nef-status-item {

      h1,
      a {
        .font-weight-bold;
      }

      h1 {
        .h6;
        margin-bottom: 6px;
      }

      a {
        .text-small;
        color: @blue;
      }
    }
  }
}
