<section class="summary" fxLayoutGap="10px" *ngIf="systemStats$ | async as systemStats">
  <nef-summary-item description="Services" icon="assets/icon-services.svg" [value]="systemStats.servicesTotal" fxFlex>
  </nef-summary-item>

  <nef-summary-item description="ExP active/total" icon="assets/icon-exp.svg" [total]="systemStats.clusterSites.total"
    [value]="systemStats.clusterSites.active" fxFlex>
  </nef-summary-item>

  <nef-summary-item description="ExP Edge active/total" icon="assets/icon-exp-edge.svg" [total]="systemStats.ucpeSites.total"
    [value]="systemStats.ucpeSites.active" fxFlex>
  </nef-summary-item>
</section>

<section class="system-health">
  <h1>System Health Overview</h1>

  <mat-card>
    <ng-container *ngIf="sites$ | async as sites; else noSites">
      <header fxLayoutAlign="start center" fxLayoutGap="90px">
        <h1>{{ sites.sites.length }} Sites</h1>

        <nef-legend class="site-legend" [items]="siteLegendItems"></nef-legend>
      </header>

      <nef-status-grid>
        <nef-status-item [type]="siteStatus.type" [link]="['/sites', siteStatus.identifier]" *ngFor="let siteStatus of siteStatuses">
          <h1>{{ siteStatus.name }} Site</h1>

          <a [routerLink]="['/sites', siteStatus.identifier]">View Site</a>
        </nef-status-item>
      </nef-status-grid>
    </ng-container>

    <ng-template #noSites>
      <p>No sites configured</p>
    </ng-template>
  </mat-card>
</section>
