@import '../../styles/styles.less';

header button.add span.capitalize {
  text-transform: capitalize;
}

.content {

  nef-network-function-menu {
    width: 375px;
  }

  mat-card {
    background-color: @light-grey;
    padding: 32px;
    border: 1px solid @soft-grey;

    mat-card-header {
      margin-bottom: 32px;

      button.remove {
        text-transform: uppercase;
        .text-extra-small-size;

        img {
          margin-left: 5px;
        }
      }

    }

    mat-dialog-actions button {
      width: 130px;
    }

    .manifest {
      margin-bottom: 5px;

      textarea {
        height: 35vh;
        &:extend(.text-small-light);
      }
    }

    .import-button {
      width: fit-content;
    }
  }

  nef-table {
    width: 100%;
  }
}
