<header fxLayoutAlign="space-between center">
  <h2>Network Functions</h2>

  <div fxLayoutGap="5px">
    <button *ngIf="isSystemAdmin$ | async" class="add" mat-flat-button color="primary" (click)="onAddNF()">
      <span>Add New <span class="capitalize">Network Function</span></span>

      <img src="assets/icon-add-square-white.svg" width="16" height="16">
    </button>
  </div>
</header>

<div class="content" fxLayoutAlign="space-between flex-start" fxLayoutGap="24px">
  <nef-network-function-menu [catalog]="catalog" [canEdit]="isSystemAdmin$ | async" (editClick)="onEditNF($event)"
    (remove)="onRemove($event)">
  </nef-network-function-menu>

  <mat-card *ngIf="nFFormType" [ngSwitch]="nFFormType" fxFlex="1 1 auto">
    <mat-card-header *ngSwitchCase="NFFormType.New" fxLayoutAlign="space-between">
      <mat-card-title>Add New Network Function</mat-card-title>
    </mat-card-header>

    <mat-card-header *ngSwitchCase="NFFormType.Edit" fxLayoutAlign="space-between">
      <mat-card-title>Edit {{ selectedNF.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form id="nf-form" [formGroup]="nFForm" (ngSubmit)="submitNFForm()" fxLayout="column">

        <input type="file" accept=".yaml, .yml, text/vnd.yaml, text/yaml, text/x-yaml,application/x-yaml" hidden
          (change)="onFileSelected($event)" #manifestInput>
        <mat-form-field class="manifest" appearance="standard" floatLabel="always">
          <textarea placeholder="Enter manifest or import from file" matInput formControlName="manifest"></textarea>
          <mat-label>Manifest</mat-label>
          <mat-error *ngIf="nFForm.get('manifest').hasError('manifest')">Not a valid manifest</mat-error>
        </mat-form-field>
        <button type="button" mat-stroked-button class="import-button" (click)="manifestInput.click()">Import
          Manifest</button>
      </form>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="space-between">
      <button mat-stroked-button color="primary" (click)="onCancelNF()">Cancel</button>

      <button type="submit" form="nf-form" mat-flat-button color="primary" [disabled]="nFForm.pristine">Save</button>
    </mat-card-actions>
  </mat-card>
</div>
