@import '../../styles/styles.less';

@margin: 20px;
@icon-size: 100px;
@border-radius: 30px;
@card-link-width: 235px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  > div {
    margin: @margin;

    > mat-card {
      border: 1px solid @black;
      border-radius: @border-radius;

      > mat-card-content {
        margin: 5 * @margin @margin;

        a {

          text-decoration: none;

          mat-card {

            width: @card-link-width;

            img {
              width: @icon-size;
              height: @icon-size;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
