<nef-toolbar></nef-toolbar>
<div fxLayout="column" fxLayoutAlign="center center" fxFlex="grow">
  <mat-card class="mat-elevation-z0" fxLayout="column">
    <mat-card-header>
      <mat-card-title>Welcome {{ username$ | async }}, what would you like to do?</mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlex="grow" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
      <a routerLink="/sites">
        <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/icon-panel-sites.svg">
          <mat-card-header>
            <mat-card-title>Sites</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Add a cluster of servers, or a uCPE device, that will host Network Functions.</p>
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="/tenants">
        <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/icon-panel-nfs.svg">
          <mat-card-header>
            <mat-card-title>Services</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Build a logical graph of Network Functions (NF) and the path packets should take amongst the NF's.</p>
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="/templates">
        <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutAlign="center center">
          <img src="assets/icon-panel-logging.svg">
          <mat-card-header>
            <mat-card-title>Templates</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Create a template, which allows you to easily instantiate multiple variations of a particular Service.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-card-content>
  </mat-card>
</div>
