<img [ngClass]="{'user-avatar': mode === 'user'}" [src]="url" [width]="width" [height]="height" [alt]="name" *ngIf="url; else cap">

<ng-template #cap>
  <div class="cap-avatar" [ngClass]="[mode === 'user' ? 'user-avatar' : getCapColor()]" [ngStyle]="{
    'width.px': width,
    'height.px': height
  }">
    <span class="cap-letter">
      {{ caption  }}
    </span>
  </div>
</ng-template>
