@import '../../../styles/styles.less';

@active-shadow: 2px 2px;
@darken: 20%;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin: 4px 5px;
}

.status-popup-wrapper {
  position: relative;
}

.status {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  text-decoration: none;

  :host([ng-reflect-size='1']) & {
    width: 8px;
    height: 8px;
  }

  :host([ng-reflect-size='2']) & {
    width: 16px;
    height: 16px;
  }

  :host &,
  :host([ng-reflect-size='3']) & {
    width: 24px;
    height: 24px;
  }

  :host([ng-reflect-size='4']) & {
    width: 28px;
    height: 28px;
  }

  :host([ng-reflect-size='5']) & {
    width: 36px;
    height: 36px;
  }

  :host(.success) & {
    background-color: @lime-green;
  }

  :host(.success) .status-popup-wrapper:hover &,
  :host(.success) &:active {
    box-shadow: @active-shadow darken(@lime-green, @darken);
  }

  :host(.info) & {
    background-color: @green;
  }

  :host(.info) .status-popup-wrapper:hover &,
  :host(.info) &:active {
    box-shadow: @active-shadow darken(@green, @darken);
  }

  :host &,
  :host(.muted) & {
    background-color: @grey;
  }

  :host .status-popup-wrapper:hover &,
  :host &:active,
  :host(.muted) .status-popup-wrapper:hover &,
  :host(.muted) &:active {
    box-shadow: @active-shadow darken(@grey, @darken);
  }

  :host(.warn) & {
    background-color: @sunny-yellow;
  }

  :host(.warn) .status-popup-wrapper:hover &,
  :host(.warn) &:active {
    box-shadow: @active-shadow darken(@sunny-yellow, @darken);
  }

  :host(.error) & {
    background-color: @orange;
  }

  :host(.error) .status-popup-wrapper:hover &,
  :host(.error) &:active {
    box-shadow: @active-shadow darken(@orange, @darken);
  }
}

.status-popup {
  z-index: @zindex-top;
  position: absolute;
  right: 50%;
  display: none;
  padding-top: 6px;
  transform: translateX(50%);
  white-space: nowrap;

  .status-popup-wrapper:hover & {
    display: block;
  }
}
