<div class="status-popup-wrapper">
  <a class="status" [routerLink]="link"></a>

  <div class="status-popup">
    <mat-card class="mat-card">
      <ng-content></ng-content>
    </mat-card>
  </div>
</div>
