@import '../../../styles/styles.less';

legend {
  .h4-bold;
}

mat-form-field:last-of-type {
  margin-bottom: 40px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;

  legend {
    margin-bottom: 30px;
    padding: 0;
  }

  label {
    margin-right: 16px;
  }

  mat-radio-group {
    display: inline-block;
  }
}
