<h1 mat-dialog-title>Add New User</h1>

<mat-dialog-content>
  <form id="user-form" [formGroup]="userForm" (ngSubmit)="submitUserForm()" fxLayout="column">
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Username</mat-label>
      <input placeholder="Enter username" matInput formControlName="username">
      <mat-error>
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div fxLayoutGap="25px">
      <mat-form-field fxFlex="grow" appearance="standard" floatLabel="always">
        <mat-label>First Name</mat-label>
        <input placeholder="Enter user first name" matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field fxFlex="grow" appearance="standard" floatLabel="always">
        <mat-label>Last Name</mat-label>
        <input placeholder="Enter user last name" matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>E-Mail</mat-label>
      <input placeholder="Enter user e-mail" matInput formControlName="email">
      <mat-error *ngIf="userForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userForm.get('email').hasError('email')">
        Not a <strong>valid</strong> email
      </mat-error>
    </mat-form-field>

    <fieldset>
      <legend>Assign Role</legend>

      <ng-container *ngIf="!( isTenant$ | async)">
        <label>Level:</label>
        <mat-radio-group aria-label="Select a scope" formControlName="scope" (change)="onScopeChange()">
          <mat-radio-button [value]="Scope.System">
            {{ scopeTitles.get(Scope.System) }}
          </mat-radio-button>
          <mat-radio-button [value]="Scope.Tenant">
            {{ scopeTitles.get(Scope.Tenant) }}
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>

      <div fxLayoutGap="25px" *ngIf="userScope">
        <mat-form-field fxFlex="grow" *ngIf="userScope === Scope.Tenant && !(isTenant$ | async)">
          <mat-select formControlName="id" [placeholder]="scopeTitles.get(userScope)">
            <mat-option [value]="tenant.identifier" *ngFor="let tenant of tenants">
              {{ tenant.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Roles" formControlName="roles" multiple>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user" disabled="true">User</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </fieldset>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  <button type="submit" form="user-form" mat-flat-button color="primary" [disabled]="userForm.pristine">Complete</button>
</mat-dialog-actions>
