<h1 mat-dialog-title>{{ attachment ? 'Edit' : 'Add New' }} Attachment</h1>

<mat-dialog-content>
  <form id="attachment-form" [formGroup]="attachmentForm" fxLayout="column" (ngSubmit)="submitAttachmentForm()">
    <div fxLayoutGap="25px">
      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
        <mat-label>Name</mat-label>
        <input placeholder="Enter attachment name" matInput formControlName="name">
        <mat-error>
          Attachment name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
        <mat-label>Site</mat-label>
        <mat-select placeholder="Select site" formControlName="site">
          <mat-option *ngFor="let site of sites" [value]="site.config.identifier">{{ site.config.name }}</mat-option>
        </mat-select>
        <mat-error>
          Site is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter attachment description" formControlName="description">
      </mat-form-field>
    </div>

    <nef-encap [formGroup]="encapForm" [encap]="attachment?.encap" [vlanMode]="vlanMode" #encap></nef-encap>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

  <button type="submit" form="attachment-form" mat-flat-button color="primary" [disabled]="attachmentForm.pristine">Complete</button>
</mat-dialog-actions>
