<h2>Connect slack</h2>

<a class="add" mat-flat-button color="primary" routerLink="add" *ngIf="isSystemAdmin$ | async">
  <span>New Slack account</span>

  <img src="assets/icon-add-square-white.svg" width="16" height="16">
</a>

<p>Currently receiving notifications:</p>

<div class="slack-accounts" *ngIf="slackAccounts?.length; else empty">
  <mat-card *ngFor="let slackAccount of slackAccounts">
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
        {{ slackAccount.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Receiving:
        <span *ngFor="let type of slackAccount.levels?.value; last as isLast">
          {{ type | titlecase }}
          <ng-container *ngIf="!isLast">,</ng-container>
        </span>
      </p>
      <p>Classes:
        <span *ngFor="let cs of slackAccount.classes?.value; last as isLast">
          {{ cs | alertclass }}
          <ng-container *ngIf="!isLast">,</ng-container>
        </span>
      </p>
      <p class="uri">{{ slackAccount.uri }}</p>
    </mat-card-content>

    <mat-card-actions fxLayoutGap="25px">
      <a [routerLink]="['edit', slackAccount.identifier]" class="icon-button" mat-button *ngIf="isSystemAdmin$ | async">
        <img src="assets/icon-edit.svg" width="16" height="16">
        <ng-container>Edit</ng-container>
      </a>

      <button class="icon-button" mat-button (click)="remove(slackAccount)" *ngIf="isSystemAdmin$ | async">
        <img src="assets/icon-trash-blue.svg" width="16" height="16">
        <ng-container>Remove</ng-container>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #empty>
  <p class="empty">No Slack Accounts</p>
</ng-template>
