<ng-container *ngIf="!(dataSourceLoading$ | async); else loading">
  <ng-container *ngIf="dataSourceTotal || searchEnabled || showFilters; else empty">
    <header fxLayout="row" fxLayoutAlign="start center">
      <h2>Select Site</h2>

      <mat-menu #softwareProfileMenu="matMenu">
        <button mat-menu-item (click)="onSoftwareProfileAssign()">None</button>
        <button mat-menu-item *ngFor="let profile of softwareProfiles" (click)="onSoftwareProfileAssign(profile.identifier)">
          {{ profile.name }}
        </button>
      </mat-menu>

      <mat-menu #siteMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="softwareProfileMenu" [disabled]="!selectedSites?.length || hasClusterSitesSelectedOnly">
          Assign Software Profile
        </button>
        <button mat-menu-item [disabled]="!selectedSites?.length" (click)="onRemoveSites()">Remove</button>
      </mat-menu>

      <button class="three-dots-button" mat-icon-button [matMenuTriggerFor]="siteMenu"></button>

      <button *ngIf="isSystemAdmin$ | async" class="add" mat-flat-button color="primary" (click)="onAddSite()">
        <span>Add New Site</span>

        <img src="assets/icon-add-square-white.svg" width="16" height="16">
      </button>
    </header>
    <button class="add-hide-button" mat-button color="primary" *ngIf="isSystemAdmin$ | async" (click)="onFilterButtonClick()">
      <ng-container *ngIf="!showFilters; else hide">
        <img src="assets/icon-add-square-blue.svg" width="16" height="16">
        <span class="label">Filters</span>
      </ng-container>

      <ng-template #hide>Hide Filters</ng-template>
    </button>
    <form id="site-filters-form" *ngIf="showFilters" [formGroup]="filtersForm" fxLayout="row wrap" fxLayoutAlign="start start">
      <nef-search fxLayoutAlign="start center" [showProgress]="(searchRequestInProgress$ | async)" (enter)="onSearchModified($event)">
      </nef-search>

      <mat-form-field appearance="standard" fxFlex="1 1 150px" fxFlex.gt-sm="auto">
        <mat-select placeholder="Type" formControlName="siteType">
          <mat-option>-- None --</mat-option>
          <mat-option *ngFor="let siteType of siteTypes" [value]="siteType">{{ siteType }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="1 1 150px" fxFlex.gt-sm="auto">
        <mat-select placeholder="Version" formControlName="serverVersions">
          <mat-option>-- None --</mat-option>
          <mat-option *ngFor="let version of siteVersions" [value]="version">{{ version }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="1 1 150px" fxFlex.gt-sm="auto">
        <mat-select placeholder="Scheduled version" formControlName="scheduledVersion">
          <mat-option>-- None --</mat-option>
          <mat-option *ngFor="let scheduledVersion of scheduledVersions" [value]="scheduledVersion">{{
            scheduledVersion }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="1 1 150px" fxFlex.gt-sm="auto">
        <mat-select placeholder="Status" formControlName="siteStatus">
          <mat-option>-- None --</mat-option>
          <mat-option *ngFor="let siteStatus of siteStatuses" [value]="siteStatus">{{ siteStatus }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="1 1 150px" fxFlex.gt-sm="auto">
        <mat-select placeholder="Provisioning" formControlName="softwareProfileSyncStatus">
          <mat-option>-- None --</mat-option>
          <mat-option *ngFor="let provisioningStatus of provisioningStatuses" [value]="provisioningStatus">{{
            provisioningStatus }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <nef-table class="compact" [columns]="columns" [data]="dataSource.rows" [clickable]="true" (rowsSelect)="onRowsSelect($event)"
      (rowClick)="onRowClick($event)" (actionClick)="onActionClick($event)" [sortable]="false"></nef-table>
    <ng-container *ngIf="dataSource?.rows?.length === 0 && searchEnabled">
      <p fxLayoutAlign="center center">No sites found</p>
    </ng-container>
  </ng-container>

  <ng-template #empty>
    <section class="add-site" fxLayout="column" fxLayoutAlign="center center">
      <h1>No Sites</h1>

      <p>
        No sites have been configured for this system.
      </p>

      <button class="primary-btn" mat-flat-button color="primary" *ngIf="isSystemAdmin$ | async" (click)="onAddSite()">
        <img src="assets/icon-add-square-white.svg" width="16" height="16">
        <span>Add new Site</span>
      </button>
    </section>
  </ng-template>
</ng-container>

<ng-template #loading>
  <p class="loading">Loading sites…</p>
</ng-template>
