@import '../../styles/styles.less';

h2 {
  .h2;
}

button.add-hide-button {
  margin-bottom: 10px;

  .label {
    display: inline-block;
    color: @blue;
    margin-left: 10px;
    margin-top: -4px;
    vertical-align: -1px;
  }
}

form#site-filters-form {
  @gap: 15px;

  margin-left: -0.5 * @gap;
  margin-right: -0.5 * @gap;

  nef-search,
  mat-form-field {
    margin-left: 0.5 * @gap;
    margin-right: 0.5 * @gap;
  }

  nef-search {
    position: relative;
    top: 1px;
  }
}

header {

  padding-top: 64px;
  padding-bottom: 32px;

  button.add {
    margin-left: auto;

    img {
      margin-left: 8px;
    }
  }
}

p {
  .text-style-italic;
  color: @dark-grey;
}

section.add-site {
  min-height: 500px;

  h1 {
    .font-weight-normal;
    margin: 0
  }

  p {
    &:extend(.text-size);
    .letter-spacing-extra-small-alternative;
    .font-weight-light;
    width: 345px;
    margin-top: 12px;
    margin-bottom: 35px;
    color: @dark-grey;
    text-align: center;
  }

  button span {
    margin-left: 10px;
    text-transform: capitalize;
  }
}

.loading {
  margin: 0 45%;
  padding: 100px 0;
}
