<h1 mat-dialog-title>Add New Pool</h1>

<mat-dialog-content>
  <form id="pool-form" [formGroup]="poolForm" (ngSubmit)="submitPoolForm()" fxLayout="column">
    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Pool Name</mat-label>
      <input placeholder="Enter pool name" matInput formControlName="name">
      <mat-error>
        Pool name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>

  <button type="submit" form="pool-form" mat-flat-button color="primary" [disabled]="poolForm.pristine">Create
    Pool</button>
</mat-dialog-actions>
