@import '../../../styles/styles.less';

h2 {
  &:extend(.h2);
  margin-bottom: 32px;
  margin-top: 64px;
}

section {

  > section {
    max-height: 450px;
    padding-top: 54px;
  }

  footer {
    min-height: 45px;

    p {
      text-align: justify;
    }
  }
}
