<header fxLayoutAlign="space-between center">
  <h2>Templates</h2>

  <button *ngIf="isSystemAdmin$ | async" class="add" mat-flat-button color="primary" (click)="onAddTemplate()">
    <span>Add New Template</span>
    <img src="assets/icon-add-square-white.svg" width="16" height="16">
  </button>
</header>

<section fxLayout="row" fxLayoutGap="20px" fxFill>
  <nef-table [columns]="columns" [dataSource]="dataSource" [clickable]="true" [pagination]="true" (actionClick)="onActionClick($event)"
    (rowClick)="onRowClick($event)" [rowClassNames]="getRowClassNames" [fxFlex]="selectedTemplateRow ? 40 : 100"></nef-table>
  <section fxLayout="column" *ngIf="selectedTemplateRow" [fxFlex]="60">
    <nef-pipeline fxFill [active]="!!selectedTemplateRow.template.config" [sites]="sites" [template]="selectedTemplateRow.template.config">
    </nef-pipeline>
    <footer>
      <p>{{ selectedTemplateRow.template?.description }}</p>
    </footer>
  </section>
</section>
