<header>
  <h2>File Manager</h2>
</header>

<form id="tenant-form" [formGroup]="formGroup" (ngSubmit)="submitForm()" fxLayout="column">
  <div class="add-hide-button-wrapper" *ngIf="isSystemAdmin$ | async">
    <button mat-button color="primary" (click)="showNewFile = !showNewFile">
      <ng-container *ngIf="!showNewFile; else hide">
        <img src="assets/icon-add-square-blue.svg" width="16" height="16">
        <span class="label">Add New File</span>
      </ng-container>

      <ng-template #hide>Hide</ng-template>
    </button>
  </div>

  <mat-card *ngIf="showNewFile">
    <div fxLayout="row" fxLayoutGap="15px">
      <mat-form-field appearance="standard" fxFlex="25%">
        <input placeholder="Enter unique name" matInput formControlName="name">
        <mat-label>Name</mat-label>
        <mat-error>
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="grow">
        <input placeholder="Enter description for file" matInput formControlName="description">
        <mat-label>Description</mat-label>
      </mat-form-field>

      <div fxFlexAlign="center" fxFlex="150px">
        <input type="file" #fileInput (change)="setFileName($event)" formControlName="file" hidden>
        <button class="file-button" mat-stroked-button type="button" color="primary" (click)="fileInput.click()">
          Select File
        </button>
        <div class="button-description" *ngIf="fileName">{{fileName}}</div>
        <div class="button-description error" *ngIf="!fileName">Select file to upload</div>
      </div>

      <div fxFlexAlign="center">
        <button form="tenant-form" type="submit" mat-flat-button color="primary" [disabled]="formGroup.pristine">
          <mat-spinner *ngIf="uploadInProgress; else complete" color="primary" diameter="20" strokeWidth="1">
          </mat-spinner>
          <ng-template #complete>Upload</ng-template>
        </button>
        <div class="button-description">&nbsp;</div>
      </div>
    </div>
    <div>
      <mat-checkbox formControlName="distributionDebian">distro-nefeli deb file</mat-checkbox>
    </div>
  </mat-card>
</form>

<nef-table class="compact" [columns]="(isSystemAdmin$ | async) ? columns : columns | slice:0:columns.length - 1" [data]="dataSource"
  (actionClick)="onActionClick($event)" #fileTable>
</nef-table>
