@import '../../styles/styles.less';

.add-hide-button-wrapper {
  margin-bottom: 16px;

  img {
    vertical-align: -3px;
  }

  .label {
    display: inline-block;
    color: @blue;
    margin-left: 10px;
    margin-top: -4px;
  }
}

.file-button {
  width: 150px;
}

.button-description {
  font-weight: @font-weight-normal;
  .text-small-size;
  color: @blue;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;

  &.error {
    color: @red;
  }
}

mat-card {
  margin-bottom: 25px;
}
