<header fxLayoutAlign="space-between center">
  <h4>Site Usage Overview</h4>
  <nef-legend class="core-legend" [items]="coreLegendItems"></nef-legend>
</header>

<div fxLayout="row" fxLayoutGap="25px">
  <mat-card *ngFor="let server of servers" fxLayout="row" fxLayoutGap="11px">
    <nef-cell-grid *ngFor="let socket of server.sockets" [cellSize]="8" [margin]="4" [hoverMode]="false" [totalCells]="socket.cores.length"
      [activeCells]="getActiveCores(socket)" [singleColorMode]="true">
    </nef-cell-grid>
  </mat-card>
</div>
