@import '../../../styles/styles.less';

:host {
  display: block;
}

header {
  margin-bottom: 32px;

  h2 {
    .h2;
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    .h4;
    margin-top: 0;
    margin-bottom: 0;
  }
}

mat-card {

  @cell-width: 8px;
  @cell-gap: 4px;
  @cell-columns: 6;

  margin-bottom: 25px;
  padding: 16px;
  padding-right: 16px - @cell-gap;

  nef-cell-grid {
    width: (@cell-width + @cell-gap) * @cell-columns;
  }
}