@import '../../../../styles/styles.less';

.add-button-wrapper {

  button {

    .label {
      display: inline-block;
      color: @blue;
      margin-left: 10px;
      margin-top: -4px;
    }

    img {
      vertical-align: -3px;
    }
  }
}

mat-dialog-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.warning {
  .text-small-light;
  color: @blue;
  width: 100%;
  text-align: right;
}

mat-card {
  margin-top: 5px;
  width: 100%;
}
