<h1 mat-dialog-title>Add Server</h1>

<mat-dialog-content>
  <form id="server-form" [formGroup]="serverForm" (ngSubmit)="submitServerForm()" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="25px">
      <mat-form-field fxFlex="grow">
        <input placeholder="Name" matInput formControlName="serverName">
        <mat-error *ngIf="serverForm.get('serverName').hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="grow">
        <input placeholder="IP" matInput formControlName="ip">
        <mat-error>IP is <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="grow">
        <input placeholder="Username" matInput formControlName="username">
        <mat-error>Username is <strong>required</strong></mat-error>
      </mat-form-field>
    </div>

    <div>
      <div class="nic data-path-bonded-nic" *ngFor="let dataPathBondedNIC of dataPathBondedNICControls; let i = index"
        formArrayName="dataPathBondedNics" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-card fxLayout="row" fxLayoutGap="10px">
            <ng-container [formGroupName]="i">
              <div fxLayout="column" fxFlex="35%">
                <mat-form-field>
                  <input type="number" placeholder="Socket" matInput formControlName="socket" name="socket">
                </mat-form-field>

                <mat-form-field>
                  <input placeholder="Driver" matInput formControlName="driver" name="driver">
                </mat-form-field>

                <mat-form-field>
                  <input placeholder="Throughput" matInput formControlName="throughputGbps" name="throughput">
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Mode" formControlName="mode">
                    <mat-option [value]="''">Select mode</mat-option>
                    <mat-option [value]="bondedNicModes.ActiveBackup">
                      {{ bondedNicModes.ActiveBackup }}
                    </mat-option>
                    <mat-option [value]="bondedNicModes.XOR">
                      {{ bondedNicModes.XOR }}
                    </mat-option>
                    <mat-option [value]="bondedNicModes.TXLB">
                      {{ bondedNicModes.TXLB }}
                    </mat-option>
                    <mat-option [value]="bondedNicModes.LACP">
                      {{ bondedNicModes.LACP }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Policy" formControlName="hash">
                    <mat-option [value]="''">Select policy</mat-option>
                    <mat-option [value]="hashFunction.L2">
                      {{ hashFunction.L2 }}
                    </mat-option>
                    <mat-option [value]="hashFunction.L23">
                      {{ hashFunction.L23 }}
                    </mat-option>
                    <mat-option [value]="hashFunction.L34">
                      {{ hashFunction.L34 }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Subnet" formControlName="subnet">
                    <mat-option [value]="''">Select subnet</mat-option>
                    <mat-option *ngFor="let subnet of dpdkSubnets" value="{{subnet}}">
                      {{subnet}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="60%">
                <div *ngFor="let interface of dataPathBondedNIC.get('interfaces')['controls']; let j = index" formArrayName="interfaces"
                  fxLayout="row" fxLayoutGap="10px">
                  <ng-container [formGroupName]="j">
                    <mat-form-field fxFlex="50%">
                      <input placeholder="PCI address" name="pciAddress" matInput formControlName="pciAddress"
                        (keyup)="addDataBondedInterface($event, undefined, dataPathBondedNIC['controls'].interfaces, j)">
                    </mat-form-field>

                    <mat-form-field fxFlex="50%">
                      <input placeholder="MAC address" matInput name="mac" formControlName="mac"
                        (keyup)="addDataBondedInterface(undefined, $event, dataPathBondedNIC['controls'].interfaces, j)">
                      <button type="button" class="remove-interface" title="Remove Interface" mat-icon-button matSuffix
                        (click)="deleteDataPathBondedInterface(j, dataPathBondedNIC['controls'].interfaces)" *ngIf="j !== 0">x</button>
                    </mat-form-field>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <button type="button" mat-icon-button (click)="deleteDataPathBondedNIC(i)" title="Remove NIC" fxFlex="5%">
              <img src="assets/icon-trash.svg" width="16" height="16">
            </button>
          </mat-card>
        </div>
      </div>
      <div class="add-button-wrapper" fxLayout="row">
        <button type="button" mat-icon-button (click)="addDataPathBondedNIC()" title="Add Data Path Bonded NIC">
          <img src="assets/icon-add-square-blue.svg" width="16" height="16">
          <span class="label">Add Data Path Bonded NIC</span>
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div class="warning">Adding a new server may take several minutes and will not be displayed until completed.</div>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button type="button" mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  <button type="submit" form="server-form" mat-flat-button color="primary">
    <mat-spinner *ngIf="isProcessing; else complete" color="primary" diameter="20" strokeWidth="1"></mat-spinner>

    <ng-template #complete>Complete</ng-template>

  </button>
</mat-dialog-actions>
