@import '../../../styles/styles.less';

nav {
  margin-bottom: 32px;

  a.back {
    padding: 0;
    color: @dark-grey;
    text-decoration: none;

    img {
      margin-right: 8px;
      vertical-align: -6px;
    }
  }
}

a.back,
a.add {
  .text-small-size;
  .font-weight-bold;
  .letter-spacing-extra-small-negative;
  text-transform: uppercase;
}

header {

  h2 {
    .h2;
    .letter-spacing-medium-negative;
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    .h3;
    .letter-spacing-medium-negative;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  a.add img {
    margin-right: 5px;
  }
}

#tenant-form {
  color: @dark-grey;

  .mat-form-field {
    margin-bottom: 0;

    .mat-input-element {
      .h4-size;
      .font-weight-bold;
      color: @black;
    }
  }
}


.content {
  
  mat-card {
    background-color: @light-grey;
    border: 1px solid @soft-grey;
    padding: 30px;
      
    mat-card-header {
  
      button.remove {
        text-transform: uppercase;
        .text-extra-small-size;
      
        img {
          margin-left: 5px;
        }
      }
  
    }
  
    button[type=submit] {
      width: 125px;
    }
  }
}
