<nav fxLayoutAlign="space-between center">
  <a class="back" routerLink="/tenants-list">
    <img src="assets/icon-arrow-left.svg" class="arrow-left" width="24" height="24">
    All Tenants
  </a>

  <a mat-flat-button color="primary" *ngIf="tenant" [routerLink]="['/tenants', tenant.identifier]">Open Tenant</a>
</nav>

<header fxLayoutAlign="space-between center">
  <ng-container *ngIf="isSystemAdmin$ | async; else name">
    <form id="tenant-form" [formGroup]="tenantForm" (ngSubmit)="submitTenantForm()" fxLayout="column" fxFlex="1 1 280px">
      <mat-form-field appearance="standard" floatLabel="always">
        <input placeholder="Enter tenant name" matInput formControlName="name" (blur)="submitTenantForm()">
        <mat-label>Tenant Name</mat-label>
        <mat-error>
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <a class="add" mat-button>
      <img src="assets/icon-add-square-blue.svg" width="16" height="16" />
      <span>Add New Network Function</span>
    </a>
  </ng-container>

  <ng-template #name>
    <h3 fxLayout="column" fxFlex="280px">{{ tenant?.name }}</h3>
  </ng-template>


</header>

<div class="content" fxLayout="row" fxLayoutGap="24px">
  <nef-network-function-menu title="Active Network Functions" [canEdit]="isSystemAdmin$ | async" [catalog]="activatedCatalog"
    (editClick)="onEditNF($event)" fxFlex="1 1 280px"></nef-network-function-menu>

  <mat-card fxFlex="2 1 auto" *ngIf="isSystemAdmin$ | async">
    <ng-template #notSelected>
      Please select Network Function
    </ng-template>

    <ng-container *ngIf="selectedNF; else notSelected">
      <mat-card-header fxLayoutAlign="space-between center">
        <mat-card-title>Edit {{selectedNF.name}}</mat-card-title>

        <button mat-button class="remove" (click)="onRemoveNF()">
          Remove from Tenant
          <img src="assets/icon-switch-off.svg" width="16" height="16">
        </button>
      </mat-card-header>

      <mat-card-content>
        <form id="nf-form" [formGroup]="nFForm" fxLayout="column">
          <mat-form-field appearance="standard" floatLabel="always">
            <input #vendor placeholder="Enter Vendor" matInput formControlName="vendor">
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <input placeholder="Enter Name" matInput formControlName="name">
            <mat-label>Name</mat-label>
            <mat-error>
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <input matInput placeholder="Enter Control Image" formControlName="controlImage">
            <mat-label>Control Image</mat-label>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <textarea placeholder="Enter Control Manifest" matInput formControlName="controlManifest" [matTextareaAutosize]="true"
              [matAutosizeMinRows]="4"></textarea>
            <mat-label>Control Manifest</mat-label>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <input placeholder="Enter Data Image" matInput formControlName="dataImage">
            <mat-label>Data Image</mat-label>
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <textarea placeholder="Enter Data Manifest" matInput formControlName="dataManifest" [matTextareaAutosize]="true"
              [matAutosizeMinRows]="4"></textarea>
            <mat-label>Data Manifest</mat-label>
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end">
        <button type="submit" form="nf-form" mat-flat-button color="primary" [disabled]="nFForm.pristine">Save</button>
      </mat-card-actions>
    </ng-container>
  </mat-card>

  <nef-network-function-menu *ngIf="isSystemAdmin$ | async" title="Available Network Functions" [canActivate]="true"
    [catalog]="availableCatalog" fxFlex="1 1 280px"></nef-network-function-menu>
</div>
