<form id="software-profile-form" fxLayout="column" [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div fxLayoutGap="25px">
    <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
      <mat-label>Name</mat-label>
      <input placeholder="Enter profile name" matInput cdkFocusInitial formControlName="name">
      <mat-error>Profile name is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always" fxFlex="grow">
      <mat-label>Description</mat-label>
      <input placeholder="Enter profile description" matInput formControlName="description">
    </mat-form-field>
  </div>

  <fieldset formGroupName="date" fxLayoutGap="25px">
    <mat-form-field appearance="standard" floatLabel="always" fxFlex="0 1 calc(50% - 25px /2)">
      <mat-label>Version Applied After</mat-label>
      <mat-datepicker #datepicker></mat-datepicker>
      <input placeholder="Choose a date" matInput formControlName="date" [min]="minDate" [matDatepicker]="datepicker"
        (dateChange)="onDateChange()">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-error *ngIf="form.get('date.date').hasError('matDatepickerMin')">
        Version applied after date should be future
      </mat-error>
      <mat-error *ngIf="form.get('date.date').hasError('matDatepickerParse')">
        Version applied after date is invalid
      </mat-error>
    </mat-form-field>

    <fieldset formGroupName="time" fxLayoutGap="25px">
      <mat-form-field appearance="standard" floatLabel="always" fxFlex="56px">
        <mat-label>Hours</mat-label>
        <mat-select placeholder="HH" formControlName="hours">
          <mat-option>{{ 'HH' }}</mat-option>
          <mat-option [value]="hour % HOURS.length" *ngFor="let hour of HOURS">{{ hour | number:'2.0-0' }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always" fxFlex="56px">
        <mat-label>Minutes</mat-label>
        <mat-select placeholder="MM" formControlName="minutes">
          <mat-option>{{ 'MM' }}</mat-option>
          <mat-option [value]="minute" *ngFor="let minute of MINUTES">{{ minute | number:'2.0-0' }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" floatLabel="always" fxFlex="56px">
        <mat-label>AM/PM</mat-label>
        <mat-select formControlName="period">
          <mat-option [value]="period.value" *ngFor="let period of TimePeriod | keyvalue | slice:2">{{ period.key }}</mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>
  </fieldset>

  <fieldset formGroupName="distribution">
    <legend>Assign Distro Deb</legend>

    <ng-container *ngIf="!distributionFileName; else distributionFile">
      <mat-radio-group aria-label="Select a distribution type" formControlName="type" (change)="onDistributionTypeChange()">
        <mat-radio-button [value]="DistributionType.Auto">Auto</mat-radio-button>
        <mat-radio-button [value]="DistributionType.New">New</mat-radio-button>
        <mat-radio-button [value]="DistributionType.Existing">Existing</mat-radio-button>
      </mat-radio-group>

      <ng-container [ngSwitch]="form.get('distribution.type').value">
        <ng-container *ngSwitchCase="DistributionType.New">
          <input type="file" accept=".deb, application/vnd.debian.binary-package" (change)="onDistributionUpload($event)">
          <mat-spinner *ngIf="uploadInProgress" color="primary" diameter="20" strokeWidth="1"></mat-spinner>
          <mat-error>Distro file is <strong>required</strong></mat-error>
        </ng-container>

        <ng-container *ngSwitchCase="DistributionType.Existing">
          <div>
            <mat-form-field appearance="standard" floatLabel="always" fxFlex="0 1 calc(50% - 25px / 2)">
              <mat-label>Distribution</mat-label>
              <mat-select placeholder="Choose a distribution" formControlName="version">
                <mat-option>{{ 'Choose a distribution' }}</mat-option>
                <mat-option [value]="file.name.split('_')[1]" *ngFor="let file of files">{{ file.name }}</mat-option>
              </mat-select>
              <mat-error>Distribution is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-template #distributionFile>
      <span class="distribution-file">{{ distributionFileName }}</span>
    </ng-template>
  </fieldset>
</form>
