@import '../../../styles/styles.less';

:host {
  display: block;
}

fieldset {
  margin: unset;
  padding: unset;
  border: unset;

  legend {
    .font-weight-bold;
    margin-bottom: 30px;
    padding: unset;
  }

  mat-radio-group {
    display: block;
  }

  input[type=file],
  .distribution-file {
    margin-bottom: 20px;
  }

  input[type=file] + mat-error {
    .text-small-size;

    > strong {
      .font-weight-bold;
    }
  }

  .distribution-file {
    display: inline-block;
  }
}
