<header fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="licenseForm">
  <h1 mat-dialog-title>
    Add new license
  </h1>
  <mat-form-field fxFlex="180px">
    <mat-select placeholder="Network Functions" formControlName="nf" fxFlex="180px">
      <mat-option *ngFor="let nf of nfs" [value]="nf">
        {{ nf.name }}
      </mat-option>
    </mat-select>
    <mat-error>
      NF is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</header>

<mat-dialog-content>
  <form id="license-form" [formGroup]="licenseForm" (ngSubmit)="submitLicenseForm()" fxLayout="row" fxLayoutAlign="space-between"
    fxLayoutGap="15px">

    <mat-form-field floatLabel="always" fxFlex="180px">
      <mat-label>License Name</mat-label>
      <input type="text" placeholder="Enter license name" matInput formControlName="name">
      <mat-error>
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" fxFlex="180px">
      <mat-label>License Pool</mat-label>
      <mat-select placeholder="Select pool" formControlName="pool">
        <mat-option *ngFor="let pool of pools" [value]="pool.identifier">{{ pool.name }}</mat-option>
      </mat-select>
      <mat-error>
        Pool is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" fxFlex="130px">
      <input matInput formControlName="startDate" [matDatepicker]="startDate" placeholder="Start date">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field floatLabel="always" fxFlex="130px">
      <input matInput formControlName="endDate" [matDatepicker]="endDate" placeholder="End date">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
  </form>

  <div>
    <input type="file" multiple #fileInput (change)="uploadLicenseFiles($event)">
    <button class="file-button" mat-flat-button type="button" color="primary" (click)="fileInput.click()">
      Select License File
    </button>
    <mat-error *ngIf="licenseForm.get('files').hasError('required')">
      License File is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="licenseForm.get('files').hasError('invalid')">
      File <strong>{{licenseForm.get('files').errors.fileName}}</strong> is an invalid license file
    </mat-error>
  </div>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let license of licenseFiles; let i = index">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="file-name">
          {{ license.name }}
        </span>
        <button mat-button type="button" (click)="removeLicenseFile(i)">
          <img src="assets/icon-trash-blue.svg" width="16" height="16">
        </button>
      </div>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="20px">
  <button type="button" mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  <button type="submit" form="license-form" mat-flat-button color="primary">Save</button>
</mat-dialog-actions>
