@import '../../../styles/styles.less';

header {
  margin-bottom: 10px;

  .mat-dialog-title {
    margin-bottom: 8px;
  }

  mat-form-field {
    margin-bottom: -25px;
    padding-bottom: 10px;
  }
}

.file-button {
  .text-size-alternative-2;
  .letter-spacing-extra-small-negative;
  width: 150px;

  img {
    margin-right: 4px;
    vertical-align: -3px;
  }

  & + mat-error {
    padding-top: 15px;
  }
}

input[type=file] {
  display: none;
}

form {
  padding-top: 30px;
}

mat-list {

  &.mat-list-base {
    padding-top: 0;
    padding-bottom: 15px;
  }

  mat-list-item {
    border: 1px solid @soft-grey;
    border-radius: 4px;
    margin: 6px 0 12px 0;

    button {
      margin-right: -10px;
    }
  }
}

mat-dialog-actions button {
  width: 130px;
}
