<h1 mat-dialog-title>Software Profile Manager</h1>

<mat-dialog-content>
  <button mat-button color="primary" (click)="toggleNewProfile()">
    <ng-container *ngIf="!showNewProfile; else hide">
      <ng-container>Add New Profile</ng-container>
      <img src="assets/icon-add-square-blue.svg" width="16" height="16">
    </ng-container>

    <ng-template #hide>Hide</ng-template>
  </button>

  <mat-card *ngIf="showNewProfile">
    <mat-card-content>
      <nef-software-profile-form #form (addProfile)="profiles.addProfile($event)"></nef-software-profile-form>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="end">
      <button type="submit" form="software-profile-form" mat-flat-button color="primary" [disabled]="!form.form?.dirty">Save</button>
    </mat-card-actions>
  </mat-card>

  <nef-software-profiles #profiles [profiles]="softwareProfiles"></nef-software-profiles>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
  <button mat-stroked-button color="primary" [mat-dialog-close]="profiles.softwareProfiles">Close</button>
</mat-dialog-actions>
