<div fxLayout="row" fxLayoutAlign="space-between center" class="container">
  <section>
    <!-- left margin -->
  </section>

  <!-- middle message section -->
  <section fxLayout="row" fxFlexAlign="center">
    <p class="message" fxLayoutAlign="start center">
      <img src="assets/icon-exclamation.svg" width="22" height="22">
      <span *ngIf="alarmsCount === 1">You have {{ alarmsCount }} critical alert.</span>
      <span *ngIf="alarmsCount > 1">You have {{ alarmsCount }} critical alerts.</span>
    </p>

    <button class="details" cdkOverlayOrigin #alarmDropdownOverlayOrigin="cdkOverlayOrigin" (click)="onOpenAlarmDropdown()">View
      Details</button>
  </section>

  <!-- right margin -->
  <section>
    <button class="hide" (click)="onHide()">☓ Hide</button>
  </section>
</div>

<!-- Alarm Dropdown -->
<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOpen]="isAlarmDropdownOpen" [cdkConnectedOverlayOrigin]="alarmDropdownOverlayOrigin"
  [cdkConnectedOverlayPositions]="alarmDropdownConnectedPositions" (backdropClick)="onAlarmDropdownBackdropClick()">
  <mat-card class="alarm-dropdown">
    <nef-alarm-list *ngIf="alarmsDataSource" [dataSource]="alarmsDataSource"></nef-alarm-list>
  </mat-card>
</ng-template>
