@import '../../styles/styles.less';

:host {
  position: fixed;
  top: 0;
  z-index: @zindex-top;
  display: flex;
  align-items: center;
  justify-content: center;
  height: @banner-height;
  width: 100%;
  background-color: @red;
  color: @pure-white;
}

.container {
  width: 100%;
}

p {
  .text-size;
  .letter-spacing-extra-small-negative;
  margin-top: 0;
  margin-bottom: 0;

  img {
    margin-right: 8px;
  }
}

button.details {
  .text-extra-small;
  display: inline-block;
  margin-left: 8px;
  padding: 6px 10px;
  border: 1px solid @pure-white;
  border-radius: 15px;
  color: @pure-white;
  cursor: pointer;
}

span.details,
button.hide {
  color: @pure-white;

  &:hover {
    cursor: pointer;
  }
}

button.hide {
  .text-small;
}

.alarm-dropdown {
  .arrow-top;
  padding: 0;

  nef-alarm-list {
    width: 360px;
  }
}
