<h2>Webhooks</h2>

<a class="add" mat-flat-button color="primary" routerLink="add">
  <span>New Webhook</span>

  <img src="assets/icon-add-square-white.svg" width="16" height="16">
</a>

<p>Currently receiving notifications:</p>

<div class="webhooks" *ngIf="webhooks?.length; else empty">
  <mat-card *ngFor="let webhook of webhooks">
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
        <!-- TODO(eric): enable below when name becomes available
        <span>{{ webhookName }}</span>
        -->
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Receiving:
        <ng-container *ngFor="let type of webhook.levels?.value; last as isLast">
          {{ type | titlecase }}
          <ng-container *ngIf="!isLast">,</ng-container>
        </ng-container>
      </p>
      <p>Classes:
        <ng-container *ngFor="let cs of webhook.classes?.value; last as isLast">
          {{ cs | alertclass }}
          <ng-container *ngIf="!isLast">,</ng-container>
        </ng-container>
      </p>
      <p>URL: {{ webhook.uri }}</p>
    </mat-card-content>

    <mat-card-actions fxLayoutGap="25px">
      <a [routerLink]="['edit', webhook.identifier]" class="icon-button" mat-button *ngIf="isSystemAdmin$ | async">
        <img src="assets/icon-edit.svg" width="16" height="16">
        <ng-container>Edit</ng-container>
      </a>

      <button class="icon-button" mat-button (click)="remove(webhook)" *ngIf="isSystemAdmin$ | async">
        <img src="assets/icon-trash-blue.svg" width="16" height="16">
        <ng-container>Remove</ng-container>
      </button>
    </mat-card-actions>

  </mat-card>
</div>

<ng-template #empty>
  <span class="empty">No webhooks</span>
</ng-template>
