@import '../../../styles/colors.less';

:host {
  display: flex;
  height: 72px;
  background-color: @pure-white;
}

.cell {
  @cell-gap: 6px;

  flex: 1;
  background-color: @soft-grey;
  .nf-color(@nf-color-mode-background);
  border-radius: 2px;

  &:not(:first-child) {
    margin-left: @cell-gap / 2;
  }

  &:not(:last-child) {
    margin-right: @cell-gap / 2;
  }

  &.active {
    @darken: 30%;
    @active-shadow: 1px 2px 0px 0px;

    .nf-color(@nf-color-mode-shadow);
  }

  &.muted {
    opacity: 0.2;
  }
}
