<div *ngFor="let url of urls">
  <button *ngIf="isSystemAdmin$ | async" mat-icon-button title="Remove Server" (click)="deleteServer(url.identifier)">
    <img src="assets/icon-trash.svg" width="16" height="16">
  </button>
  <span>{{ url.url }}</span>
</div>

<form *ngIf="isSystemAdmin$ | async" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>Add server</mat-label>
    <input matInput placeholder="Enter url" formControlName="url">
    <mat-error *ngIf="form.get('url').hasError('pattern')">
      Not a <strong>valid</strong> URL (<em>https://host[:port]</em>)
    </mat-error>
  </mat-form-field>
  <button mat-flat-button color="primary" [disabled]="form.pristine">Save</button>
</form>
