@import '../../../styles/styles.less';

:host {
  display: block;
  margin-bottom: 24px;
}

.status-list {

  .mat-card {
    padding: 0 0 6px 0;
  }

  .mat-divider {
    border-top-color: @soft-grey;
  }

  .mat-card-title {
    .text-small-bold;
    margin-bottom: 0;
    color: @arsenic;
  }

  .mat-card-header {
    height: 45px;
    padding-left: 16px;
    padding-right: 16px;

    .mat-card-header-text {
      margin: 0 4px;
    }

    .mat-button {
      min-width: 16px;
      padding: 0 8px;
      margin-right: -10px;
    }
  }

  mat-nav-list {

    [mat-list-item] {
      width: 100%;

      &.active {
        background-color: @light-grey;
      }

      .list-item-content {
        width: 100%;
        margin-top: 16px;

        &.progress {
          margin-top: 10px;
        }
      }

      .list-item-text {
        &:extend(.font-weight-normal);
      }

      .status-indicator {
        display: inline-block;
        height: 14px;
        width: 14px;
        max-width: 14px;
        border-radius: 9px;
        margin-top: 2px;

        &.good {
          background-color: @lime-green;
        }

        &.warning {
          background-color: @sunny-yellow;
        }

        &.critical {
          background-color: @font-negative;
        }
      }

      .list-progress {
        margin-top: 6px;
        width: 100%;
      }
    }
  }

  .empty-placeholder {
    &:extend(.font-weight-normal);
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    color: @arsenic;
    text-align: center;
  }
}
