<div class="status-list">
  <mat-card>
    <mat-card-header fxLayoutAlign="space-between center">
      <mat-card-title>{{ title }}</mat-card-title>
      <button mat-button *ngIf="(isSystemAdmin$ | async) && showAddButton" (click)="onAddClick()" title="Add Server">
        <img src="assets/icon-add-square-blue.svg" width="16" height="16" title="Add Server">
      </button>
    </mat-card-header>
    <mat-divider *ngIf="title" class="divider"></mat-divider>
    <mat-card-content class="content">
      <mat-nav-list *ngIf="items && items.length">
        <a mat-list-item [routerLink]="item.link" routerLinkActive="active" [title]="item.label" *ngFor="let item of items"
          (click)="itemClick(item)">
          <div class="list-item-content" [ngClass]="{'progress': item.progress}" fxLayout="row">
            <span class="list-item-text" fxFlex="3 1">{{ item.label }}</span>
            <span class="status-indicator" fxFlex="1 1" [ngClass]="item.status.toLowerCase()"></span>
          </div>
          <div *ngIf="item.progress" class="list-progress">
            <mat-progress-bar mode="determinate" [value]="item.progress" [ngClass]="item.status.toLowerCase()">
            </mat-progress-bar>
          </div>
        </a>
      </mat-nav-list>
      <span *ngIf="!items || items.length === 0" class="empty-placeholder">The list is empty</span>
    </mat-card-content>
  </mat-card>
</div>
