@import '../../../styles/styles.less';

:host {
  display: block;
}

mat-dialog-content {
  max-height: 200px;
  overflow: hidden;
}

.sites-table{
  width: 100%;
  margin-bottom: 15px;
  overflow-y: scroll;

  .mat-table {
    width: 100%;
  }
}

.mat-row .mat-cell:not(.no-data) {
  border-bottom: 1px solid @grey;
  cursor: pointer;
}

.mat-row:hover .mat-cell:not(.no-data) {
  background-color: @light-grey;
}

.mat-header-row {
  height: 35px;
  border-top: 1px solid @grey;
}

.selected-row {
  background-color: @light-grey;
}

.mat-column-name {
  width: 150px;
  border-right: 1px solid @grey;
}

.mat-column-type {
  padding-left: 16px;
}

nef-template-input {
  height: 36px;
}

mat-label {
  margin-right: 15px;
}

mat-form-field {
  margin-bottom: 0;
}

mat-radio-group {
  padding-top: 6px;
}

mat-error {
  &:extend(.text-small-size);
  &:extend(.font-weight-normal);
}
