<h1 mat-dialog-title>Select Site</h1>

<mat-dialog-content fxLayout="column" fxLayoutGap="30px">
  <mat-checkbox *ngIf="isTemplate" (change)="showTemplateVar = $event.checked">Use template variable</mat-checkbox>

  <div *ngIf="!showTemplateVar; else useVar" class="sites-table">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.config.name}}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{element.config.siteType}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="onClickRow(row)" *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" colspan="2">No available sites</td>
      </tr>
    </table>
  </div>

  <ng-template #useVar>
    <form id="site-form" [formGroup]="form" (ngSubmit)="submitForm()">
      <div fxLayout="row" fxLayout="start center" fxLayoutGap="20px">
        <mat-radio-group [value]="SiteConfigSiteType.CLUSTER" fxLayout="start center" formControlName="type">
          <mat-label>Type</mat-label>
          <mat-radio-button [value]="SiteConfigSiteType.CLUSTER">{{ SiteConfigSiteType.CLUSTER }}</mat-radio-button>
          <mat-radio-button [value]="SiteConfigSiteType.UCPE">{{ SiteConfigSiteType.UCPE }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <nef-template-input placeholder="Enter site ID" fxFlex="grow" (docChange)="onSiteVarChange($event)" [variables]="templateVars">
        </nef-template-input>
        <button type="submit" form="site-form" mat-button color="primary">Add</button>
      </div>
      <mat-error *ngIf="this.form.get('variable').errors?.required && submitAttempted">Site ID is required</mat-error>
    </form>
  </ng-template>
</mat-dialog-content>
