@import '../../styles/styles.less';

:host {
  display: block;
  padding-top: 60px;
}

section.tenant-menu {
  margin-bottom: 40px;

  &.empty {
    border-bottom: 1px solid @soft-grey;
  }

  button.menu-trigger {

    nef-avatar {
      .h4-size;
    }

    span {
      &:extend(.h2);
    }
  }
}

section.services {
  position: relative;

  nav[mat-tab-nav-bar] {
    margin-right: 125px; // simulating 5.55px gap between tabs and Add Service button

    [mat-tab-link] sup {
      &:extend(.text-size);
      position: relative;
      top: -6px;
      margin-left: 4px;
    }
  }

  nav.add-service {
    z-index: @zindex-top;
    position: absolute;
    top: 0;
    right: 0;
    width: 125px; // element width is 119.45px without gap
    border-bottom: 1px solid fade(@pure-black, 12%);
    line-height: 48px;
    text-align: right;
    white-space: nowrap;

    button {
      &:extend(.text-size);
      &:extend(.font-weight-normal);
      padding-left: 5px;
      padding-right: 5px;
      color: @black;
      white-space: nowrap;

      &:hover,
      &:active {
        color: @blue;
      }

      img {
        margin-right: 8px;
        vertical-align: -2px;
      }
    }
  }
}

section.sites {
  margin-bottom: 60px;

  header {
    padding-top: 50px;
    margin-bottom: 10px;
  }
}

section.sites,
section.performance {

  header {

    h2 {
      &:extend(.h2);
      margin-top: 0;
      margin-bottom: 0;
      margin-right: auto;
    }

    nef-date-range {
      margin-left: 35px;
    }
  }
}

section.performance {

  header {
    margin-bottom: 30px;

    nef-menu {
      margin-left: 35px;
    }
  }

  mat-card.graph {
    margin-bottom: 24px;
  }
}

section.service {
  padding-top: 20px;
  margin-bottom: 60px;

  header {
    height: 32px;
    margin-bottom: 20px;

    button.download-policy,
    a.edit-service {
      .text-extra-small-bold;
      color: @font-black;
      text-decoration: none;

      &:not(:first-child) {
        margin-left: 28px;
      }

      &:active,
      &:hover,
      &:focus {
        color: @blue;
      }

      img {
        margin-right: 10px;
        vertical-align: middle;
      }

      span {
        position: relative;
        top: 1px;
      }
    }
  }

  footer {
    margin-bottom: 20px;

    p {
      .text-style-italic;
      margin-top: unset;
      margin-bottom: unset;
      color: @font-dark-grey;
    }
  }
}

section.add-service {
  min-height: 500px;

  h1 {
    .font-weight-normal;
    margin:0
  }

  p {
    &:extend(.text-size);
    .letter-spacing-extra-small-alternative;
    .font-weight-light;
    width: 345px;
    margin-top: 12px;
    margin-bottom: 35px;
    color: @dark-grey;
    text-align: center;
  }

  button span {
    margin-left: 10px;
    text-transform: capitalize;
  }
}
