<section class="tenant-menu" [class.empty]="!activeTenant?.pipelines?.length">
  <button class="menu-trigger" mat-icon-button *ngIf="activeTenant?.name" [matMenuTriggerFor]="menu" disableRipple="true">
    <nef-avatar [name]="activeTenant.name" [width]="48" [height]="48"></nef-avatar>
    <span>
      {{ activeTenant.name }}
    </span>
    <img src="assets/icon-drowdown.svg">
  </button>

  <mat-menu #menu="matMenu" overlapTrigger="false">
    <a mat-menu-item *ngFor="let tenant of tenants" [routerLink]="['/tenants', tenant.identifier]">
      <nef-avatar [name]="tenant.name" [width]="32" [height]="32"></nef-avatar>
      <span>
        {{ tenant.name }}
      </span>
    </a>
  </mat-menu>
</section>

<section class="services" *ngIf="activeTenant?.pipelines?.length; else addService">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngIf="activeTenant?.pipelines?.length" [routerLink]="['/tenants', activeTenantId, 'service', 'overview']"
      routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" (click)="isChangingService = true">Overview</a>
    <a mat-tab-link *ngFor="let pipeline of activeTenant?.pipelines"
      [routerLink]="['/tenants', activeTenantId, 'service', pipeline.identifier]" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive" (click)="isChangingService = !rla.isActive">
      {{ pipeline?.name }}
      <sup *ngIf="pipeline.hasDraft">*</sup>
    </a>
  </nav>

  <nav class="add-service" *ngIf="(isTenantAdmin$ | async) || (isSystemAdmin$ | async)">
    <button mat-button (click)="onAddService()">
      <img src="assets/icon-add-circle.svg" width="17" height="17">
      <ng-container>Add Service</ng-container>
    </button>
  </nav>

  <ng-template #overview>
    <section class="sites">
      <header fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="35px">
        <h2>Active Sites</h2>
      </header>

      <nef-table [columns]="columns" [data]="dataSource" [clickable]="true" (rowClick)="onSiteClick($event)">
      </nef-table>
    </section>

    <section class="performance">
      <header fxLayoutAlign="start center">
        <h2>Performance</h2>

        <nef-date-range [range]="chartRange" (dateSelect)="onDateSelect($event)"></nef-date-range>

        <nef-menu label="Filters" icon="assets/icon-filters-inactive.svg" activeIcon="assets/icon-filters-active.svg">
          <mat-selection-list class="filters-list" (selectionChange)="filterChange($event)">
            <mat-list-option checkboxPosition="before" *ngFor="let pipeline of filterOptions" [value]="pipeline"
              [selected]="pipeline?.selected">
              {{ pipeline.name }}
            </mat-list-option>
          </mat-selection-list>
        </nef-menu>
      </header>

      <ng-container *ngIf="activeTenant">
        <mat-card class="graph">
          <nef-chart-throughput label="Throughput" [tenant]="activeTenant" [selectedPipelines]="selectedPipelines"
            [startTime]="chartStartTime" [selectedRate]="chartDuration" [active]="selectedMenuIndex === 0" [yAxesUnits]="UnitType.BitRate"
            (zoomEvent)="onZoomEvent($event)"></nef-chart-throughput>
        </mat-card>

        <mat-card class="graph">
          <nef-chart-latency label="Latency" [tenant]="activeTenant" [selectedPipelines]="selectedPipelines" [startTime]="chartStartTime"
            [selectedRate]="chartDuration" [active]="selectedMenuIndex === 0" [yAxesUnits]="UnitType.Time">
          </nef-chart-latency>
        </mat-card>

        <mat-card class="graph">
          <nef-chart-packetloss label="Loss" [tenant]="activeTenant" [selectedPipelines]="selectedPipelines" [startTime]="chartStartTime"
            [selectedRate]="chartDuration" [active]="selectedMenuIndex === 0" [yAxesUnits]="UnitType.PacketRate"></nef-chart-packetloss>
        </mat-card>
      </ng-container>
    </section>
  </ng-template>

  <ng-container *ngIf="selectedPipeline; else overview">
    <section class="service">
      <header fxLayoutAlign="end center">
        <button class="download-policy" (click)="onDownloadPolicy()">
          <img src="assets/icon-download.svg" width="17" height="17">

          <ng-container>Download Policy</ng-container>
        </button>

        <a class="edit-service" *ngIf="(isTenantAdmin$ | async) || (isSystemAdmin$ | async)"
          [routerLink]="['/tenants', activeTenantId, 'edit-service-designer']" [queryParams]="{
          identifier: selectedPipeline.identifier,
          name: selectedPipeline.name
        }">
          <img src="assets/icon-edit-service.svg" width="14" height="14">
          <ng-container>Edit Service</ng-container>
        </a>
      </header>

      <!--
        When changing the view to another service, re-load the nef-pipeline component.
        Minor hack because nef-pipeline doesn't support changing to a different pipeline.
      -->
      <nef-pipeline *ngIf="!isChangingService" [tenant]="activeTenant" [pipeline]="[selectedPipeline]" [sites]="sites" [active]="true"
        (togglePerfTrace)="onTogglePerfTrace($event)" [ngStyle]="{'height': canvasHeight + 'px'}" (onServiceRendered)="updateCanvasHeight()"
        #pipeline>
      </nef-pipeline>

      <footer *ngIf="selectedService?.description">
        <p>{{ selectedService.description }}</p>
      </footer>
    </section>

    <section class="performance">
      <header fxLayoutAlign="start center">
        <h2>Performance</h2>

        <nef-date-range *ngIf="!perfTraceEnabled" [range]="chartRange" (dateSelect)="onDateSelect($event)">
        </nef-date-range>
        <!-- NF Filter -->
        <nef-menu *ngIf="perfTraceEnabled" label="Filters" [disabled]="!activeTenant.pipelines.length"
          icon="assets/icon-filters-inactive.svg" activeIcon="assets/icon-filters-active.svg">
          <mat-selection-list class="filters-list" (selectionChange)="onNFFilterChange($event)">
            <mat-list-option checkboxPosition="before" *ngFor="let nf of nfOptions" [value]="nf" [selected]="nf.selected">{{ nf.name }}
            </mat-list-option>
          </mat-selection-list>
        </nef-menu>
      </header>

      <mat-card class="graph">
        <nef-chart-throughput *ngIf="!perfTraceEnabled" label="Throughput" [tenant]="activeTenant" [selectedPipelines]="[selectedPipeline]"
          [startTime]="chartStartTime" [selectedRate]="chartDuration" [active]="!perfTraceEnabled" [yAxesUnits]="UnitType.BitRate"
          (zoomEvent)="onZoomEvent($event)">
        </nef-chart-throughput>

        <nef-chart-throughput *ngIf="perfTraceEnabled" label="Throughput" [tenant]="activeTenant" [selectedPipelines]="[selectedPipeline]"
          [startTime]="chartStartTime" [selectedRate]="chartDuration" [active]="perfTraceEnabled" [yAxesUnits]="UnitType.BitRate"
          [pipelineStreamActive]="perfTraceEnabled" [selectedNFs]="selectedNFs" (zoomEvent)="onZoomEvent($event)">
        </nef-chart-throughput>
      </mat-card>

      <mat-card class="graph">
        <nef-chart-latency *ngIf="!perfTraceEnabled" label="Latency" [tenant]="activeTenant" [selectedPipelines]="[selectedPipeline]"
          [startTime]="chartStartTime" [selectedRate]="chartDuration" [active]="!perfTraceEnabled" [yAxesUnits]="UnitType.Time">
        </nef-chart-latency>

        <nef-chart-latency *ngIf="perfTraceEnabled" label="Latency" [tenant]="activeTenant" [selectedPipelines]="[selectedPipeline]"
          [startTime]="chartStartTime" [selectedRate]="chartDuration" [active]="perfTraceEnabled" [yAxesUnits]="UnitType.Time"
          [pipelineStreamActive]="perfTraceEnabled" [selectedNFs]="selectedNFs">
        </nef-chart-latency>
      </mat-card>

      <mat-card class="graph">
        <nef-chart-packetloss *ngIf="!perfTraceEnabled" label="Loss" [tenant]="activeTenant" [selectedPipelines]="[selectedPipeline]"
          [startTime]="chartStartTime" [selectedRate]="chartDuration" [active]="!perfTraceEnabled" [yAxesUnits]="UnitType.PacketRate">
        </nef-chart-packetloss>

        <nef-chart-packetloss *ngIf="perfTraceEnabled" label="Loss" [tenant]="activeTenant" [selectedPipelines]="[selectedPipeline]"
          [startTime]="chartStartTime" [selectedRate]="chartDuration" [active]="perfTraceEnabled" [yAxesUnits]="UnitType.PacketRate"
          [pipelineStreamActive]="perfTraceEnabled" [selectedNFs]="selectedNFs">
        </nef-chart-packetloss>
      </mat-card>
    </section>
  </ng-container>
</section>

<ng-template #addService>
  <ng-container *ngIf="(isTenantAdmin$ | async) || (isSystemAdmin$ | async); else noServices">
    <section class="add-service" *ngIf="!isLoading && activeTenant?.pipelines?.length === 0" fxLayout="column"
      fxLayoutAlign="center center">
      <h1>Add your first service</h1>

      <p>
        Create your first service in real time. Effective interaction. Better services.
      </p>

      <button class="primary-btn" mat-flat-button color="primary" (click)="onAddService()">
        <img src="assets/icon-add-square-white.svg" width="16" height="16">
        <ng-container>Add Service</ng-container>
      </button>
    </section>
  </ng-container>

  <ng-template #noServices>
    <section *ngIf="!isLoading" class="add-service" fxLayout="column" fxLayoutAlign="center center">
      <h1>No services</h1>

      <p>
        No services have yet to be created.
      </p>
    </section>
  </ng-template>
</ng-template>
