<header fxLayoutAlign="space-between center">
  <h2>Attachments</h2>

  <button *ngIf="isSystemAdmin$ | async" class="add" mat-flat-button color="primary" [disabled]="!sites" (click)="onAddAttachment()">
    <span>Add New Attachment</span>
    <img src="assets/icon-add-square-white.svg" width="16" height="16">
  </button>
</header>

<nef-table class="compact" [columns]="(isSystemAdmin$ | async) ? columns : columns | slice:0:columns.length - 1" [data]="dataSource"
  (actionClick)="onActionClick($event)"></nef-table>
