<mat-card>
  <mat-card-header>
    <mat-card-title>SMTP Configuration</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form id="smtp-form" [formGroup]="smtpForm" (ngSubmit)="submitSMTPForm()">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>E-Mail</mat-label>
        <input type="email" placeholder="Enter e-mail" matInput formControlName="email">
        <mat-error *ngIf="smtpForm.get('email').hasError('required')">
          E-mail is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="smtpForm.get('email').hasError('email')">
          Not a <strong>valid</strong> e-mail
        </mat-error>
      </mat-form-field>

      <div fxLayoutGap="25px">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Username</mat-label>
          <input placeholder="Enter username" autocomplete="username" matInput formControlName="username">
          <mat-error>
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Password</mat-label>
          <input type="password" placeholder="Enter password" autocomplete="new-password" matInput formControlName="password">
          <mat-error>
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayoutGap="25px">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Server</mat-label>
          <input placeholder="Enter server" matInput formControlName="server">
          <mat-error>
            Server is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Port</mat-label>
          <input type="number" placeholder="Enter port" matInput formControlName="port" [min]="SMTPServerPort.Min"
            [max]="SMTPServerPort.Max">
          <mat-error *ngIf="smtpForm.get('port').hasError('required')">
            Port is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="smtpForm.get('port').hasError('min')">
            Port minimum value is <strong>{{ SMTPServerPort.Min }}</strong>
          </mat-error>
          <mat-error *ngIf="smtpForm.get('port').hasError('max')">
            Port maximum value is <strong>{{ SMTPServerPort.Max }}</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions fxLayoutGap="24px">
    <button form="smtp-form" mat-flat-button color="primary" [disabled]="smtpForm.pristine">Save</button>

    <button mat-flat-button color="warn" *ngIf="hasSMTPConfiguration" (click)="deleteSMTPConfiguration()">Delete</button>
  </mat-card-actions>
</mat-card>
