@import 'styles/styles.less';
@import 'styles/overrides/cluster.overrides.less';
@import 'styles/overrides/edge-form.overrides.less';
@import 'styles/overrides/encap.overrides.less';
@import 'styles/overrides/template-select.overrides.less';

nef-root {

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: @blue;
  }

  nef-performance {

    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background: @blue;
    }

    mat-tab-header {
      height: 100px;

      mat-ink-bar {
        top: 0;
      }

      /*
        TODO(anton): workaround to hide header pagination
        Should update this solution when PR get implemented:
        https://github.com/angular/material2/issues/2236
      */

      .mat-tab-header-pagination.mat-tab-header-pagination {
        display: none;
      }

      .mat-tab-label-content {
        width: 0;
      }
    }

    mat-tab-group {

      .mat-tab-header {
        border-bottom: none;
      }
    }

    .mat-tab-label {
      background: @bg-grey;
      height: 100%;
      padding-top: 15px;
      flex: 1 1;
    }

    .mat-tab-label-active {
      background: @pure-white;

      .tab-title {
        color: @font-black;
      }
    }

    .mat-tab-label>.mat-tab-label-content {
      flex: 1 1;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .tab-title {
        padding-bottom: 16px;
      }
    }
  }

  nef-table {

    .mat-header-row {

      .mat-header-cell {

        &:first-child {

          .mat-sort-header-container {
            margin-left: unset;
          }
        }

        .mat-sort-header-container {
          margin-left: 18px;
          white-space: nowrap;
          overflow: hidden;

          .mat-sort-header-button {
            &:extend(.font-weight-bold);
            &:extend(.letter-spacing-small);
            text-transform: uppercase;

            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    &.compact {

      .mat-header-row {

        .mat-header-cell {

          .mat-sort-header-container {
            margin-left: unset;
          }
        }
      }
    }

    mat-cell {

      .mat-list-base .mat-list-item .mat-list-item-content {
        padding: 0;
      }

      mat-icon.link-icon {

        &.green svg {
          fill: @lime-green;
        }

        &.blue svg {
          fill: @blue;
        }

        &.yellow svg {
          fill: @sunny-yellow;
        }
      }
    }
  }

  nef-status-list {

    .mat-nav-list {

      .mat-list-item {

        .mat-list-item-content {
          width: 100%;
          flex-direction: column;
        }
      }

      .mat-progress-bar {
        height: 4px;
        border-radius: 2px;

        .mat-progress-bar-buffer {
          background-color: @soft-grey;
        }

        &.warning {
          .progress(@sunny-yellow);
        }

        &.good {
          .progress(@lime-green);
        }

        &.critical {
          .progress(@font-negative);
        }
      }

      .progress(@color) {

        .mat-progress-bar-fill {

          &::after {
            background-color: @color;
          }
        }
      }
    }
  }
}

.mat-selection-list .mat-list-item,
.mat-selection-list .mat-list-option {
  height: auto;
}

.mat-list {
  padding-top: 0;
}

mat-card.license-pool-dropdown {

  .mat-list-base[dense] .mat-list-item .mat-list-item-content {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.mat-card {
  box-sizing: border-box;

  mat-card&:not([class*=mat-elevation-z]) {
    &:extend(.flat-shadow);
    border-radius: 4px;

    .cdk-overlay-pane &,
    .alarm-popup & {
      border-radius: 2px;
      box-shadow: 0 3px 1px -2px fade(@pure-black, 20%), 0 2px 2px 0 fade(@pure-black, 14%), 0 1px 5px 0 fade(@pure-black, 12%);
    }
  }

  .mat-card-header-text,
  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
  }

  .mat-card-subtitle,
  .mat-card-content {
    margin-bottom: 20px;
  }

  &>.mat-selection-list {

    & .mat-list-item,
    & .mat-list-option {

      & .mat-list-item-content {
        padding: 4px 0px 4px 0px;
      }
    }
  }
}

mat-card-actions.mat-card-actions,
.mat-card>mat-card-actions.mat-card-actions:last-child,
mat-dialog-actions.mat-dialog-actions {
  min-height: unset;
  margin-bottom: 0;
  padding-bottom: unset;
}

[mat-stroked-button].mat-stroked-button,
[mat-flat-button].mat-flat-button {
  &:extend(.text-size);
  &:extend(.font-weight-bold);
  &:extend(.letter-spacing-extra-small-negative);
  border-radius: 4px;
  text-transform: lowercase;

  &::first-letter {
    text-transform: capitalize;
  }
}

.mat-primary {

  &[mat-stroked-button] {
    color: @blue;
    border-color: @blue;
  }

  &[mat-flat-button] {
    background-color: @blue;
  }
}

nef-auth .mat-card {
  width: 400px;
  padding-left: 32px;
  padding-right: 32px;

  .mat-card-header-text {
    margin-bottom: 32px;

    .mat-card-title {
      .h4-bold;
      margin-bottom: 0;
      line-height: 32px;
      text-transform: lowercase;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .mat-card-subtitle {
      .h6-bold;
      margin-top: 0;
      margin-bottom: 0;
      color: @arsenic;
      line-height: 24px;
    }

  }
}

.mat-form-field {
  margin-bottom: 20px;

  &.mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 25px;

    .mat-form-field-prefix,
    .mat-form-field-suffix {

      .mat-icon-button {
        width: 2.1em;
        height: 2.1em;
        margin-left: 0.2em;
        margin-right: 0.2em;
      }
    }
  }

  .mat-form-field-label {
    &:extend(.font-weight-bold);
    &:extend(.letter-spacing-small);
  }

  .mat-form-field-label,
  &.mat-focused .mat-form-field-label,
  &.mat-form-field-invalid .mat-form-field-label,
  .mat-input-element::placeholder {
    color: @dark-grey;
  }

  &.mat-form-field-should-float {

    .mat-form-field-label-wrapper {
      @label-bottom-space: 20px;

      top: -@label-bottom-space;
      padding-top: @label-bottom-space;
    }

    .mat-form-field-label {
      transform: translateY(-1.34375em) scale(0.85);
      text-transform: uppercase;

      mat-label {
        font-size: 14px;
      }
    }
  }

  .mat-input-element,
  .mat-input-element::placeholder {
    &:extend(.text-size);
    &:extend(.font-weight-normal);
    &:extend(.letter-spacing-extra-small-negative);
  }

  &.mat-focused .mat-form-field-ripple {
    background-color: @blue;
  }

  &.mat-form-field-invalid .mat-form-field-ripple {
    background-color: @red;
  }

  .mat-error {
    &:extend(.text-small-size);
    &:extend(.font-weight-normal);
    color: @red;

    strong {
      &:extend(.font-weight-bold);
    }
  }
}

nef-search,
nef-modify-chips {

  .mat-form-field .mat-form-field-wrapper {
    padding-bottom: unset;

    .mat-form-field-flex {
      padding-top: unset;

      mat-chip {
        &:extend(.text-extra-small-bold);
        border-radius: 12px;
        padding: 2px 10px;
        background-color: @light-grey;
        color: @dark-grey;

        mat-icon {
          width: 12px;
          height: 12px;
          color: unset;
          font-size: 12px;

          &,
          &.mat-chip-remove:hover {
            opacity: unset;
          }
        }
      }
    }

    .mat-form-field-underline {
      bottom: unset;
      display: none;
    }
  }
}

nef-search mat-form-field {
  &:extend(.flat-shadow);

  .mat-form-field-flex {
    align-items: center;

    .mat-form-field-infix {
      display: inline-flex;
      width: unset;
      padding-top: 0;
      padding-bottom: 0;

      .mat-chip-list-wrapper {
        height: 32px;
        flex-wrap: unset;
        margin: unset;
      }
    }
  }
}

nef-modify-chips {

  .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    padding-left: 8px;
    padding-right: 8px;
  }

  mat-card-actions button .mat-button-focus-overlay {
    background-color: @pure-white;
  }
}

nef-add-site-dialog div[formArrayName] .mat-form-field.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0;
}

mat-radio-group {
  margin-bottom: 40px;

  .mat-radio-button {
    &:extend(.font-weight-light);
    .text-size-alternative;
  }

  .mat-radio-button~.mat-radio-button {
    margin-left: 16px;
  }
}

.mat-accordion,
.mat-expansion-panel-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tenant-mat-menu {
  width: 300px;
}

.mat-snack-bar-container.alert-bar {
  background: @red;
}

.mat-snack-bar-container.info-bar {
  background: @green;
}

.mat-simple-snackbar-action {
  color: @font-grey;
}

ngb-datepicker {

  &>.ngb-dp-header {
    padding-top: 0;
    background-color: unset;
  }

  ngb-datepicker-navigation {
    margin-bottom: 10px;
  }

  ngb-datepicker-navigation-select.ngb-dp-navigation-select {
    justify-content: space-evenly;

    .custom-select {
      &:extend(.text-extra-small-bold);
      flex: initial;
      width: auto;
      height: 16px;
      background-color: initial;
      background-image: url('./assets/icon-select.svg');
      background-repeat: no-repeat;
      background-position: 95% 50%;
      cursor: pointer;
      appearance: none;
    }
  }

  ngb-datepicker-navigation.ng-star-inserted .ngb-dp-arrow {
    flex: initial;
    width: initial;
    height: 16px;

    .ngb-dp-arrow-btn {
      margin: 0;
      padding: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .ngb-dp-navigation-chevron {
        margin-right: 0;
        color: @soft-grey;
        font-size: 8px;
      }
    }

    &.right .ngb-dp-arrow-btn .ngb-dp-navigation-chevron {
      margin-left: 0;
    }
  }

  .ngb-dp-week.ngb-dp-weekdays {
    margin-bottom: 4px;
    border-bottom: initial;
  }

  .ngb-dp-weekdays .ngb-dp-weekday {
    &:extend(.text-extra-small-bold);
    color: @grey;
    font-style: initial;
  }

  .ngb-dp-weekdays .ngb-dp-weekday,
  .ngb-dp-week .ngb-dp-day,
  .custom-day {
    width: 25px;
    height: 25px;
  }

  .ngb-dp-weekdays .ngb-dp-weekday,
  .custom-day {
    line-height: 25px;
  }

  .custom-day {
    display: inline-block;
    text-align: center;
  }

  .disabled .custom-day {

    &,
    &:hover {
      background-color: initial;
      color: @font-grey;
    }
  }
}

nef-users nef-table {

  .mat-row .mat-cell.mat-column-user {
    display: block;
  }

  .mat-column-user {

    div {
      margin-bottom: 5px;

      nef-avatar {
        margin-right: 16px;
      }

      strong {
        .font-weight-bold;
      }

    }

    button[mat-button] {
      .text-small-bold;
      min-width: unset;
      padding-left: 5px;
      padding-right: 5px;
      color: @dark-grey;
      line-height: 20px;
    }
  }

  .mat-column-user,
  .mat-column-role,
  .mat-column-tenant {

    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;

      li {
        line-height: 24px;
      }
    }
  }

  .mat-column-role ul li:not(:last-child),
  .mat-column-tenant ul {
    margin-bottom: 8px;
  }

  .mat-column-role,
  .mat-column-tenant {

    ul li:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .mat-column-tenant {
    overflow: hidden;
    flex-wrap: wrap;

    ul {
      overflow: hidden;
      text-overflow: ellipsis;
      flex-basis: 100%;
      min-height: 24px;

      li {
        display: inline;
        white-space: nowrap;

        &:not(:last-child)::after {
          content: ', ';
        }
      }
    }
  }
}

nef-pipeline {

  .nf {

    .title {
      &:extend(.font-weight-bold);
      &:extend(.letter-spacing-small);
      fill: @font-dark-grey;
      text-transform: uppercase;
    }

    .site-label {
      &:extend(.font-weight-bold);
      &:extend(.letter-spacing-small);
      fill: @light-grey;
    }
  }

  #drawing svg {
    filter: drop-shadow(0px 0px 5px @grey );
    border: 1px dashed @grey;
    box-sizing: border-box;
  }

  .edge {
    stroke: @lime-green;
    fill: none;
  }

  .edge-filter {
    stroke: @bright-blue;
    fill: none;
  }

  .edge-container {

    &.edge-handler {

      .edge,
      .edge-filter,
      .edge-handler {

        &:hover {
          cursor: pointer;
        }
      }

      .edge-handler {
        opacity: 0;
      }
    }

    .port circle {
      stroke-width: 2;
      fill: @arsenic;
      stroke: darken(@arsenic, 10%);

      &.blue {
        fill: @blue;
        stroke: darken(@blue, 10%);
      }

      &.green {
        fill: @lime-green;
        stroke: darken(@lime-green, 10%);
      }

      &.orange {
        fill: @orange;
        stroke: darken(@orange, 10%);
      }

      &.purple {
        fill: @purple;
        stroke: darken(@purple, 10%);
      }
    }
  }

  .marker-arrow {
    &:extend(.text-small-size);
    &:extend(.font-weight-light);
    stroke-width: 2px;
  }

  .label,
  .label-filter {
    text-anchor: middle;
  }

  .label {
    fill: @lime-green;
    text-transform: uppercase;
  }

  .label-filter {
    fill: @bright-blue;
  }

  .remove-icon {

    &:hover {
      cursor: pointer;
    }
  }

  .drag-drop-arrow {
    opacity: 0.1;
  }

  .nf-port {
    pointer-events: all;

    rect {
      fill: @pure-white;
    }

    circle {
      fill: @dark-grey;
      stroke: @black;
    }

    .inf-label {
      fill: @dark-grey;
      .text-small-bold;

      &.hidden {
        visibility: hidden;
      }
    }
  }

  .traffic-port {

    .dot {
      fill: @blue;
    }

    .site-label {
      fill: @pure-white;
    }
  }

  .gear {
    cursor: pointer;

    rect,
    img {
      cursor: pointer;
    }
  }

  pattern {

    .top-border {
      .nf-color(@nf-color-mode-fill);
    }

    .top-border-port {
      fill: @dark-grey;
    }

    .rect-body {
      fill: @pure-white;
    }
  }
}

button {

  .mat-progress-spinner.mat-spinner {
    margin-left: auto;
    margin-right: auto;

    circle {
      stroke: @pure-white;
    }
  }
}

nef-search {

  .mat-progress-spinner.mat-spinner {

    circle {
      stroke: @dark-grey;
    }
  }
}

.mat-slide-toggle-content {
  .h6;
}

nef-network-function-menu {

  .mat-expansion-panel-body {
    padding: 0 15px 16px;
  }
}

nef-network-functions .mat-button-wrapper {
  text-transform: none;
}

.mat-form-field-infix {
  border-top: 0px;
}

mat-form-field {

  .mat-form-field-suffix {
    margin-top: auto;
    margin-bottom: auto;
  }
}

nef-edit-tenant {

  .mat-form-field-wrapper {

    .mat-form-field-underline {
      background-color: @soft-grey;
    }
  }
}

nef-packet-capture-dialog {

  .mat-progress-spinner {
    display: inline-block;

    circle {
      stroke: @pure-white;
    }
  }
}

nef-tenant-info {

  .navigation {

    .mat-tab-header {
      margin-right: 119px;
    }
  }
}

nef-alarm-list {

  .mat-list-base {
    padding-top: 0;

    .ng-star-inserted:not(mat-chip) {

      &:last-child {
        margin-bottom: 8px;
      }

      .mat-subheader {
        &:extend(.text-small);
        height: unset;
        padding: 0 16px;
        color: @dark-grey;
        line-height: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .mat-list-item {
      &:extend(.font-weight-light);
      display: flex;
      height: unset;
      min-height: 24px;

      .mat-list-item-content {
        margin: 0;
      }
    }

    .mat-divider {
      position: unset;
      margin-bottom: 12px;
    }
  }

  .mat-chip-list .mat-chip-list-wrapper {
    margin: unset;
  }
}

.alarm-popup {

  .mat-list {
    overflow-y: auto;
    height: 450px;
  }
}

.alarm-dropdown {

  .mat-list {
    overflow-y: auto;
    height: 450px;
  }
}

mat-sidenav {

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: initial;
  }

  .mat-list {
    height: 100%;
    padding: 0;
  }
}

nef-email-settings {

  .mat-card-header-text {
    width: 100%;
  }
}

.mat-tooltip {
  background-color: @black;
  white-space: pre-line;
}

.instance-status {

  margin-left: 150px;
  margin-top: 10px;
  pointer-events: none;

  .mat-step {

    &:nth-child(4) {

      .mat-vertical-content-container::before {
        border: none;
      }
    }

    &:last-child {
      display: none;
    }
  }

  .substep-label {
    font-size: 8pt;
    padding-bottom: 5px;
    color: @font-grey;

    &.file,
    &.error {
      max-width: 200px;
      margin-left: 5px;
    }

    &.file {
      padding-bottom: 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &.error {
      color: @red;

      img {
        padding-right: 3px;
      }
    }
  }

  .substep-label.active {
    color: @font-black;
  }
}

.primary-split-button>mat-button-toggle.mat-button-toggle {
  background-color: @blue;
  color: @pure-white;

  &.mat-button-toggle-checked {
    color: @pure-white;
  }

  .mat-button-toggle-label-content {
    line-height: 36px;
  }

  &.mat-button-toggle-disabled {
    background-color: fade(@pure-black, 12%);
    color: fade(@pure-black, 26%);
  }
}

.nf-tooltip {
  word-break: break-all;
  white-space: normal;
}

nef-chart-line {

  .reset-zoom {
    display: none;
  }
}

.sublist {
  padding-left: 10px;
  font-size: 12px;
}

nef-template-input {

  .mat-form-field.mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px;
  }

  .CodeMirror {
    margin-right: 35px;
    height: 20px;
    background: transparent;
    font-size: 14px;
  }

  nef-codemirror.show-variable-select .CodeMirror {
    margin-right: 275px;
  }

  .CodeMirror-scroll {
    // codemirror uses !important to specify the overflow behavior, therefore the only way we can modify it is to use !important as well.
    // If this rule is removed, there will be a slight scroll in the input field.
    overflow: hidden !important;
  }
}

nef-saas-login mat-card.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

nef-saas-home mat-card-footer > mat-checkbox {
  font-size: 12px;

  .mat-checkbox-inner-container {
    width: 12px;
    height: 12px;
  }
}
