@import 'styles/colors.less';
@import 'styles/fonts.less';
@import 'styles/material-icons.less';
@import 'styles/text.less';

html,
body {
  height: 100%;
}

body,
input,
textarea,
button {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  background-color: @bg-grey;
  color: @black;
}

:focus {
  outline: none;
}

img,
button,
select {
  border-style: none;
}

button {
  background-color: initial;
  cursor: pointer;
}

nef-network-functions,
nef-licenses,
nef-tunnels,
nef-attachments,
nef-users,
nef-tenants-list,
nef-file-manager,
nef-notification-settings,
nef-logging,
nef-provisioning,
nef-system-configuration {
  display: block;
  margin: 0 5%;
  padding-top: 60px;
  padding-bottom: 30px;
}

nef-network-functions,
nef-licenses,
nef-tunnels,
nef-attachments,
nef-users,
nef-tenants-list,
nef-file-manager,
nef-logging,
nef-provisioning,
nef-system-configuration {

  header {
    margin-bottom: 24px;

    h2 {
      .h2;
      .letter-spacing-medium-negative;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: auto;
    }
  }
}

nef-template-list,
nef-network-functions,
nef-tunnels,
nef-attachments,
nef-users,
nef-tenants-list,
nef-system-configuration {

  header button.add img {
    margin-left: 8px;
  }
}

nef-add-user-dialog,
nef-edit-user-dialog,
nef-edit-user-roles-dialog {

  [mat-dialog-title] {
    .h4-bold;
  }

  mat-dialog-actions button {
    width: 130px;
  }
}

nef-software-profile-manager-dialog nef-table button.action:first-child {
  display: none;
}
