<p class="message" fxLayoutAlign="start center">
  <img src="assets/icon-exclamation.svg" width="22" height="22">
  This Weaver is running in WeaverSync standby mode. Access is read-only.
</p>

<a class="more" routerLink="/system-configuration" fragment="weaversync">See More</a>
