@import '../../styles/styles.less';

:host {
  position: fixed;
  top: 0;
  z-index: @zindex-top;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: @banner-height;
  background-color: @soft-blue;
  color: @pure-white;
}

p {
  .text-size;
  .letter-spacing-extra-small-negative;
  margin-top: 0;
  margin-bottom: 0;

  img {
    margin-right: 8px;
  }
}

a.more {
  .text-extra-small;
  display: inline-block;
  margin-left: 8px;
  padding: 6px 10px;
  border: 1px solid @pure-white;
  border-radius: 15px;
  color: @pure-white;
  text-decoration: none;
}
