@import '../../styles/styles.less';

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host(.weaversync-standby-banner),
:host(.alarm-banner) {
  padding-top: @banner-height;
}

:host(.alarm-banner.weaversync-standby-banner) {
  padding-top: @banner-height * 2;

  nef-alarm-banner {
    top: @banner-height;
  }
}

.mat-sidenav-container {
  flex: 1;
  background-color: @bg-grey;

  mat-checkbox {
    .text-size-alternative-2;
    padding-left: 15px;
  }
}

.mat-sidenav {
  width: 368px;

  .content {
    padding-left: 16px;
    padding-right: 16px;

    mat-divider {
      margin-bottom: 21px;
    }
  }

  header {
    height: @banner-height;
    min-height: @banner-height;
    padding: 0 15px;

    h4 {
      .font-weight-bold;
    }
  }

  .no-alarms {
    height: 85%;
    .text-size-alternative-2;
    .font-weight-light;
    .text-style-italic;
    color: @font-grey;
  }

  nef-alarm-list {
    flex: 1;
  }

  a {
    text-decoration: none;
    .h6-light;

    &:link,
    &:visited {
      color: @blue;
    }

    &:hover,
    &:active {
      color: @font-blue;
    }
  }
}
