<nef-weaversync-standby-banner *ngIf="weaverSyncStandbyBanner"></nef-weaversync-standby-banner>
<nef-alarm-banner *ngIf="alarmBanner$ | async"></nef-alarm-banner>

<mat-sidenav-container>
  <mat-sidenav #sidenav cdkScrollable [opened]="isSidebarOpen" (opened)="onSidebarOpen()" (closed)="onSidebarClose()"
    [fixedInViewport]="true" mode="over" position="end">

    <ng-container *ngIf="sidebarContent === undefined; else showContent">
      <header fxLayout="row" fxLayoutAlign="space-between center">
        <h4>Notifications</h4>

        <a routerLink="/alerts" *ngIf="isSystemAdmin$ | async" (click)="closeSidebar()">Settings</a>
      </header>

      <mat-checkbox *ngIf="isSystem$ | async" (change)="onCheckViewTenantNotifications($event.checked)" #viewTenantCheckbox>View tenant
        notifications</mat-checkbox>

      <p class="no-alarms" *ngIf="!alarmsDataSource?.length" fxLayoutAlign="center center">No notifications</p>

      <nef-alarm-list *ngIf="alarmsDataSource" [dataSource]="alarmsDataSource"></nef-alarm-list>
    </ng-container>

    <ng-template #showContent>
      <div class="content">
        <h4>{{ sidebarTitle }}</h4>
        <mat-divider></mat-divider>
        <ng-container *ngComponentOutlet="sidebarContent; injector: injector">
        </ng-container>
      </div>
    </ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <nef-toolbar></nef-toolbar>

    <div fxLayout="row">
      <div fxFlex="1 1 5%"></div>

      <div class="content" fxFlex="1 1 90%">
        <router-outlet></router-outlet>
      </div>

      <div fxFlex="1 2 5%"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
