<h2>Alerts Settings</h2>

<div class="content" fxLayout="row" fxLayoutGap="50px">
  <mat-card fxFlex="20">
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="email" routerLinkActive="active">Email</a>
        <a mat-list-item routerLink="slack" routerLinkActive="active">Slack</a>
        <a mat-list-item routerLink="snmp" routerLinkActive="active">SNMP</a>
        <a mat-list-item routerLink="webhooks" routerLinkActive="active">Webhooks</a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>

  <div fxFlex="60">
    <router-outlet></router-outlet>
  </div>
</div>
