@import '../../styles/styles.less';

h2 {
  .h2;
  margin-top: 0;
  margin-bottom: 45px;
}

.content {

  mat-card {
    width: 280px;
    padding: 10px;
    height: 100%;

    mat-nav-list {
      padding: 0;

      .mat-list-item {
        height: 40px;

        &.active {
          background-color: @light-grey;
        }
      }
    }
  }
}
