<div class="container">
  <canvas *ngIf="!testMode; else testView" #chartCanvas></canvas>
  <ng-template #testView>
    <table>
      <tbody>
        <tr *ngFor="let dataSet of dataSets">
          <td>
            {{ dataSet.label }}
          </td>
          <td *ngFor="let point of dataSet.data">
            <div>{{ $any(point.x).getTime() }}</div>
            <div>{{ point.y }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
