@import '../../../styles/styles.less';

.container {
  margin: 0 5%;
  padding-top: 25px;
  padding-bottom: 30px;

  nav {
    margin-bottom: 35px;

    a.back {
      padding: 0;
      color: @dark-grey;
      text-decoration: none;

      img {
        margin-right: 8px;
        vertical-align: -6px;
      }
    }
  }

  h1 {
    &:extend(.h2);
    margin-top: unset;
    margin-bottom: 40px;

    nef-avatar {
      &:extend(.h4-size);
    }
  }
}
