<div fxLayout="column" class="container">
  <nav>
    <a class="back" [routerLink]="['/sites']">
      <img src="assets/icon-arrow-left.svg" width="24" height="24">
      <span>Sites</span>
    </a>
  </nav>

  <h1 *ngIf="site">
    <nef-avatar [name]="site.config.name" [width]="48" [height]="48"></nef-avatar>
    {{ site.config.name }}
  </h1>

  <div class="cluster-content" fxLayout="row" fxLayoutGap="120px">
    <div fxLayout="column" fxFlex="25%" fxLayoutGap="25px">
      <a mat-flat-button color="primary" *ngIf="site" [routerLink]="['/sites', site?.config?.identifier]">Overview</a>
      <div class="item-menus" fxFlex>
        <nef-status-list title="Servers" [items]="serverItems" [add]="true" (handleAddClick)="onAddServerClick()">
        </nef-status-list>
      </div>
    </div>
    <div class="details" fxFlex fxGrow="3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
