<header fxLayoutAlign="space-between center">
  <h2 fxLayoutAlign="space-between center">
    Licenses
    <button *ngIf="isSystemAdmin$ | async" class="three-dots-button" mat-icon-button aria-label="Manage Licenses"
      [matMenuTriggerFor]="menu"></button>
    <mat-menu #menu="matMenu" cdkOverlayOrigin #licensePoolDropdownOrigin="cdkOverlayOrigin">
      <button mat-menu-item (click)="onOpenGrantLicensePoolDropdown()"
        [disabled]="!hasCheckedLicenses || licensePoolSelection.selected.length !== 0">Grant</button>
      <button mat-menu-item (click)="onRevokeLicenses()"
        [disabled]="!hasCheckedLicenses || licensePoolSelection.selected.length !== 0">Revoke</button>
      <button mat-menu-item (click)="onDeleteLicenses()" [disabled]="isDeleteDisabled">Delete</button>
    </mat-menu>
  </h2>

  <div class="actions" fxLayoutGap="15px" *ngIf="isSystemAdmin$ | async">
    <button mat-flat-button color="primary" [disabled]="!pools?.length" (click)="onAddNewLicense()">Add New
      License</button>

    <button mat-stroked-button color="primary" (click)="onAddNewPool()">Add New Pool</button>
  </div>
</header>

<section *ngFor="let pool of pools">
  <div class="pool-title" fxLayout="row" fxLayoutAlign="space-between">

    <mat-checkbox (change)="onLicensePoolChecked(pool, $event.checked)" *ngIf="isSystemAdmin$ | async; else poolID">
      <span class="h4-bold">{{ pool.name }}</span>
    </mat-checkbox>
    <ng-template #poolID>
      <span class="h4-bold">{{ pool.name }}</span>
    </ng-template>

    <span class="h6-light">
      <!-- TODO(eric): display assigned services here -->
    </span>
  </div>

  <table mat-table [dataSource]="dataSourceMap.get(pool.identifier)" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox #licenseCheckbox *ngIf="row.enable" [value]="row" (change)="onLicenseChecked()"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="nf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NETWORK FUNCTION</th>
      <td mat-cell class="h6-light" [ngClass]="{'inactive': !element.enable}" *matCellDef="let element">{{element.nf}}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>LICENSE NAME</th>
      <td mat-cell class="h6-light" [ngClass]="{'inactive': !element.enable}" *matCellDef="let element">{{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="grantingPool">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GRANTING POOL</th>
      <td mat-cell class="h6-light" [ngClass]="{'inactive': !element.enable}" *matCellDef="let element">{{
        findPool(element.grantingPool)?.name
      }}</td>
    </ng-container>

    <ng-container matColumnDef="rootPool">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ROOT POOL</th>
      <td mat-cell class="h6-light" [ngClass]="{'inactive': !element.enable}" *matCellDef="let element">{{
        findPool(element.rootPool)?.name
      }}</td>
    </ng-container>

    <ng-container matColumnDef="expiration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>EXPIRATION</th>
      <td mat-cell class="h6-light" [ngClass]="{'inactive': !element.enable}" *matCellDef="let element">
        <span>{{element.expiration.date | date : 'MMM dd, y'}}</span>
        <img src="assets/icon-alert-circle.svg" width="16" height="16" *ngIf="element.expiration.isExpired">
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>STATUS</th>
      <td mat-cell *matCellDef="let element">
        <span class="badge green" [ngClass]="{
          green: (element.status === LicenseState.AVAILABLE),
          grey: (element.status === LicenseState.GRANTED),
          blue: (element.status === LicenseState.INUSE),
          yellow: (element.status === LicenseState.RECLAIMING)
        }">
          {{element.statusDescription}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="usedBy">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>USED BY</th>
      <td class="h6-light" mat-cell *matCellDef="let element">
        <small>
          <ng-container *ngFor="let node of element.usedBy | keyvalue:originalOrder; first as isFirst">
            <ng-container *ngIf="!isFirst"> &#9656; </ng-container>
            <ng-container>{{ node.value }}</ng-container>
          </ng-container>
        </small>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="(isSystemAdmin$ | async) ? columns : columns | slice:2"></tr>
    <tr mat-row *matRowDef="let row; columns: (isSystemAdmin$ | async) ? columns : columns | slice:2"></tr>
  </table>
</section>

<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="noop-backdrop" cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOpen]="isGrantLicensePoolDropdownOpen" [cdkConnectedOverlayPositions]="licensePoolDropdownPositions"
  [cdkConnectedOverlayOrigin]="licensePoolDropdownOrigin" (backdropClick)="closeGrantLicensePoolDropdown()">
  <mat-card class="grant-licenses">
    <mat-card-header>
      <mat-card-title>Grant {{ selectedLicenses.length > 1 ? 'licenses' : 'license' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <div *ngFor="let license of selectedLicenses" class="licenses">
        "{{ license.name }}"
      </div>
      <p>To:</p>
      <mat-form-field>
        <mat-select placeholder="Select Pool" (selectionChange)="onSelectPool($event.value)">
          <mat-option *ngFor="let pool of pools" [value]="pool.identifier" [disabled]="pool.disableSelect">
            {{ pool.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutGap="32px">
      <button mat-flat-button color="primary" fxFlex="1 1 auto" [disabled]="!selectedPoolId" (click)="onGrantLicenses()">Confirm</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
