@import '../../styles/styles.less';

header {
  margin-bottom: 67px;
}

section {

  table {
    width: 100%;
    margin-bottom: 48px;

    .inactive {
      color: @font-grey;
      .text-style-italic;
    }

    td {

      &.mat-column-expiration img {
        margin-left: 8px;
        vertical-align: -2px;
      }

      &.mat-column-usedBy {
        width: 180px;

        span.nf-instance-id[ng-reflect-disabled=false] {
          cursor: pointer;
        }
      }
    }
  }

  .pool-title {
    margin-bottom: 16px;

    .h4-bold {
      vertical-align: -2px;
      margin-left: 15px;
    }
  }
}

.grant-licenses {
  padding: 15px;
  width: 220px;

  .licenses {
    padding-bottom: 10px;
  }

  .mat-form-field {
    margin-top: 15px;
    padding-bottom: 0;
  }

  .mat-card-content {
    margin-bottom: 0px;
  }
}
