@import '../../styles/styles.less';

:host {
  display: block;
  padding-bottom: 95px;
}

.performance {
  margin-top: 64px;
  margin-bottom: 32px;

  h2 {
    .h2;
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    .h4;
    margin-top: 0;
    margin-bottom: 0;
  }
}

nef-performance {
  margin-bottom: 50px;
}

.filters-list {
  max-height: 280px;
  overflow-y: scroll;
}

section.add-site {
  min-height: 500px;

  h1 {
    .font-weight-normal;
    margin: 0
  }

  p {
    .text-size;
    .letter-spacing-extra-small-alternative;
    .font-weight-light;
    width: 345px;
    margin-top: 12px;
    margin-bottom: 35px;
    color: @dark-grey;
    text-align: center;
  }

  button span {
    margin-left: 10px;
    text-transform: capitalize;
  }
}