<div>
  <div class="summary">
    <nef-summary [cluster]="cluster" [active]="true"></nef-summary>

    <div class="performance" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="35px">
      <h4>Performance</h4>
      <div fxLayout="row" fxLayoutGap="35px">
        <!-- DATE RANGE FILTER -->
        <nef-date-range [range]="chartRange" (dateSelect)="onDateSelect($event)"></nef-date-range>

        <!-- SERVICES FILTER -->
        <nef-menu label="Filters" [disabled]="!enableFilterMenu" icon="assets/icon-filters-inactive.svg"
          activeIcon="assets/icon-filters-active.svg">
          <mat-selection-list class="filters-list" (selectionChange)="selectionChange($event)">
            <mat-list-option checkboxPosition="before" *ngFor="let pipeline of pipelines" [value]="pipeline" [selected]="pipeline.selected">
              {{ pipeline.name }}
            </mat-list-option>
          </mat-selection-list>
        </nef-menu>
      </div>
    </div>

    <!-- PERFORMANCE CHARTS -->
    <nef-performance [cluster]="cluster" [active]="pipelines?.length !== 0" [selectedPipelines]="selectedPipelines"
      [startTime]="chartStartTime" [rate]="chartDuration" (chartChange)="performanceChartChange($event)" (zoomEvent)="onZoomEvent($event)">
    </nef-performance>

    <!-- USAGE OVERVIEW -->
    <nef-site-usage *ngIf="cluster" [cluster]="cluster"></nef-site-usage>
  </div>
  <ng-template #loading>
    Loading ...
  </ng-template>
</div>
