@import '../../../styles/styles.less';

:host {
  display: block;
}

a {
  display: block;
  padding: 12px 16px;
  color: unset;
  text-decoration: none;

  &:hover {
    background-color: fade(@pure-black, 4%);
  }
}

img {
  margin-right: 16px;
}

h1,
p {
  margin-top: unset;
  margin-bottom: unset;
}

h1 {
  &:extend(.h6-bold);
}

p {
  color: @dark-grey;
}
