@import '../../../styles/styles.less';

:host {
  display: block;
  width: 340px;
}

mat-card {
  .arrow-top;
  background-color: @black;

  &::before {
    left: 60px;
    border-color: @black;
  }

  mat-card-title {
    &:extend(.text-extra-small-size);
    &:extend(.letter-spacing-small);
    &:extend(.font-weight-bold);
    color: @soft-grey;
    text-transform: uppercase;
  }

  mat-card-content mat-form-field {
    width: 100%;
    background-color: fade(@pure-white, 5%);
    border-radius: 2px;

    &,
    mat-chip {
      color: @pure-white;
    }

    mat-chip {
      min-height: 22px;
      background-color: fade(@pure-white, 10%);

      &::after {
        background-color: fade(@pure-white, 95%);
      }
    }

    input {
      flex: 1;
      min-width: 100px;
      margin-top: 6px;
      margin-bottom: 6px;
      caret-color: unset;
    }
  }

  mat-card-actions button:first-child {
    color: @pure-white;
  }
}
