<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance="standard">
      <mat-chip-list aria-label="Chips" #chipList>
        <mat-chip removable *ngFor="let chip of chips" (removed)="onRemoveChip(chip)">
          {{ chip }}
          <mat-icon matChipRemove>close</mat-icon>
        </mat-chip>

        <input aria-label="Chip" matChipInputAddOnBlur [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
          (matChipInputTokenEnd)="onAddChip($event)">
      </mat-chip-list>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions fxLayoutAlign="space-between">
    <button mat-button (click)="onCancel()">Cancel</button>

    <button mat-flat-button color="primary" (click)="onSave()">Save</button>
  </mat-card-actions>
</mat-card>
